force-app/main/default/flows/Account_Snapshot_Scheduled_Monthly_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>First_of_month_check</name>
        <label>First of month check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_the_first</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dayOfMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Snapshot</targetReference>
            </connector>
            <label>Is the first</label>
        </rules>
    </decisions>
    <description>Monthly creation of account snapshot records for all non inactive clients</description>
    <environments>Default</environments>
    <formulas>
        <name>dayOfMonth</name>
        <dataType>Number</dataType>
        <expression>DAY({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>hasCSAT</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.CSAT_Average__c}))</expression>
    </formulas>
    <formulas>
        <name>hasNPS</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.NPS_Average__c}))</expression>
    </formulas>
    <formulas>
        <name>hasReview</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.Review_Average__c}))</expression>
    </formulas>
    <interviewLabel>Account Snapshot | Scheduled | Monthly Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Snapshot | Scheduled | Monthly Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Snapshot</name>
        <label>Create Snapshot</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSAT_Average__c</field>
            <value>
                <elementReference>$Record.CSAT_Average__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Sentiment__c</field>
            <value>
                <elementReference>$Record.Client_Sentiment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_CSAT__c</field>
            <value>
                <elementReference>hasCSAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_NPS__c</field>
            <value>
                <elementReference>hasNPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Review__c</field>
            <value>
                <elementReference>hasReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPS_Average__c</field>
            <value>
                <elementReference>$Record.NPS_Average__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Average__c</field>
            <value>
                <elementReference>$Record.Review_Average__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Snapshot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>First_of_month_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Plan_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-06-24</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
