force-app/main/default/flows/Add_On_Scheduled_Send_Auto_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Final_DI_Reminder</name>
        <label>Send Final DI Reminder</label>
        <locationX>2030</locationX>
        <locationY>1584</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Copy_2_of_Assign_Fault_Subject</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailsToSendTo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>ubiquitypayroll@myubiquity.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>sponsorIdForAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>templateId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_First_DI_Reminder</name>
        <label>Send First DI Reminder</label>
        <locationX>1238</locationX>
        <locationY>1584</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Stage_to_Follow_Up_Sent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Subject</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailsToSendTo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>ubiquitypayroll@myubiquity.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>sponsorIdForAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>templateId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_First_Sponsor_Email_to_Emails_to_Send_To</name>
        <label>Add First Sponsor Email to Emails to Send To</label>
        <locationX>1287</locationX>
        <locationY>960</locationY>
        <assignmentItems>
            <assignToReference>emailsToSendTo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sponsorEmailForAlert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EPS_or_DI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fault_Subject</name>
        <label>Assign Fault Subject</label>
        <locationX>1634</locationX>
        <locationY>1692</locationY>
        <assignmentItems>
            <assignToReference>caseSubj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstDIFaultSubj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Email_Fault_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Sponsor_Id_and_Email</name>
        <label>Assign First Sponsor Id and Email</label>
        <locationX>1375</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>sponsorIdForAlert</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sponsor_and_Emails_Loop.Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sponsorEmailForAlert</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sponsor_and_Emails_Loop.Useable_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sponsorFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sponsor_and_Emails_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_Payroll_Provider_Template_Id</name>
        <label>Assign Other Payroll Provider Template Id</label>
        <locationX>1370</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>templateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00XUo000001UnfR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_First_DI_Reminder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Template for Paylocity and Paycor</description>
        <name>Assign_P_P_Template_Id</name>
        <label>Assign P-P Template Id</label>
        <locationX>1106</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>templateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00XUo000001Unp7</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_First_DI_Reminder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vendor_as_Recipient</name>
        <label>Assign Vendor as Recipient</label>
        <locationX>2954</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>emailsToSendTo</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>emailsToSendTo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailsToSendTo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Payroll_Vendor_Email__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Other_Payroll_Provider_Template_Id</name>
        <label>Copy 1 of Assign Other Payroll Provider Template Id</label>
        <locationX>2162</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>templateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00XUo000001UE9p</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Final_DI_Reminder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Template for Paylocity and Paycor</description>
        <name>Copy_1_of_Assign_P_P_Template_Id</name>
        <label>Copy 1 of Assign P-P Template Id</label>
        <locationX>1898</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>templateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00XUo000001UE9p</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Final_DI_Reminder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_2_of_Assign_Vendor_as_Recipient</name>
        <label>Copy 1 of Copy 2 of Assign Vendor as Recipient</label>
        <locationX>3482</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>emailsToSendTo</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>emailsToSendTo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailsToSendTo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Payroll_Vendor_Email__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Fault_Subject</name>
        <label>Copy 2 of Assign Fault Subject</label>
        <locationX>2426</locationX>
        <locationY>1692</locationY>
        <assignmentItems>
            <assignToReference>caseSubj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientReminderEmailFault</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Email_Fault_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Vendor_as_Recipient</name>
        <label>Copy 2 of Assign Vendor as Recipient</label>
        <locationX>3218</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>emailsToSendTo</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>emailsToSendTo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailsToSendTo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Payroll_Vendor_Email__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Get_Other_Emails</name>
        <label>Get Other Emails</label>
        <locationX>1639</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>emailsToSendTo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sponsor_and_Emails_Loop.Useable_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sponsor_and_Emails_Loop</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>monday</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Awaiting_Client_Response_Reminders</name>
        <label>Awaiting Client Response Reminders</label>
        <locationX>2261</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>Awaiting_Vendor_Response_Reminders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Reminder</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>monday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payroll_Provider</targetReference>
            </connector>
            <label>First Reminder</label>
        </rules>
        <rules>
            <name>Final_Awaiting_Client_Response_Reminder</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow Up Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>13.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>monday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Payroll_Provider</targetReference>
            </connector>
            <label>Final Awaiting Client Response Reminder</label>
        </rules>
        <rules>
            <name>Product_Closed_Alert</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow Up Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>23.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>monday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Stalled</targetReference>
            </connector>
            <label>Product Closed Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Awaiting_Vendor_Response_Reminders</name>
        <label>Awaiting Vendor Response Reminders</label>
        <locationX>3284</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>Test_Files_Reminder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provider_Follow_Up</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Vendor Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>monday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Vendor_as_Recipient</targetReference>
            </connector>
            <label>Provider Follow Up</label>
        </rules>
        <rules>
            <name>Final_Vendor_Reminder_and_Reminder_to_Client</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Vendor Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>21.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>21.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>monday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Vendor_as_Recipient</targetReference>
            </connector>
            <label>Final Vendor Reminder and Reminder to Client</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Payroll_Provider</name>
        <label>Copy 2 of Payroll Provider</label>
        <locationX>2030</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Other_Payroll_Provider_Template_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Others</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Paylocity_or_Paycor</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payroll_Provider__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Paylocity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payroll_Provider__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Paycor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_P_P_Template_Id</targetReference>
            </connector>
            <label>Copy 2 of Paylocity or Paycor</label>
        </rules>
    </decisions>
    <decisions>
        <name>EPS_or_DI</name>
        <label>EPS or DI?</label>
        <locationX>1287</locationX>
        <locationY>1068</locationY>
        <defaultConnector>
            <targetReference>Awaiting_Client_Response_Reminders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DI Path</defaultConnectorLabel>
        <rules>
            <name>EPS_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enhanced Payroll Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Login_Credentials_Reminders</targetReference>
            </connector>
            <label>EPS Path</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_the_Weekend</name>
        <label>Is it the Weekend?</label>
        <locationX>404</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Get_ACs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_don_t_run</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>dayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <label>Yes, don&apos;t run</label>
        </rules>
    </decisions>
    <decisions>
        <name>Login_Credentials_Reminders</name>
        <label>Login Credentials Reminders</label>
        <locationX>314</locationX>
        <locationY>1176</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Login_First_Reminder</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Provider Access</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>17.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>monday</elementReference>
                </rightValue>
            </conditions>
            <label>Login First Reminder</label>
        </rules>
        <rules>
            <name>Integration_Closed_Notice</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Provider Access</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>28.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>28.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>31.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>monday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Stalled_EPS</targetReference>
            </connector>
            <label>Integration Stalled Notice</label>
        </rules>
        <rules>
            <name>Incorrect_Access_First_Reminder</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incorrect Access Level</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>17.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>monday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payroll_Case_to_Follow_Up</targetReference>
            </connector>
            <label>Incorrect Access First Reminder</label>
        </rules>
        <rules>
            <name>Incorrect_Access_to_Closed</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incorrect Access Level</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>28.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>28.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>31.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>monday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incorrect_Access_Payroll_Follow_Up_Case</targetReference>
            </connector>
            <label>Incorrect Access to Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payroll_Provider</name>
        <label>Payroll Provider</label>
        <locationX>1238</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>Assign_Other_Payroll_Provider_Template_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Others</defaultConnectorLabel>
        <rules>
            <name>Paylocity_or_Paycor</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payroll_Provider__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Paylocity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payroll_Provider__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Paycor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_P_P_Template_Id</targetReference>
            </connector>
            <label>Paylocity or Paycor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sponsor</name>
        <label>Sponsor?</label>
        <locationX>1507</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Get_Other_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Get Other Sponsors and Advisors</defaultConnectorLabel>
        <rules>
            <name>Yes_First_Sponsor</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Sponsor_and_Emails_Loop.Contact_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sponsor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sponsor_and_Emails_Loop.Contact_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Authorized Buyer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sponsorFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_Sponsor_Id_and_Email</targetReference>
            </connector>
            <label>Yes, First Sponsor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Files_Reminder</name>
        <label>Test Files Reminder</label>
        <locationX>3614</locationX>
        <locationY>1392</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Test_Files_Reminder</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Files Reviewed - Corrections Needed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysSinceStageChange</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>monday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_Assign_Vendor_as_Recipient</targetReference>
            </connector>
            <label>Send Test Files Reminder</label>
        </rules>
    </decisions>
    <description>This flow runs daily and checks the difference between the current date and the last time the add-on stage was changed, then sends the corresponding auto-email</description>
    <environments>Default</environments>
    <formulas>
        <name>dayOfWeek</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>daysSinceStageChange</name>
        <dataType>Number</dataType>
        <expression>TODAY() - {!$Record.Last_Stage_Change__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Add-On | Scheduled | Send Auto Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add-On | Scheduled | Send Auto Emails</label>
    <loops>
        <name>Sponsor_and_Emails_Loop</name>
        <label>Sponsor and Emails Loop</label>
        <locationX>1287</locationX>
        <locationY>468</locationY>
        <collectionReference>acsFromOpp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sponsor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_First_Sponsor_Email_to_Emails_to_Send_To</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Fault_Case</name>
        <label>Create Email Fault Case</label>
        <locationX>1634</locationX>
        <locationY>1800</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Payroll</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00537000002STLD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>$Record.Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sender_Role__c</field>
            <value>
                <stringValue>Sponsor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubj</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Incorrect_Access_Payroll_Follow_Up_Case</name>
        <label>Incorrect Access Payroll Follow Up Case</label>
        <locationX>578</locationX>
        <locationY>1284</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Payroll</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>It has been 4 weeks and this plan still have the incorrect access level for their integration. Please follow up with client.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00537000002STLD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>$Record.Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01237000000XwGFAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sender_Role__c</field>
            <value>
                <stringValue>Sponsor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow Up on Additional Access - 2nd Warning</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Member__c</field>
            <value>
                <stringValue>Aaron Fekete</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Payroll_Case_to_Follow_Up</name>
        <label>Payroll Case to Follow Up</label>
        <locationX>314</locationX>
        <locationY>1284</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Payroll</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This plan still have the incorrect access level for their integration. Please follow up with client.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00537000002STLD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>$Record.Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01237000000XwGFAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sender_Role__c</field>
            <value>
                <stringValue>Sponsor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow Up on Additional Access</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Member__c</field>
            <value>
                <stringValue>Aaron Fekete</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_ACs</name>
        <label>Get ACs</label>
        <locationX>1287</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sponsor_and_Emails_Loop</targetReference>
        </connector>
        <filterLogic>1 AND 5 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Role__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Sponsor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Role__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Advisor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Authorized Buyer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Useable_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Associated_Contact__c</object>
        <outputReference>acsFromOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Full_Name__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Contact_Role__c</queriedFields>
        <queriedFields>Useable_Email__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Stage_to_Follow_Up_Sent</name>
        <label>Update Stage to Follow Up Sent</label>
        <locationX>1238</locationX>
        <locationY>1692</locationY>
        <inputAssignments>
            <field>Product_Stage__c</field>
            <value>
                <stringValue>Follow Up Sent</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Stalled</name>
        <label>Update to Stalled</label>
        <locationX>2690</locationX>
        <locationY>1284</locationY>
        <inputAssignments>
            <field>Product_Stage__c</field>
            <value>
                <stringValue>Integration Stalled - No Response</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Status__c</field>
            <value>
                <stringValue>Stalled Setup</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Stalled_EPS</name>
        <label>Update to Stalled, EPS</label>
        <locationX>50</locationX>
        <locationY>1284</locationY>
        <inputAssignments>
            <field>Product_Stage__c</field>
            <value>
                <stringValue>Integration Stalled - No Response</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Status__c</field>
            <value>
                <stringValue>Stalled Setup</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>278</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_it_the_Weekend</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Service_Option__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enhanced Payroll Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Option__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Direct Integration</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>Add_On_Products__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-02-20</startDate>
            <startTime>10:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ceCaseDesc</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Payroll team has not heard back from the client about setting up their EPS payroll integration. Can you please reach out to the sponsor(s) to see if they are still interested in setting up Payroll Integration?</text>
    </textTemplates>
    <textTemplates>
        <name>ceCaseSubj</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Payroll Integration Follow Up Needed</text>
    </textTemplates>
    <textTemplates>
        <name>clientReminderEmailFault</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Client Reminder email failed to send for {!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>firstDIFaultSubj</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>First DI Reminder Email Failed to Send for {!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>integrationStalledFault</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Integration Stalled email failed to send for {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <name>acsFromOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Associated_Contact__c</objectType>
    </variables>
    <variables>
        <name>caseSubj</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailsToSendTo</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sponsorEmailForAlert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sponsorFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>sponsorIdForAlert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>templateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
