force-app/main/default/flows/Associated_Contact_ONE_TIME_SCHEDULED_Email_Imp_2_0_Rollout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Advisor</name>
        <label>Email Advisor</label>
        <locationX>882</locationX>
        <locationY>564</locationY>
        <actionName>Associated_Contact__c.One_Time_Rollout_Email_UBQT_Advisors</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.One_Time_Rollout_Email_UBQT_Advisors</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Advisor_TPA</name>
        <label>Email Advisor/TPA</label>
        <locationX>1146</locationX>
        <locationY>564</locationY>
        <actionName>Associated_Contact__c.One_Time_Rollout_Email_Simply_Advisors</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.One_Time_Rollout_Email_Simply_Advisors</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Client</name>
        <label>Email Client</label>
        <locationX>354</locationX>
        <locationY>444</locationY>
        <actionName>Associated_Contact__c.One_Time_Rollout_Email_UBQT_Clients</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.One_Time_Rollout_Email_UBQT_Clients</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Client_Simply</name>
        <label>Email Client</label>
        <locationX>686</locationX>
        <locationY>629</locationY>
        <actionName>Associated_Contact__c.One_Time_Rollout_Email_Simply_Clients</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.One_Time_Rollout_Email_Simply_Clients</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Primary_Client</name>
        <label>Primary Client</label>
        <locationX>882</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UBQT_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Implementation__r.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ubiquity Retirement + Savings</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Client</targetReference>
            </connector>
            <label>UBQT Client</label>
        </rules>
        <rules>
            <name>Simply_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Implementation__r.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Client_Simply</targetReference>
            </connector>
            <label>Simply Client</label>
        </rules>
        <rules>
            <name>UBQT_Advisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Advisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ubiquity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AC_Temp_List__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Advisor</targetReference>
            </connector>
            <label>UBQT Advisor</label>
        </rules>
        <rules>
            <name>Simply_Advisor_TPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Advisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TPA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Simply</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AC_Temp_List__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Advisor_TPA</targetReference>
            </connector>
            <label>Simply Advisor/TPA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Associated Contact | ONE TIME SCHEDULED | Email Imp 2.0 Rollout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Associated Contact | ONE TIME SCHEDULED | Email Imp 2.0 Rollout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Primary_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Implementation_Status__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>Associated_Contact__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-06-10</startDate>
            <startTime>17:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>usedIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
