force-app/main/default/flows/Associated_Contact_ONETIME_Update_Useable_Emails1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Advisor_Email</name>
        <label>Add Advisor Email</label>
        <locationX>534</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>clientAC.Primary_Advisor_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Loop.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AC_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Id</name>
        <label>Add Id</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>clientAC.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AC_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_TPA_Email</name>
        <label>Add TPA Email</label>
        <locationX>798</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>clientAC.TPA_Operational_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Loop.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AC_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Defaults</name>
        <label>Set Defaults</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>clientAC.Primary_Advisor_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientAC.TPA_Operational_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientAC.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AC_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AC_Role</name>
        <label>AC Role</label>
        <locationX>754</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>AC_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AC_Loop.Contact_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Plan Sponsor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AC_Loop.Contact_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Trustee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AC_Loop.Contact_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Authorized Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Id</targetReference>
            </connector>
            <label>Client</label>
        </rules>
        <rules>
            <name>Advisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AC_Loop.Contact_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Advisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientAC.Primary_Advisor_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Advisor_Email</targetReference>
            </connector>
            <label>Advisor</label>
        </rules>
        <rules>
            <name>TPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AC_Loop.Contact_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TPA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientAC.TPA_Operational_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPA_Email_Verification</targetReference>
            </connector>
            <label>TPA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_Id_Present</name>
        <label>Client Id Present</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientAC.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_AC</targetReference>
            </connector>
            <label>Client Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>TPA_Email_Verification</name>
        <label>TPA Email Verification</label>
        <locationX>930</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>AC_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>TPA_Useable_Email</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>AC_Loop.Contact_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TPA - Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientAC.TPA_Operational_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AC_Loop.Contact_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TPA - Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_TPA_Email</targetReference>
            </connector>
            <label>TPA Useable Email</label>
        </rules>
    </decisions>
    <interviewLabel>Associated Contact | ONETIME | Update Useable Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Associated Contact | ONETIME | Update Useable Emails</label>
    <loops>
        <name>AC_Loop</name>
        <label>AC Loop</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Related_ACs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AC_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Client_Id_Present</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_ACs</name>
        <label>Get Related ACs</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Defaults</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Implementation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Implementation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Contact__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Client_AC</name>
        <label>Update Client AC</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <inputReference>clientAC</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_ACs</targetReference>
        </connector>
        <object>Associated_Contact__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>clientAC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Associated_Contact__c</objectType>
    </variables>
</Flow>
