force-app/main/default/flows/Associated_Contact_After_Update_Master_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Imp</name>
        <label>Imp</label>
        <locationX>443</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>currentClientStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Associated_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opp</name>
        <label>Opp</label>
        <locationX>378</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>currentClientStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Associated_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plan</name>
        <label>Plan</label>
        <locationX>519</locationX>
        <locationY>778</locationY>
        <assignmentItems>
            <assignToReference>currentClientStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Plan</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Associated_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transition</name>
        <label>Transition</label>
        <locationX>589</locationX>
        <locationY>855</locationY>
        <assignmentItems>
            <assignToReference>currentClientStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transition</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Associated_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Advisor_Linked</name>
        <label>Advisor Linked</label>
        <locationX>171</locationX>
        <locationY>1377</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Role_Contains_Advisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Advisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Simply</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Role Contains Advisor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credentialed_Advisor</name>
        <label>Credentialed Advisor</label>
        <locationX>165</locationX>
        <locationY>351</locationY>
        <defaultConnector>
            <targetReference>Update_Lifecycle_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Advisor_Credentialed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Implementation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.Credentialed_Advisor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Implementation__r.Credentialed_Advisor__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Implementation</targetReference>
            </connector>
            <label>Advisor Credentialed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Simply_TPA</name>
        <label>Simply TPA</label>
        <locationX>172</locationX>
        <locationY>1022</locationY>
        <defaultConnector>
            <targetReference>Advisor_Linked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business_Unit_Incorrect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.Business_Unit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Implementation__r.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Implementation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Business Unit Incorrect</label>
        </rules>
        <rules>
            <name>Records_Missing</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Implementation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_0_0</targetReference>
            </connector>
            <label>Records Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Lifecycle_Stage</name>
        <label>Update Lifecycle Stage</label>
        <locationX>170</locationX>
        <locationY>622</locationY>
        <defaultConnector>
            <targetReference>Simply_TPA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Implementation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Opp Stage</label>
        </rules>
        <rules>
            <name>ImpStage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Implementation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Implementation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Imp</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Imp Stage</label>
        </rules>
        <rules>
            <name>Plan_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Implementation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Implementation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plan</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Plan Stage</label>
        </rules>
        <rules>
            <name>Transition_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transition</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Transition Stage</label>
        </rules>
    </decisions>
    <interviewLabel>Associated Contact | After Update | Master Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Associated Contact | After Update | Master Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Associated_Contact</name>
        <label>Update Associated Contact</label>
        <locationX>856</locationX>
        <locationY>836</locationY>
        <connector>
            <targetReference>Simply_TPA</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Client_Stage__c</field>
            <value>
                <elementReference>currentClientStage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>857</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>Update_Contact_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <stringValue>Simply Retirement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Implementation__r.Opportunity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>$Record.Implementation__r.Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_0</name>
        <label>Update Contact</label>
        <locationX>857</locationX>
        <locationY>1199</locationY>
        <connector>
            <targetReference>Advisor_Linked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <stringValue>Simply Retirement</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_0_0</name>
        <label>Update Contact</label>
        <locationX>705</locationX>
        <locationY>1201</locationY>
        <connector>
            <targetReference>Advisor_Linked</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <stringValue>Simply Retirement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Implementation__r.Opportunity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>$Record.Implementation__r.Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Implementation</name>
        <label>Update Implementation</label>
        <locationX>444</locationX>
        <locationY>337</locationY>
        <connector>
            <targetReference>Update_Lifecycle_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Implementation__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Credentialed_Advisor__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Implementation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>718</locationX>
        <locationY>1391</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Advisor_Linked__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Credentialed_Advisor</targetReference>
        </connector>
        <object>Associated_Contact__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentClientStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
