force-app/main/default/flows/Box_Autolaunched_Batchable_create_folder_assoc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Box_Folder_Assoc</name>
        <label>Create Box Folder Assoc</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>box__CreateFolderAssociation_v2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>frup_check</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__frupRecord</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>folderId</name>
            <value>
                <elementReference>accountRecord.Box_Folder_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>box__CreateFolderAssociation_v2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Check_box_box</name>
        <label>Check box box</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.Box_Folder_Linked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>frup_check</name>
        <label>frup check</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>frup_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Box_Folder_Assoc.frupRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_box_box</targetReference>
            </connector>
            <label>frup created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Box | Autolaunched | Batchable create folder assoc {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Box | Autolaunched | Batchable create folder assoc</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Box_Folder_Assoc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Box_Folder_Id__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_account</name>
        <label>Update account</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputReference>accountRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
