force-app/main/default/flows/Calculation_After_Trigger_Create_Cases_for_Compliance_and_Increment_Counters.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_ownerId</name>
        <label>Assign ownerId</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Compliance_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transfer_Case_to_Compliance</name>
        <label>Transfer Case to Compliance</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>relatedCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Can_t_Transfer_Case</name>
        <label>Can&apos;t Transfer Case</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <customErrorMessages>
            <errorMessage>Failed to transfer case! {!formattedError}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Copy_2_of_Calculation_Requested</name>
        <label>Sales Calculation Requested</label>
        <locationX>710</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>FALSE_Calculation Requested</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_CE_Calculation_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121G000000RlLnQAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_for_Compliance</targetReference>
            </connector>
            <label>Sales Calculation Requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4</name>
        <label>CE Calculation Requested</label>
        <locationX>380</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Calculation_Requested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not CE Calculation</defaultConnectorLabel>
        <rules>
            <name>CE_Calculation_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121G000000RlLiQAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transfer_Case_to_Compliance</targetReference>
            </connector>
            <label>CE Calculation Requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_Found_Check</name>
        <label>Queue Found Check</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Queue_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Compliance_Queue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ownerId</targetReference>
            </connector>
            <label>Queue Found</label>
        </rules>
    </decisions>
    <description>Updated to get rid of child case</description>
    <environments>Default</environments>
    <formulas>
        <name>caseDesc</name>
        <dataType>String</dataType>
        <expression>&quot;Client Calculation Request from &quot; + {!$Record.Owner:User.FirstName} +  &quot; &quot; + {!$Record.Owner:User.LastName}  + &quot; - &quot; + &quot; See &quot; + {!$Record.Name} + &quot; in parent case: &quot; + LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))+&quot;lightning/r/Calculation__c/&quot;+{!$Record.Id}+&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Calculation Request for &quot; + {!$Record.Plan__r.Name} + &quot; &quot; + {!$Record.Plan_Year_Request__c}</expression>
    </formulas>
    <formulas>
        <description>Will format error nicely if it&apos;s a validation error.  Otherwise will display full error message.</description>
        <name>formattedError</name>
        <dataType>String</dataType>
        <expression>IF(
FIND(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION:&quot;, {!$Flow.FaultMessage}) != 0,
MID({!$Flow.FaultMessage},
FIND(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION:&quot;, {!$Flow.FaultMessage})+35,
FIND(&quot;You can look up ExceptionCode values&quot;,{!$Flow.FaultMessage})-(FIND(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION:&quot;, {!$Flow.FaultMessage})+35)),
{!$Flow.FaultMessage})</expression>
    </formulas>
    <formulas>
        <name>formula_1_myRule_1_A1_6073656857</name>
        <dataType>Number</dataType>
        <expression>{!relatedCase.Number_of_Child_Cases_Open__c}  + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_4_myRule_8_A1_9028938282</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Case__r.Number_of_Child_Cases_Closed__c}  + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>salesCaseDesc</name>
        <dataType>String</dataType>
        <expression>&quot;Sales Calculation Request from &quot; + {!$Record.Owner:User.FirstName} +  &quot; &quot; + {!$Record.Owner:User.LastName}  + &quot; - &quot; + &quot; See &quot; + {!$Record.Name} + &quot; in linked Opportunity&quot;</expression>
    </formulas>
    <formulas>
        <name>salesCaseSubj</name>
        <dataType>String</dataType>
        <expression>&quot;Calculation Request for &quot; + {!$Record.Plan__c.Name} + &quot; &quot; + {!$Record.Plan_Year_Request__c}</expression>
    </formulas>
    <interviewLabel>Calculation | After Trigger | Create Cases for Compliance and Increment Counters {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculation | After Trigger | Create Cases for Compliance and Increment Counters</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_for_Compliance</name>
        <label>Create Case for Compliance</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Move_Calc_under_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Source__c</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Plan Compliance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>salesCaseDesc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>$Record.Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Compliance_Queue</name>
        <label>Get Compliance Queue</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Found_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Case</name>
        <label>Get Related Case</label>
        <locationX>380</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>myRule_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>relatedCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Number_of_Child_Cases_Closed__c</queriedFields>
        <queriedFields>Number_of_Child_Cases_Open__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Plan__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Move_Calc_under_Case</name>
        <label>Move Calc under Case</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_for_Compliance</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <faultConnector>
            <targetReference>Can_t_Transfer_Case</targetReference>
        </faultConnector>
        <inputReference>relatedCase</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Compliance_Queue</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </filters>
        <object>Calculation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Compliance Id for case.  Defaults to shared user id, but should be replaced with new queue id</description>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00537000001tb5H</stringValue>
        </value>
    </variables>
    <variables>
        <name>relatedCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>testo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
