force-app/main/default/flows/Case_After_Save_Case_Closed_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Survey_Email</name>
        <label>Send Survey Email</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <actionName>Case.Five_Question_CSAT_to_Case_Contact</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Stamp_Survey_Sent_Field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Five_Question_CSAT_to_Case_Contact</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>surveyCaseTeams</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Client Support,Payroll,Billing,Compliance,Advisor Onboarding</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Case_Survey_Eligibility_Check</name>
        <label>Case Survey Eligibility Check</label>
        <locationX>611</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Eligible</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>surveyCaseTeams</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Case_Team_New__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>closeDateOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ContactEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Activity_on_Case</targetReference>
            </connector>
            <label>Case Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Activity_on_Case</name>
        <label>Check for Activity on Case</label>
        <locationX>380</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Has_Activity</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Inbound_Activity__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Outbound_Activity__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Activity_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Survey_Eligibility_Check</targetReference>
            </connector>
            <label>Case Has Activity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Survey_Eligibility_Check</name>
        <label>Contact Survey Eligibility Check</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Eligible</name>
            <conditionLogic>1 AND 2 AND 5 AND NOT (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Last_Created_Survey_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>sixtyDaysAgo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Survey_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@myubiquity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@principal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Survey_Email</targetReference>
            </connector>
            <label>Contact Eligible</label>
        </rules>
    </decisions>
    <description>Created for survey send</description>
    <environments>Default</environments>
    <formulas>
        <name>closeDateOnly</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.ClosedDate})</expression>
    </formulas>
    <formulas>
        <name>sixtyDaysAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY()-60</expression>
    </formulas>
    <interviewLabel>Case | After Save | Case Closed Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case | After Save | Case Closed Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Marks &quot;Survey Sent&quot; field on cases.  Will be useful to have visibility on what cases have sent csats</description>
        <name>Stamp_Survey_Sent_Field</name>
        <label>Stamp Survey Sent Field</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>simplesurvey__Survey_Sent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>simplesurvey__Survey_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>72</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>simplesurvey__Survey_Sent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X15_Minute_Delay</name>
            <connector>
                <targetReference>Case_Survey_Eligibility_Check</targetReference>
            </connector>
            <label>15 Minute Delay</label>
            <offsetNumber>15</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>relatedMessagingSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingSession</objectType>
    </variables>
</Flow>
