force-app/main/default/flows/Case_After_Trigger_Create_Complaint_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Alert</name>
        <label>Send Alert</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <actionName>Complaint_Form__c.New_Complaint_Form_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Existing_QA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_Complaint</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Complaint_Form__c.New_Complaint_Form_Created</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Found_Existing_Complaint</name>
        <label>Found Existing Complaint</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Complaint_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingComplaintId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Complaint</targetReference>
            </connector>
            <label>No Complaint Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>QA_Exists</name>
        <label>QA Exists</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_existing_QA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingQaId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_QA</targetReference>
            </connector>
            <label>No existing QA</label>
        </rules>
    </decisions>
    <description>Added step to auto create QA</description>
    <environments>Default</environments>
    <formulas>
        <name>complaintName</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!$Record.Complaint_Tier__c}) + &quot; Complaint from &quot; + {!$Record.Account.Name},80)</expression>
    </formulas>
    <interviewLabel>Case | After Trigger | Create Complaint Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case | After Trigger | Create Complaint Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Complaint</name>
        <label>Create Complaint</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Send_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Notes__c</field>
            <value>
                <elementReference>$Record.Case_notes_new__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Tier__c</field>
            <value>
                <elementReference>$Record.Complaint_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>$Record.Owner:User.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>complaintName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <object>Complaint_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Complaint</name>
        <label>Get Existing Complaint</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Existing_Complaint</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Complaint_Form__c</object>
        <outputAssignments>
            <assignToReference>existingComplaintId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_QA</name>
        <label>Get Existing QA</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QA_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Quality_Assurance_QA__c</object>
        <outputAssignments>
            <assignToReference>existingQaId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Complaint</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Complaint__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Complaint_Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tier 1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Complaint_Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tier 2</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_QA</name>
        <label>Create QA</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <flowName>QA_Button_Create_QA</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>existingComplaintId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingQaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
