force-app/main/default/flows/Case_Before_Update_Master_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Chat_Session_Count</name>
        <label>Assign Chat Session Count</label>
        <locationX>182</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>subtotalVar</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Case_Messaging_Sessions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subtotalVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_work_went_up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Child_Case_Count</name>
        <label>Assign Child Case Count</label>
        <locationX>182</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>subtotalVar</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Child_Cases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subtotalVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Messaging_Sessions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Count</name>
        <label>Assign Email Count</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>subtotalVar</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Case_Emails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subtotalVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Child_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_work_metric_total_to_case</name>
        <label>Assign work metric total to case</label>
        <locationX>50</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>$Record.Work_Metric__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enhancement_Case_Resolver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ROI_to_true</name>
        <label>Set ROI to true</label>
        <locationX>204</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.ROI_Touched_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_need_work_calc</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines if work units need to be calculated</description>
        <name>Check_if_need_work_calc</name>
        <label>Check if need work calc</label>
        <locationX>336</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Enhancement_Case_Resolver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Created</defaultConnectorLabel>
        <rules>
            <name>Needs_work_calc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Email_to_Case_User</targetReference>
            </connector>
            <label>Needs work calc</label>
        </rules>
    </decisions>
    <decisions>
        <description>If case is owned by Call Center user, needs roi field stamp to true</description>
        <name>Check_if_needs_ROI_stamp</name>
        <label>Check if needs ROI stamp</label>
        <locationX>336</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Check_if_need_work_calc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_ROI_Stamp</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRole.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Call_Center</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ROI_to_true</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Needs ROI Stamp</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only stamp new work count if the total went up</description>
        <name>Check_if_work_went_up</name>
        <label>Check if work went up</label>
        <locationX>182</locationX>
        <locationY>1643</locationY>
        <defaultConnector>
            <targetReference>Enhancement_Case_Resolver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Work_Recorded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Work_Metric__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>totalVar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_work_metric_total_to_case</targetReference>
            </connector>
            <label>New Work Recorded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enhancement_Case_Resolver</name>
        <label>Enhancement Case Resolver</label>
        <locationX>336</locationX>
        <locationY>2027</locationY>
        <defaultConnector>
            <targetReference>OG_Case_Close_Field_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_resolving</name>
            <conditionLogic>(1 OR 3) AND 2 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Enhancement_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Done</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enhancement_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paradigm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enhancement_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Won&apos;t Do</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolve_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Needs resolving</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fill_Account_Plan</name>
        <label>Fill Account &amp; Plan</label>
        <locationX>336</locationX>
        <locationY>2627</locationY>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>Implementation_Entered</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Implementation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_and_Plan_on_Case</targetReference>
            </connector>
            <label>Implementation Entered</label>
        </rules>
        <rules>
            <name>IT_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00537000002RntcAAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Fill_Plan_and_Account</targetReference>
            </connector>
            <label>IT Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>OG_Case_Close_Field_Update</name>
        <label>OG Case Close Field Update</label>
        <locationX>336</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>Fill_Account_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_OG_Case_Close_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reopened_Count__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Original_Close_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Original_Close_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Update OG Case Close Field</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_found_check</name>
        <label>User found check</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Get_Child_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Email_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Email_to_Case_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Emails</targetReference>
            </connector>
            <label>Found Email User</label>
        </rules>
    </decisions>
    <description>Updated to remove case team new check and assignment.  Split into other flow to change run order</description>
    <environments>Default</environments>
    <interviewLabel>Case | Before Update | Master Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case | Before Update | Master Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Email_to_Case_User</name>
        <label>Find Email to Case User</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_found_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hunter Claxton</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Emails</name>
        <label>Get Case Emails</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </filters>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Find_Email_to_Case_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Messaging_Sessions</name>
        <label>Get Case Messaging Sessions</label>
        <locationX>182</locationX>
        <locationY>1427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Chat_Session_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MessagingSession</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Cases</name>
        <label>Get Child Cases</label>
        <locationX>182</locationX>
        <locationY>1211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Child_Case_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Auto_Fill_Plan_and_Account</name>
        <label>Auto-Fill Plan and Account</label>
        <locationX>336</locationX>
        <locationY>2735</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>0013700000JH68lAAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <stringValue>a2o1G000000oQW5QAM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Resolve_Case</name>
        <label>Resolve Case</label>
        <locationX>204</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>OG_Case_Close_Field_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_and_Plan_on_Case</name>
        <label>Update Account and Plan on Case</label>
        <locationX>72</locationX>
        <locationY>2735</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Implementation__r.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>$Record.Implementation__r.Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Original_Close_Date</name>
        <label>Update Original Close Date</label>
        <locationX>204</locationX>
        <locationY>2435</locationY>
        <connector>
            <targetReference>Fill_Account_Plan</targetReference>
        </connector>
        <inputAssignments>
            <field>Original_Close_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_needs_ROI_stamp</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>subtotalVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
