force-app/main/default/flows/Case_Button_New_Complaint_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Manager</name>
        <label>Email Manager</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>Complaint_Form__c.New_Complaint_Form_Created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>newComplaint.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Complaint_Form__c.New_Complaint_Form_Created</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Complaint_Tier</name>
        <label>Complaint Tier</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tier_1_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>newComplaint.Complaint_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newComplaint.Complaint_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Manager</targetReference>
            </connector>
            <label>Tier 1/2</label>
        </rules>
    </decisions>
    <description>Button on case record page to create new complaint form</description>
    <environments>Default</environments>
    <formulas>
        <name>complaintName</name>
        <dataType>String</dataType>
        <expression>{!complaintTier} + &quot; Complaint from &quot; + {!Get_Case.Account.Name} + &quot; - &quot; + TEXT(DATEVALUE({!newComplaint.CreatedDate}))</expression>
    </formulas>
    <formulas>
        <name>complaintTier</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!newComplaint.Complaint_Tier__c}, &quot;Tier 1&quot;), &quot;Tier 1&quot;, 
IF(ISPICKVAL({!newComplaint.Complaint_Tier__c}, &quot;Tier 2&quot;), &quot;Tier 2&quot;, 
IF(ISPICKVAL({!newComplaint.Complaint_Tier__c}, &quot;Tier 3&quot;), &quot;Tier 3&quot;, &quot;Tier 4&quot;)))</expression>
    </formulas>
    <interviewLabel>Case | Button | New Complaint Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case | Button | New Complaint Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Complaint</name>
        <label>Create Complaint</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Complaint_Tier</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Notes__c</field>
            <value>
                <elementReference>Get_Case.Case_notes_new__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner__c</field>
            <value>
                <elementReference>Get_Case.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Notes__c</field>
            <value>
                <elementReference>newComplaint.Complaint_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Tier__c</field>
            <value>
                <elementReference>newComplaint.Complaint_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Type__c</field>
            <value>
                <elementReference>newComplaint.Complaint_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Resolved__c</field>
            <value>
                <elementReference>newComplaint.Date_Resolved__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Reviewed__c</field>
            <value>
                <elementReference>newComplaint.Manager_Reviewed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>Get_Case.Owner:User.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>complaintName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolved__c</field>
            <value>
                <elementReference>newComplaint.Resolved__c</elementReference>
            </value>
        </inputAssignments>
        <object>Complaint_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Complaint_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Complaint_Form</name>
        <label>New Complaint Form</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Complaint</targetReference>
        </connector>
        <fields>
            <name>New_Complaint_Form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Complaint_Form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newComplaint.Name</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newComplaint.Complaint_Notes__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Complaint_Form_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newComplaint.Complaint_Tier__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newComplaint.Complaint_Type__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newComplaint.Manager_Reviewed__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newComplaint.Resolved__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newComplaint.Date_Resolved__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Complaint Form</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newComplaint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Complaint_Form__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
