force-app/main/default/flows/Case_After_Trigger_Create_3_16_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_ownerId</name>
        <label>Set ownerId</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Compliance_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_3_16_Case_for_Compliance</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Queue_Found_Check</name>
        <label>Queue Found Check</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_3_16_Case_for_Compliance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Queue_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Compliance_Queue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ownerId</targetReference>
            </connector>
            <label>Queue Found</label>
        </rules>
    </decisions>
    <description>Updated to add compliance queue

When Census and Eligibility Uploaded date is entered on Reserve(k) or Sallus Imp, create a case for Compliance</description>
    <environments>Default</environments>
    <interviewLabel>Case | After Trigger | Create 3(16) Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Implementation | After Trigger | Create 3(16) Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_3_16_Case_for_Compliance</name>
        <label>Create 3(16) Case for Compliance</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>3(16)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>$Record.Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01237000000Xs6BAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Category__c</field>
            <value>
                <stringValue>Census Upload</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New 3(16) Implementation</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Compliance_Queue</name>
        <label>Get Compliance Queue</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Found_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Compliance_Queue</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>Census_and_Eligibility_Uploaded__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Census_and_Eligibility_Uploaded__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Option__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reserve(k)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Option__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Starter</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Option__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Option__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Option__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Franchise</stringValue>
            </value>
        </filters>
        <object>Implementation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>100</triggerOrder>
    <variables>
        <description>Defaults to compliance shared user Id.  Should update to queue Id</description>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00537000001tb5H</stringValue>
        </value>
    </variables>
</Flow>
