force-app/main/default/flows/Case_Split.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_Documents</name>
        <label>Clone Documents</label>
        <locationX>1196</locationX>
        <locationY>203</locationY>
        <actionName>CloneDocuments</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through_To_Delete</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Ids</name>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CloneDocuments</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>1059</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>AssociatedEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Delete_Collection</name>
        <label>Assign to Delete Collection</label>
        <locationX>1373</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>DeletedEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_To_Delete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Parent</name>
        <label>Update Parent</label>
        <locationX>893</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>LoopVar.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopVar.HtmlBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Wipe_HTML</name>
        <label>Wipe HTML</label>
        <locationX>895</locationX>
        <locationY>795</locationY>
        <assignmentItems>
            <assignToReference>LoopVar.HtmlBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_Selected</name>
        <label>Email Selected?</label>
        <locationX>644</locationX>
        <locationY>504</locationY>
        <defaultConnector>
            <targetReference>Email_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Emails</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopVar.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Too_Many_HTML_Characters</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Emails_Available</name>
        <label>Emails Available?</label>
        <locationX>1442</locationX>
        <locationY>402</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Emails_Available2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeletedEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Emails</targetReference>
            </connector>
            <label>Emails Available</label>
        </rules>
        <rules>
            <name>Emails_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeletedEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Split_Completed</targetReference>
            </connector>
            <label>Emails Not Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected2</name>
        <label>Email Selected?</label>
        <locationX>1188</locationX>
        <locationY>666</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_To_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Emails</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopVar.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Delete_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Too_Many_HTML_Characters</name>
        <label>Too Many HTML Characters?</label>
        <locationX>646</locationX>
        <locationY>688</locationY>
        <defaultConnector>
            <targetReference>Update_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesTooLarge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BodyLimit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wipe_HTML</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Splits selected details and assets of current case into a new case</description>
    <dynamicChoiceSets>
        <name>Case_Owner</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Related_Case_Comments</name>
        <dataType>String</dataType>
        <displayField>CommentBody</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>CaseComment</object>
        <outputAssignments>
            <assignToReference>CommentSelection</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Related_Emails</name>
        <dataType>String</dataType>
        <displayField>Details__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputAssignments>
            <assignToReference>EmailSelection</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>MessageDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelatedFiles</name>
        <dataType>String</dataType>
        <displayField>ContentDocumentId</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Existing_Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Related_Emails</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <valueField>ContentDocumentId</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>BodyLimit</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!LoopVar.HtmlBody}) &gt; 131072, true, false)</expression>
    </formulas>
    <formulas>
        <name>Last30Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()-30</expression>
    </formulas>
    <interviewLabel>Case Split {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case | Button | Case Split</label>
    <loops>
        <name>Email_Loop</name>
        <label>Email Loop</label>
        <locationX>890</locationX>
        <locationY>367</locationY>
        <assignNextValueToReference>LoopVar</assignNextValueToReference>
        <collectionReference>EmailstoLink</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clone_Selected_Emails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_To_Delete</name>
        <label>Loop Through To Delete</label>
        <locationX>1199</locationX>
        <locationY>344</locationY>
        <assignNextValueToReference>LoopVar</assignNextValueToReference>
        <collectionReference>EmailstoLink</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Selected2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Emails_Available</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Clone_Selected_Emails</name>
        <label>Clone Selected Emails</label>
        <locationX>1073</locationX>
        <locationY>202</locationY>
        <connector>
            <targetReference>Clone_Documents</targetReference>
        </connector>
        <inputReference>AssociatedEmails</inputReference>
    </recordCreates>
    <recordCreates>
        <name>New_Record</name>
        <label>New Record</label>
        <locationX>778</locationX>
        <locationY>227</locationY>
        <assignRecordIdToReference>NewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>EmailstoLink</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Existing_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Existing_Case.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>Existing_Case.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation__c</field>
            <value>
                <elementReference>Existing_Case.Implementation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Existing_Case.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Person.ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Existing_Case.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>Existing_Case.Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Existing_Case.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>Existing_Case.Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Splited_From__c</field>
            <value>
                <elementReference>Existing_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Emails</name>
        <label>Delete Emails</label>
        <locationX>1446</locationX>
        <locationY>243</locationY>
        <connector>
            <targetReference>Case_Split_Completed</targetReference>
        </connector>
        <inputReference>DeletedEmails</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>EmailstoLink</name>
        <label>Emails to Link</label>
        <locationX>891</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Last30Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Existing_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MessageDate</queriedFields>
        <queriedFields>Incoming</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Email_Type__c</queriedFields>
        <queriedFields>Emails__c</queriedFields>
        <queriedFields>FromAddress</queriedFields>
        <queriedFields>FromName</queriedFields>
        <queriedFields>ToAddress</queriedFields>
        <queriedFields>CcAddress</queriedFields>
        <queriedFields>BccAddress</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>HtmlBody</queriedFields>
        <queriedFields>TextBody</queriedFields>
        <queriedFields>HasAttachment</queriedFields>
        <queriedFields>RelatedToId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Existing_Case</name>
        <label>Existing Case</label>
        <locationX>390</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Split_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person</name>
        <label>Get Person</label>
        <locationX>661</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Owner.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Case_Split_Completed</name>
        <label>Case Split Completed</label>
        <locationX>1722</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseSplitSuccessful</name>
            <fieldText>&lt;p&gt;Case Split Successful!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Split_Case</name>
        <label>Split Case</label>
        <locationX>529</locationX>
        <locationY>226</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Person</targetReference>
        </connector>
        <fields>
            <name>Owner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Person__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Case Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Existing_Case.Subject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!Existing_Case.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Emails</name>
            <choiceReferences>Related_Emails</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Emails</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>227</locationY>
        <connector>
            <targetReference>Existing_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssociatedComments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>AssociatedEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>CommentLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>CommentSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CommentstoLink</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>DeletedComments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>DeletedEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>deletiongroup</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>EmailSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>linkstodelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>LoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
