force-app/main/default/flows/Close_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>None</name>
        <choiceText>{!Case_to_Close.Team_Member__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Case_to_Close.Team_Member__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>noSelection</name>
        <choiceText>Confirm Request Level</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>Resolved</name>
        <choiceText>Resolved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resolved</stringValue>
        </value>
    </choices>
    <choices>
        <name>SentimentNull</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Case_to_Close.Case_Sentiment__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Child_Cases_Resolved</name>
        <label>Child Cases Resolved</label>
        <locationX>512</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Case_Not_Resolved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesChild</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UnresolvedChildCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Calculation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Required_Fields_Entered</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_current_user_the_case_owner</name>
        <label>Is the current user the case owner?</label>
        <locationX>875</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>UserIsNotOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Case_to_Close.OwnerId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>userId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Can_Close_Other_Cases__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Child_Cases_Resolved</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Required_Fields_Entered</name>
        <label>Required Fields Entered</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoImplementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_to_Close.Implementation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Client Onboarding</stringValue>
                </rightValue>
            </conditions>
            <label>Implementation</label>
        </rules>
        <rules>
            <name>NoAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_to_Close.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Account</label>
        </rules>
        <rules>
            <name>NoPlans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_to_Close.Plan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User.Profile_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00e1G0000011hjw</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User.Profile_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00e1G000000tIss</stringValue>
                </rightValue>
            </conditions>
            <label>Plan</label>
        </rules>
        <rules>
            <name>NoTeam</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3) OR (1 AND 4) OR (1 AND 5) OR (1 AND 6) OR (1 AND 7) OR (1 AND 8) OR (1 AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>Case_to_Close.Team_Member__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_to_Close.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00500000006vmbuAAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_to_Close.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00500000006wpUQAAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_to_Close.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00500000006xUkfAAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_to_Close.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00537000002STLDAA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_to_Close.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00537000002SL2SAAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_to_Close.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00500000006yEakAAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_to_Close.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005370000039BHYAA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_to_Close.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00537000001tb5HAAQ</stringValue>
                </rightValue>
            </conditions>
            <label>Team Member</label>
        </rules>
        <rules>
            <name>NoCategory</name>
            <conditionLogic>(1 OR 7 OR 8) AND 2 AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Case_to_Close.Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User.Profile_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00e1G0000011hdP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User.Profile_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00e00000006ohd0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User.Profile_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00e37000000MnJU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User.Profile_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00e1G0000011hjw</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User.Profile_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00e1G000000tIss</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_to_Close.Sender_Role__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_to_Close.Sub_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Required_Fields</targetReference>
            </connector>
            <label>Sender Role/Category/Sub-Category</label>
        </rules>
    </decisions>
    <description>Modified case close screen to add &quot;subject&quot; as an editable field for CO cases

Surfaces required fields before closing case, depending on case type and user requirements. Added checkbox to allow users to close other peoples&apos; cases.</description>
    <dynamicChoiceSets>
        <name>Category</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClosedStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Closed_Status__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Level__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sentiment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Case_Sentiment__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TeamMember</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Team_Member__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Close Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case | Button | Close Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Case_to_Close</name>
        <label>Case to Close</label>
        <locationX>875</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Plan__c</queriedFields>
        <queriedFields>Implementation__c</queriedFields>
        <queriedFields>Team_Member__c</queriedFields>
        <queriedFields>Case_Sentiment__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Sub_Category__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Department__c</queriedFields>
        <queriedFields>Request_Level__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Sender_Role__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Calculations</name>
        <label>Get Calculations</label>
        <locationX>875</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_current_user_the_case_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_to_Close.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <object>Calculation__c</object>
        <outputReference>Calculation</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Case</name>
        <label>Get Child Cases</label>
        <locationX>875</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Calculations</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_to_Close.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Missing Info</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>UnresolvedChildCase</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile</name>
        <label>Get Profile</label>
        <locationX>875</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_to_Close</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ProfileId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>875</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>User_ID__c</queriedFields>
        <queriedFields>Profile_ID__c</queriedFields>
        <queriedFields>Department</queriedFields>
        <queriedFields>ProfileId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Case_Not_Resolved</name>
        <label>Case Not Resolved</label>
        <locationX>974</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Child_Cases_not_Resolved</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Case not resolved: &lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Confirm all Child Cases are &quot;Resolved&quot; and all Compliance Calculations are &quot;Delivered&quot;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Please Resolve this issue and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Required_Fields</name>
        <label>Enter Required Fields</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>exitFlowToEnterFields</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please make sure Sender Role, Category, and Sub-Category are filled out before resolving the case.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UserIsNotOwner</name>
        <label>User Is Not Owner</label>
        <locationX>1238</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Child_Cases_not_Resolved_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Case not resolved: Only the case owner can resolve a case.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>749</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Calculation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Calculation__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UnresolvedChildCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
