force-app/main/default/flows/Contact_After_Insert_Create_Message_User_for_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignFormattedPhone</name>
        <label>assignFormattedPhone</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>platformKey</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formattedPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Existing_Messaging_User_for_CO_Channel</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dupe_MS_User_Record_Found</name>
        <label>Dupe MS User Record Found</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Create_MS_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Dupe_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dupeMessageUser.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, Dupe Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Number_Valid</name>
        <label>Is Number Valid</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkForValidNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formattedPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFormattedPhone</targetReference>
            </connector>
            <label>Yes, Valid</label>
        </rules>
    </decisions>
    <description>Delete after</description>
    <environments>Default</environments>
    <formulas>
        <name>checkForValidNumber</name>
        <dataType>Boolean</dataType>
        <expression>ISNUMBER({!formattedPhone})</expression>
    </formulas>
    <formulas>
        <name>formattedPhone</name>
        <dataType>String</dataType>
        <expression>RIGHT(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!$Record.MobilePhone}, &quot; &quot;, &quot;&quot;), &quot;+&quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;)&quot;, &quot;&quot;), &quot;(&quot;, &quot;&quot;),10)</expression>
    </formulas>
    <interviewLabel>Contact | After Insert | Create Message User for SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact | After Insert/Update | Create Message User for SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_MS_User</name>
        <label>Create MS User</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsoCountryCode</field>
            <value>
                <stringValue>US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageType</field>
            <value>
                <stringValue>Text</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingChannelId</field>
            <value>
                <stringValue>0MjHo000000PCQzKAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingConsentStatus</field>
            <value>
                <stringValue>ImplicitlyOptedIn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingPlatformKey</field>
            <value>
                <elementReference>platformKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Existing_Messaging_User_for_CO_Channel</name>
        <label>Check for Existing Messaging User for CO Channel</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dupe_MS_User_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0MjHo000000PCQyKAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>MessagingPlatformKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>platformKey</elementReference>
            </value>
        </filters>
        <object>MessagingEndUser</object>
        <outputReference>dupeMessageUser</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Number_Valid</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordTypeId} != &quot;01237000000TgxQAAS&quot;
&amp;&amp;
((ISNEW() &amp;&amp; NOT(ISBLANK({!$Record.MobilePhone})))
||
(ISCHANGED({!$Record.MobilePhone}) &amp;&amp; NOT(ISBLANK({!$Record.MobilePhone})) &amp;&amp; {!$Record.MobilePhone} != {!$Record__Prior.MobilePhone}))</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>dupeMessageUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingEndUser</objectType>
    </variables>
    <variables>
        <name>platformKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>+1</stringValue>
        </value>
    </variables>
</Flow>
