force-app/main/default/flows/Contact_Button_Create_Advisor_Sourced_Lead_Activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Id</name>
        <label>Assign Id</label>
        <locationX>181</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>advisorLeadTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Leads</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>426</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>advisorLeadTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>advisorLeadTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Variables</name>
        <label>Task Variables</label>
        <locationX>304</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>advisorLeadTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Check In w/ Advisor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>advisorLeadTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>advisorLeadTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Contact | Button | Create Advisor-Sourced Lead Activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact | Button | Create Advisor-Sourced Lead Activity</label>
    <loops>
        <name>Loop_through_Leads</name>
        <label>Loop through Leads</label>
        <locationX>306</locationX>
        <locationY>258</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>515</locationX>
        <locationY>269</locationY>
        <inputReference>advisorLeadTasks</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Loop_through_Leads</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>advisorLeadTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>advisorLeadTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
