force-app/main/default/flows/Contact_After_Trigger_Partner_Advisor_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Sallus_Advisor_Alert</name>
        <label>New Sallus Advisor Alert</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Contact.Sallus_Advisor_Assigned</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Sallus_Advisor_Assigned</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>New_Simply_Advisor_Alert</name>
        <label>New Simply Advisor Alert</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <actionName>Contact.Simply_Advisor_Assigned</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Plan_ID_Exists</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Simply_Advisor_Assigned</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_1_to_Simply_Count</name>
        <label>Add 1 to Simply Count</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Simply_Proposal_Count__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Simply_Proposal_Run__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Simply_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>New_Proposal_Referred</name>
        <label>New Proposal Referred?</label>
        <locationX>1238</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No New Proposal</defaultConnectorLabel>
        <rules>
            <name>New_Simply_Prop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Plan_ID__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plan_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_to_Simply_Count</targetReference>
            </connector>
            <label>New Simply Prop</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Sallus_Contact</name>
        <label>New Sallus Contact?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Existing Contact</defaultConnectorLabel>
        <rules>
            <name>Sallus_Contact_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isnewcontact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Sallus_Advisor_Alert</targetReference>
            </connector>
            <label>Sallus Contact Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Simply_Contact</name>
        <label>New Simply Contact?</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>New_Proposal_Referred</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Contact</defaultConnectorLabel>
        <rules>
            <name>Simply_Contact_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isnewcontact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Simply_Advisor_Alert</targetReference>
            </connector>
            <label>Simply Contact Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plan_ID_Exists</name>
        <label>Plan ID Exists?</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Set_Simply_Count_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ID Null</defaultConnectorLabel>
        <rules>
            <name>ID_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Plan_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Simply_Count_1</targetReference>
            </connector>
            <label>ID Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sallus_or_Simply</name>
        <label>Sallus or Simply?</label>
        <locationX>908</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sallus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sallus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Sallus_Contact</targetReference>
            </connector>
            <label>Sallus</label>
        </rules>
        <rules>
            <name>Simply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Simply_Contact</targetReference>
            </connector>
            <label>Simply</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Isnewcontact</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Contact | After Trigger | Partner Advisor Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact | After Trigger | Partner Advisor Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Simply_Count_0</name>
        <label>Set Simply Count 0</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Simply_Proposal_Count__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Simply_Count_1</name>
        <label>Set Simply Count 1</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Last_Simply_Proposal_Run__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Simply_Proposal_Count__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Simply_Count</name>
        <label>Update Simply Count</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sallus_or_Simply</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121G000000bptXQAQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advisor</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sallus</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Simply Retirement</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
