force-app/main/default/flows/Create_Upgrade_from_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Default_Discretionary_Match_to_YES</name>
        <label>Default Discretionary Match to YES</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newOpp.Discretionary_Match__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Associated_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Custodian__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpp.Custodian__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Opp_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Values</name>
        <label>Set Opp Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newOpp.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Custodian__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpp.Custodian__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Employee_Referrer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_Plan.Account__r.Name}-UPGRADE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Opportunity_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Plan_Upgrade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Previous_Service_Option__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Plan.Service_Option__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upgrade</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Profit_Sharing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCompYesNo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>upgradeRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Service_Option__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Option_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Direct Referral</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.LeadSourceDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upgrade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Associated_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpp.Associated_Contact_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Plan Sponsor &amp; Trustee</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Owner_to_Opp_Owner</name>
        <label>Set Owner to Opp Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpp.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Custom_or_Reserve_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Owner_to_Running_User</name>
        <label>Set Owner to Running User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Custom_or_Reserve_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Show_Alt_Text</name>
        <label>Show Alt Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>altSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Owner_to_Running_User</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CustomK</name>
        <choiceText>Custom(k)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Custom(k)</stringValue>
        </value>
    </choices>
    <choices>
        <name>megaRothSingleK</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Mega Roth Single(k)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ReserveK</name>
        <choiceText>Reserve(k)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reserve(k)</stringValue>
        </value>
    </choices>
    <choices>
        <name>RKO</name>
        <choiceText>RK Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RK Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>SaverK</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Saver(k)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Saver(k)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Simply_Retirement_Bundled</name>
        <choiceText>Simply Retirement Bundled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Simply Retirement Bundled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Simply_Retirement_Unbundled</name>
        <choiceText>Simply Retirement Unbundled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Simply Retirement Unbundled</stringValue>
        </value>
    </choices>
    <choices>
        <name>SingleK</name>
        <choiceText>Single(k)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single(k)</stringValue>
        </value>
    </choices>
    <choices>
        <name>SingleKPlus</name>
        <choiceText>Single(k) Plus</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single(k) Plus</stringValue>
        </value>
    </choices>
    <choices>
        <name>Upgrade</name>
        <choiceText>Upgrade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upgrade</stringValue>
        </value>
    </choices>
    <constants>
        <name>dirOfSalesRoleId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00EHo000000bEXqMAM</stringValue>
        </value>
    </constants>
    <constants>
        <name>impsQueueId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G37000000PDff</stringValue>
        </value>
    </constants>
    <constants>
        <name>svpStrategyRoleId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00E00000006qGD8</stringValue>
        </value>
    </constants>
    <constants>
        <name>upgradeRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01237000000Xsu6AAC</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Case_for_Onboarding</name>
        <label>Case for Onboarding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Upgrade_Successfully_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bundled_SK_SK_to_Full_Service</name>
            <conditionLogic>1 OR 2 OR ((3 OR 4 OR 5) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Service_Option_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Simply_Retirement_Bundled</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Option_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SingleKPlus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Option_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomK</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Option_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReserveK</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Option_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SaverK</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Plan.Product_Type1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single(k)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_for_Onboarding</targetReference>
            </connector>
            <label>Bundled, SK+, SK to Full Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Custom_or_Reserve_0</name>
        <label>Custom or Reserve?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Opp_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Custom_Reserve_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Service_Option_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReserveK</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Option_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomK</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Discretionary_Match_to_YES</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Director_Found_Check</name>
        <label>Director Found Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_SVP_Strategy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_director_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ownerId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_or_Reserve_0</targetReference>
            </connector>
            <label>Active director found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opp_Owner_an_Active_RPC</name>
        <label>Is Opp Owner an Active RPC?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Sales_Director</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpp.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOpp.Owner.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RetirementPlanConsultant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner_to_Opp_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_employee_referrer</name>
        <label>Is there an employee referrer?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Case_for_Onboarding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRef</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmployeeReferrer.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Referrer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_an_RPC</name>
        <label>Is User an RPC?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Opp_Owner_an_Active_RPC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRPC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RetirementPlanConsultant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner_to_Running_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SVP_Found_Check</name>
        <label>SVP Found Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Show_Alt_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ok whatever</defaultConnectorLabel>
        <rules>
            <name>Yupppp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ownerId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_or_Reserve_0</targetReference>
            </connector>
            <label>Yupppp</label>
        </rules>
    </decisions>
    <description>Updated to replace sales director userId fallback w/ search for user with that role, THEN svp strategy.  Finally it will just assign to running user rather than throwing an error.

Creates an Upgrade Opportunity for an existing plan, and assigns to most relevant RPC.</description>
    <dynamicChoiceSets>
        <name>Service_Option</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Option__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+90</expression>
    </formulas>
    <formulas>
        <name>NewCompYesNo</name>
        <dataType>String</dataType>
        <expression>IF({!New_Comp},&quot;New Comparability&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Create Upgrade from Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plan | Button | Upgrade Referral</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_for_Onboarding</name>
        <label>Create Case for Onboarding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Upgrade_Successfully_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Plan.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>onboardingDesc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>impsQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>Get_Plan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>onboardingSubj</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Opp</name>
        <label>Create New Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_there_an_employee_referrer</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputReference>newOpp</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Referrer</name>
        <label>Create Referrer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_for_Onboarding</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Contact_Role__c</field>
            <value>
                <stringValue>Referrer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>EmployeeReferrer.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>newOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Associated_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Assign_Sales_Director</name>
        <label>Assign Sales Director</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Director_Found_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dirOfSalesRoleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ownerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Assign_SVP_Strategy</name>
        <label>Assign SVP Strategy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SVP_Found_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>svpStrategyRoleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ownerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Upgrade_Opportunity</targetReference>
        </connector>
        <filterLogic>(1 AND (2 OR 3) AND (4 OR 5)) OR 6</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Plan.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_Plan.Product_Type1__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Upgrade</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>401(k) Plan Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Single(k)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Plan.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>getOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Custodian__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Plan</name>
        <label>Get Plan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>badScreen</targetReference>
        </connector>
    </recordRollbacks>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>badScreen</name>
        <label>badScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>badText</name>
            <fieldText>&lt;p&gt;{!$Label.FlowStyles_ErrorNotification}&lt;span style=&quot;font-size: 18px;&quot;&gt;Opportunity not created&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Upgrade_Opportunity</name>
        <label>Create New Upgrade Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_User_an_RPC</targetReference>
        </connector>
        <fields>
            <name>EmployeeReferrer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Associated_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee Referrer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Associated_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Company Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Service_Option_Screen</name>
            <choiceReferences>SaverK</choiceReferences>
            <choiceReferences>CustomK</choiceReferences>
            <choiceReferences>ReserveK</choiceReferences>
            <choiceReferences>Simply_Retirement_Bundled</choiceReferences>
            <choiceReferences>Simply_Retirement_Unbundled</choiceReferences>
            <choiceReferences>RKO</choiceReferences>
            <choiceReferences>SingleK</choiceReferences>
            <choiceReferences>SingleKPlus</choiceReferences>
            <choiceReferences>megaRothSingleK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Option</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Comp</name>
            <dataType>Boolean</dataType>
            <fieldText>New Comp</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upgrade_Successfully_Created</name>
        <label>Upgrade Successfully Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;The upgrade opportunity has been created successfully and assigned to the sales team.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>altSuccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>successAlt</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.FlowStyles_WarningNotification}The upgrade opportunity has been created, but no suitable owner was found.  Please reach out to BI for assistance.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>altSuccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Plan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>onboardingDesc</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new downgrade opportunity was created for {!Get_Plan.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>onboardingSubj</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Plan Downgrade - {!Get_Plan.Name}</text>
    </textTemplates>
    <variables>
        <name>altSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>getOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>newOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
