force-app/main/default/flows/DocuSign_Related_Record_Mapping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_BI</name>
        <label>Alert BI</label>
        <locationX>1908</locationX>
        <locationY>743</locationY>
        <actionName>dsfs__DocuSign_Recipient_Status__c.DocuSign_Status_Not_Updated_w_Associations</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Docusign_Recipient_Status.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>dsfs__DocuSign_Recipient_Status__c.DocuSign_Status_Not_Updated_w_Associations</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Convert_Lead</name>
        <label>Convert Lead</label>
        <locationX>1521</locationX>
        <locationY>538</locationY>
        <actionName>AutoConvertLeads</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Converted_Lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LeadIds</name>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AutoConvertLeads</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Related_Records</name>
        <label>Assign Related Records</label>
        <locationX>2481</locationX>
        <locationY>1065</locationY>
        <assignmentItems>
            <assignToReference>Document_Loop.Implementation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedAssociation.Implementation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Loop.dsfs__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedAssociation.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Loop.Opportunity_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppOwner.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Loop.dsfs__Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedAssociation.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Loop.dsfs__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedAssociation.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>2722</locationX>
        <locationY>1065</locationY>
        <assignmentItems>
            <assignToReference>documentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Document_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Association_Exist</name>
        <label>Does Association Exist?</label>
        <locationX>1737</locationX>
        <locationY>47</locationY>
        <defaultConnector>
            <targetReference>Get_Account_For_Junction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Association_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedAssociation.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Owner</targetReference>
            </connector>
            <label>Association Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Exist</name>
        <label>Does Contact Exist?</label>
        <locationX>1370</locationX>
        <locationY>43</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelevantContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Association</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Exist_0</name>
        <label>Does Contact Exist?</label>
        <locationX>1999</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesContact_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelevantContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Association</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Duplicate_Exist</name>
        <label>Does Duplicate Exist?</label>
        <locationX>925</locationX>
        <locationY>405</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesDupeExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Lead_Exist</name>
        <label>Does Lead Exist?</label>
        <locationX>1359</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Lead_Owned_by_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Lead_Exist_0</name>
        <label>Does Lead Exist?</label>
        <locationX>1718</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>Alert_BI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesLead_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Lead_Owned_by_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Lead_Exist_0_0</name>
        <label>Does Lead Exist?</label>
        <locationX>1477</locationX>
        <locationY>176</locationY>
        <defaultConnector>
            <targetReference>Get_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesLead_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Lead_Owned_by_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Opp_Exist</name>
        <label>Does Opp Exist?</label>
        <locationX>1850</locationX>
        <locationY>328</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Opp_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecentOpp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Association</targetReference>
            </connector>
            <label>Opp Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Opp_Owner_Exist</name>
        <label>Does Opp Exist?</label>
        <locationX>2131</locationX>
        <locationY>45</locationY>
        <defaultConnector>
            <targetReference>Alert_BI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppOwner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_DocuSign_Related_Objects_Already_Completed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_DocuSign_Related_Objects_Already_Completed</name>
        <label>Is DocuSign Related Objects Already Completed?</label>
        <locationX>2492</locationX>
        <locationY>103</locationY>
        <defaultConnector>
            <targetReference>Check_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocuSignStatus.dsfs__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_Owned_by_User</name>
        <label>Is Lead Owned by User?</label>
        <locationX>1604</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>Alert_BI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesOwned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ownerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>3D00G37000000ksAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_an_A4S</name>
        <label>Is this an A4S?</label>
        <locationX>904</locationX>
        <locationY>29</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocuSignStatus.dsfs__Subject__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Agreement for Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Collection</name>
        <label>Null Collection?</label>
        <locationX>2590</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Document_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>documentLoop</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Recipient_Be_Excluded_0</name>
        <label>Should Recipient Be Excluded?</label>
        <locationX>560</locationX>
        <locationY>20</locationY>
        <defaultConnector>
            <targetReference>Get_Docusign_Status_Doc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Docusign_Recipient_Status.dsfs__DocuSign_Recipient_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@myubiquity.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Docusign_Recipient_Status.dsfs__DocuSign_Recipient_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@broadridge.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Docusign_Recipient_Status.dsfs__DocuSign_Recipient_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@theonline401k.com</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>X401_k_or_Single_k</name>
        <label>401(k) or Single(k)?</label>
        <locationX>975</locationX>
        <locationY>610</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X401_k</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Converted_Opp.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>401(k)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X401_k_Check</targetReference>
            </connector>
            <label>401(k)</label>
        </rules>
        <rules>
            <name>Single_k</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Converted_Opp.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single(k)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XSingle_k_Check_0</targetReference>
            </connector>
            <label>Single(k)</label>
        </rules>
    </decisions>
    <description>Links records related to the Document, based on recipient information.</description>
    <interviewLabel>DocuSign Related Record Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DocuSign | Process | Map Related Records</label>
    <loops>
        <name>Document_Loop</name>
        <label>Document Loop</label>
        <locationX>2609</locationX>
        <locationY>842</locationY>
        <collectionReference>documentLoop</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Related_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Association</name>
        <label>Create Association</label>
        <locationX>1572</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>Get_Association</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_For_Junction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Role__c</field>
            <value>
                <stringValue>Plan Sponsor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>RelevantContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecentOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Associated_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Duplicate_Account</name>
        <label>Delete Duplicate Account</label>
        <locationX>795</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>Get_New_Association</targetReference>
        </connector>
        <inputReference>Get_Account</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Check_Account</name>
        <label>Check Account</label>
        <locationX>2291</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_DocuSign_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedAssociation.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1383</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Duplicate_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Converted_Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>NumberOfEmployees</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_For_Junction</name>
        <label>Get Account</label>
        <locationX>1745</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelevantContact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Association</name>
        <label>Get Association</label>
        <locationX>1573</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Association_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelevantContact.Id</elementReference>
            </value>
        </filters>
        <object>Associated_Contact__c</object>
        <outputAssignments>
            <assignToReference>RelatedAssociation.Account__c</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedAssociation.Contact__c</assignToReference>
            <field>Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedAssociation.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedAssociation.Implementation__c</assignToReference>
            <field>Implementation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedAssociation.Opportunity__c</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1245</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Docusign_Recipient_Status.dsfs__DocuSign_Recipient_Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>RelevantContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_0</name>
        <label>Get Contact</label>
        <locationX>1805</locationX>
        <locationY>483</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Exist_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Docusign_Recipient_Status.Name</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>RelevantContact.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelevantContact.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelevantContact.Name</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelevantContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Converted_Contact</name>
        <label>Get Converted Contact</label>
        <locationX>657</locationX>
        <locationY>407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Converted_Lead.ConvertedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Converted_Lead</name>
        <label>Get Converted Lead</label>
        <locationX>1381</locationX>
        <locationY>537</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Docusign_Recipient_Status.dsfs__DocuSign_Recipient_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ConvertedAccountId</queriedFields>
        <queriedFields>ConvertedOpportunityId</queriedFields>
        <queriedFields>ConvertedContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Converted_Opp</name>
        <label>Get Converted Opp</label>
        <locationX>1045</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X401_k_or_Single_k</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Converted_Lead.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Product_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Docusign_Recipient_Status</name>
        <label>Get Docusign Recipient Status</label>
        <locationX>390</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Recipient_Be_Excluded_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>dsfs__DocuSign_Recipient_Status__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>dsfs__DocuSign_Recipient_Email__c</queriedFields>
        <queriedFields>dsfs__Envelope_Id__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Docusign_Status_Doc</name>
        <label>Get Docusign Status Doc</label>
        <locationX>739</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_an_A4S</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dsfs__DocuSign_Envelope_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Docusign_Recipient_Status.dsfs__Envelope_Id__c</elementReference>
            </value>
        </filters>
        <object>dsfs__DocuSign_Status__c</object>
        <outputReference>DocuSignStatus</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>dsfs__Subject__c</queriedFields>
        <queriedFields>dsfs__Opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Duplicate_Account</name>
        <label>Get Duplicate Account</label>
        <locationX>1145</locationX>
        <locationY>681</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Converted_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ExistingAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>NumberOfEmployees</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>1361</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Lead_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Docusign_Recipient_Status.dsfs__DocuSign_Recipient_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>leadId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ownerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_0</name>
        <label>Get Lead</label>
        <locationX>2007</locationX>
        <locationY>653</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Lead_Exist_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Docusign_Recipient_Status.Name</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>leadId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ownerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_0_0</name>
        <label>Get Lead</label>
        <locationX>1382</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Lead_Exist_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Docusign_Recipient_Status.dsfs__DocuSign_Recipient_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Simply Retirement</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>leadId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ownerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Association</name>
        <label>Get New Association</label>
        <locationX>919</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Association</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Converted_Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Associated_Contact__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>1859</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Opp_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_For_Junction.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>RecentOpp.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Owner</name>
        <label>Get Opportunity Owner</label>
        <locationX>2017</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Opp_Owner_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedAssociation.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>OppOwner.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OppOwner.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Documents</name>
        <label>Get Related Documents</label>
        <locationX>2596</locationX>
        <locationY>452</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dsfs__Subject__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Check_Account.Name</elementReference>
            </value>
        </filters>
        <object>dsfs__DocuSign_Status__c</object>
        <outputReference>documentLoop</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>616</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Delete_Duplicate_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>Get_Account.NumberOfEmployees</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Association</name>
        <label>Update Association</label>
        <locationX>1053</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Association.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>ExistingAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Associated_Contact__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection</name>
        <label>Update Collection</label>
        <locationX>2787</locationX>
        <locationY>842</locationY>
        <inputReference>documentCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>408</locationX>
        <locationY>254</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Converted_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>ExistingAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_DocuSign_Status</name>
        <label>Update DocuSign Status</label>
        <locationX>2290</locationX>
        <locationY>308</locationY>
        <connector>
            <targetReference>Update_Opp_Again</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocuSignStatus.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Implementation__c</field>
            <value>
                <elementReference>RelatedAssociation.Implementation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Owner__c</field>
            <value>
                <elementReference>OppOwner.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dsfs__Company__c</field>
            <value>
                <elementReference>RelatedAssociation.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dsfs__Contact__c</field>
            <value>
                <elementReference>RelevantContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dsfs__Opportunity__c</field>
            <value>
                <elementReference>RelatedAssociation.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>dsfs__DocuSign_Status__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>839</locationX>
        <locationY>407</locationY>
        <connector>
            <targetReference>Get_Converted_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Converted_Opp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>ExistingAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Again</name>
        <label>Update Opp Again</label>
        <locationX>2439</locationX>
        <locationY>453</locationY>
        <connector>
            <targetReference>Get_Related_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppOwner.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>A4S_Document__c</field>
            <value>
                <elementReference>DocuSignStatus.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>X401_k_Check</name>
        <label>401(k)</label>
        <locationX>1251</locationX>
        <locationY>422</locationY>
        <connector>
            <targetReference>Does_Duplicate_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Converted_Opp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012000000000myoAAA</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>XSingle_k_Check_0</name>
        <label>Single(k)</label>
        <locationX>1252</locationX>
        <locationY>271</locationY>
        <connector>
            <targetReference>Does_Duplicate_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Converted_Opp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012000000000mxgAAA</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>18</locationY>
        <connector>
            <targetReference>Get_Docusign_Recipient_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>documentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>dsfs__DocuSign_Status__c</objectType>
    </variables>
    <variables>
        <name>documentLoop</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>dsfs__DocuSign_Status__c</objectType>
    </variables>
    <variables>
        <name>DocuSignStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>dsfs__DocuSign_Status__c</objectType>
    </variables>
    <variables>
        <name>ExistingAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecentOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelatedAssociation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Associated_Contact__c</objectType>
    </variables>
    <variables>
        <name>RelevantContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
