force-app/main/default/flows/Employee_Tech_Access_After_Trigger_Scheduled_Send_Alert_if_Access_Not_Removed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_ANYR_Alert</name>
        <label>Send ANYR Alert</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <actionName>Employee_Technology_Access__c.ETA_Access_Not_Yet_Removed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Employee_Technology_Access__c.ETA_Access_Not_Yet_Removed</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Kotapay_Removal</name>
        <label>Send Kotapay Removal</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>Employee_Technology_Access__c.HR_Kotapay_Access_Removal_Request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Employee_Technology_Access__c.HR_Kotapay_Access_Removal_Request</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Access_Removed_Still_Blank</name>
        <label>Access Removed Still Blank?</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Still_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Access_Removed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_ANYR_Alert</targetReference>
            </connector>
            <label>Still Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Kotapay</name>
        <label>Kotapay?</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kotapay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Kotapay_Removal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>After 6 hours, if Access_Removed_Date is NULL, send alert to Requested_by and Compliance</description>
    <environments>Default</environments>
    <formulas>
        <name>now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Employee Tech Access | After Trigger, Scheduled | Send Alert if Access Not Removed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee Tech Access | After Trigger, Scheduled | Send Alert if Access Not Removed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Kotapay</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Access_Removed_Requested__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Access_Removed_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Employee_Technology_Access__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Access_Not_Yet_Removed_Check</name>
            <connector>
                <targetReference>Access_Removed_Still_Blank</targetReference>
            </connector>
            <label>Access Not Yet Removed Check</label>
            <offsetNumber>6</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
