force-app/main/default/flows/Escalation_Button_Escalate_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Email_Manager</name>
        <label>Email Manager</label>
        <locationX>710</locationX>
        <locationY>3314</locationY>
        <actionName>Escalation__c.Account_Escalated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>newEscalation.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Escalation__c.Account_Escalated</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_Owner</name>
        <label>Email Owner</label>
        <locationX>710</locationX>
        <locationY>3422</locationY>
        <actionName>Escalation__c.Escalation_Assigned</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Fraud_Escalation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>newEscalation.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Escalation__c.Escalation_Assigned</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Suspected_Fraud_Alert</name>
        <label>Suspected Fraud Alert</label>
        <locationX>578</locationX>
        <locationY>3638</locationY>
        <actionName>Escalation__c.Suspected_Fraud_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>newEscalation.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Escalation__c.Suspected_Fraud_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Tag_owner_in_escalation_feed</name>
        <label>Tag owner in escalation feed</label>
        <locationX>710</locationX>
        <locationY>2390</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>attachments_needing_creation_check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>escOwnerChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>newEscalation.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_file_to_collection</name>
        <label>Add file to collection</label>
        <locationX>666</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>fileRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fileRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Define_Files_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Manager</name>
        <label>Assign Default Manager</label>
        <locationX>710</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>newEscalation.Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>directorId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Team_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Owner</name>
        <label>Assign Default Owner</label>
        <locationX>842</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>newEscalation.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>directorId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Escalation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Escalation_Variables</name>
        <label>Assign Escalation Variables</label>
        <locationX>710</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>newEscalation.Escalated_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalated_Account.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEscalation.Escalation_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation_Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEscalation.Escalation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEscalation.Escalation_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEscalation.Escalator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEscalation.Next_Steps__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_Steps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEscalation.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEscalation.Connected_Partner_Involvement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConnectedPartnerInvolvement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEscalation.Escalation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEscalation.Fraud_Suspected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fraud_Suspected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEscalation.Date_of_Fraud_Incident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Fraud_Incident</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEscalation.Date_of_Fraud_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Fraud_Notification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEscalation.Monetary_Implication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_there_any_monetary_implication</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEscalation.PII_Compromised__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_any_reason_to_believe_PII_was_compromised</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEscalation.Compromised_PII_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Compromised_PII_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_File_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>578</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>newEscalation.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Escalation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_new_file_record</name>
        <label>Define new file record</label>
        <locationX>666</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>fileRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newEscalation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fileRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Define_Files_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_file_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>initEscalation</name>
        <label>initEscalation</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>newEscalation.Case__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEscalation.Opportunity__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEscalation.Implementation__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEscalation.Escalated_Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEscalation.Escalation_Contact__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>triggeringContact.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>triggeringContact.Role__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>triggeringContact.AccountId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Object_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_File_Count</name>
        <label>Record File Count</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>filesUploadedCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>fileUploadIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Esc_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_selected_case_on_escalation</name>
        <label>Set selected case on escalation</label>
        <locationX>424</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>newEscalation.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>manuallyChosenCase.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Default_Manager</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Id of director of CE.  At time of writing, it&apos;s Meli Marquez (4/24/2025)</description>
        <name>directorId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00537000000jWLF</stringValue>
        </value>
    </constants>
    <decisions>
        <name>attachments_needing_creation_check</name>
        <label>attachments needing creation check</label>
        <locationX>710</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Escalate_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalation_SPotted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filesUploadedCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_Files_Loop</targetReference>
            </connector>
            <label>Escalation SPotted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cases_Found_Check</name>
        <label>Cases Found Check</label>
        <locationX>556</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cases_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Possible_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>casePickerScreen</targetReference>
            </connector>
            <label>Cases Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_already_have_a_case</name>
        <label>Do we already have a case</label>
        <locationX>710</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_case_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newEscalation.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Possible_Cases</targetReference>
            </connector>
            <label>No case present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esc_Type</name>
        <label>Esc Type</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Do_we_already_have_a_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Saver_Sponsor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Escalation_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saver</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sponsor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Plan</targetReference>
            </connector>
            <label>Saver/Sponsor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fraud_Escalation</name>
        <label>Fraud Escalation?</label>
        <locationX>710</locationX>
        <locationY>3530</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fraud</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fraud_Suspected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suspected_Fraud_Alert</targetReference>
            </connector>
            <label>Fraud</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object_Type</name>
        <label>Object Type</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Escalation_Builder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Origin</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2R</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Imp_Origin</targetReference>
            </connector>
            <label>Implementation</label>
        </rules>
        <rules>
            <name>Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a2o</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Plan_Origin</targetReference>
            </connector>
            <label>Plan</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grab_Case_Origin</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Info</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>If user&apos;s team is client support, escalation owner should be their user&apos;s manager.  Otherwise, default to Meli</description>
        <name>Team_Check</name>
        <label>Team Check</label>
        <locationX>710</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_in_CE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>directorId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner</targetReference>
            </connector>
            <label>User in CE</label>
        </rules>
    </decisions>
    <description>Updated routing.

- If created by someone outside of CE, owner and manager are Meli
- If created by anyone in CE besides Meli, owner is their team lead and manager is Meli</description>
    <dynamicChoiceSets>
        <name>EscalationTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Escalation_Type__c</picklistField>
        <picklistObject>Escalation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>yesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PII_Compromised__c</picklistField>
        <picklistObject>Escalation__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>triggeringContactFormattedRole</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS(TEXT({!triggeringContact.Role__c}),&quot;Advisor&quot;),&quot;Advisor&quot;,
IF(CONTAINS(TEXT({!triggeringContact.Role__c}),&quot;TPA&quot;),&quot;TPA&quot;,
IF(CONTAINS(TEXT({!triggeringContact.Role__c}),&quot;Sponsor&quot;),&quot;Sponsor&quot;,
IF(CONTAINS(TEXT({!triggeringContact.Role__c}),&quot;Saver&quot;),&quot;Saver&quot;,&quot;&quot;))))</expression>
    </formulas>
    <interviewLabel>Escalation | Button | Escalate Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Escalation | Button | Escalate Account</label>
    <loops>
        <name>Define_Files_Loop</name>
        <label>Define Files Loop</label>
        <locationX>578</locationX>
        <locationY>2606</locationY>
        <collectionReference>fileUploadIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Define_new_file_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Commit_content_link_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Commit_content_link_records</name>
        <label>Commit content link records</label>
        <locationX>578</locationX>
        <locationY>3014</locationY>
        <connector>
            <targetReference>Escalate_Account</targetReference>
        </connector>
        <inputReference>fileRecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Escalation</name>
        <label>Create Escalation</label>
        <locationX>710</locationX>
        <locationY>2282</locationY>
        <connector>
            <targetReference>Tag_owner_in_escalation_feed</targetReference>
        </connector>
        <inputReference>newEscalation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Info</name>
        <label>Get Contact Info</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Escalation_Builder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>triggeringContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <queriedFields>Role__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Imp_Origin</name>
        <label>Get Imp Origin</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Escalation_Builder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Implementation__c</object>
        <outputAssignments>
            <assignToReference>triggeringContact.AccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>newEscalation.Implementation__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Origin</name>
        <label>Get Opp Origin</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Escalation_Builder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>triggeringContact.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>newEscalation.Opportunity__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Plan</name>
        <label>Get Plan</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_already_have_a_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Escalated_Account.recordId</elementReference>
            </value>
        </filters>
        <object>Plan__c</object>
        <outputAssignments>
            <assignToReference>newEscalation.Plan__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Plan_Origin</name>
        <label>Get Plan Origin</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Escalation_Builder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Plan__c</object>
        <outputAssignments>
            <assignToReference>triggeringContact.AccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>newEscalation.Plan__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Possible_Cases</name>
        <label>Get Possible Cases</label>
        <locationX>556</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cases_Found_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newEscalation.Escalation_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Plan__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Description</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Grab_Case_Origin</name>
        <label>Grab Case Origin</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Escalation_Builder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>triggeringContact.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>triggeringContact.Id</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>newEscalation.Case__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>newEscalation.Implementation__c</assignToReference>
            <field>Implementation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>newEscalation.Plan__c</assignToReference>
            <field>Plan__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Escalate_Account</name>
        <label>Escalate Account</label>
        <locationX>710</locationX>
        <locationY>3206</locationY>
        <connector>
            <targetReference>Email_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Escalated_Account.recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Escalated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>casePickerScreen</name>
        <label>casePickerScreen</label>
        <locationX>424</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_selected_case_on_escalation</targetReference>
        </connector>
        <fields>
            <name>caseTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Case</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>If this is related to an existing case, please select from the list below.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Possible_Cases</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Subject&quot;,&quot;guid&quot;:&quot;column-5b86&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Subject&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-176a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-40d5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-fdfe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>manuallyChosenCase</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Escalation_Builder</name>
        <label>Escalation Builder</label>
        <locationX>710</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Escalation_Variables</targetReference>
        </connector>
        <fields>
            <name>Escalation_Type</name>
            <choiceReferences>EscalationTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>triggeringContactFormattedRole</elementReference>
            </defaultValue>
            <fieldText>Escalation Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Escalated_Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Escalation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Escalated_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Escalated Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>triggeringContact.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Escalation_Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Escalation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Escalation_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Escalation Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>triggeringContact.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ConnectedPartnerInvolvement</name>
            <dataType>Boolean</dataType>
            <fieldText>Connected Partner Involvement</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Is connected partner aware of, and/or involved in this escalation? (i.e. Principal)&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Fraud_Suspected</name>
            <dataType>Boolean</dataType>
            <fieldText>Fraud Suspected</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;If fraud is suspected, check this box.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_of_Fraud_Incident</name>
            <dataType>Date</dataType>
            <fieldText>Date of Fraud Incident</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Fraud_Suspected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Date_of_Fraud_Notification</name>
            <dataType>Date</dataType>
            <fieldText>Date of Fraud Notification</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Fraud_Suspected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Is_there_any_monetary_implication</name>
            <choiceReferences>yesNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is there any monetary implication?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Fraud_Suspected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_have_any_reason_to_believe_PII_was_compromised</name>
            <choiceReferences>yesNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have any reason to believe PII was compromised?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Fraud_Suspected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Compromised_PII_Reason</name>
            <fieldText>Compromised PII Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_any_reason_to_believe_PII_was_compromised</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Escalation_Notes</name>
            <fieldText>Escalation Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Next_Steps</name>
            <fieldText>Next Steps</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>relatedFiles</name>
            <extensionName>c:Versatile_File_Upload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Related File(s)</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>fileUploadIds</assignToReference>
                <name>cdIDs</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>initEscalation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>escOwnerChatterMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!newEscalation.OwnerId}] ALERT - {!newEscalation.Escalated_Account__r.Name} has escalated!
Please view escalation record for notes and next steps.</text>
    </textTemplates>
    <variables>
        <name>fileRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>fileRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>filesUploadedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>fileUploadIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileUploadLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>manuallyChosenCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>newEscalation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Escalation__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>triggeringContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
