force-app/main/default/flows/Implementation_Update_Update_Active_Imps_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection_0</name>
        <label>Add to Collection</label>
        <locationX>398</locationX>
        <locationY>899</locationY>
        <assignmentItems>
            <assignToReference>advisorContactCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>advisorContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Advisors_Related_to_Imp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Imps_List</name>
        <label>Assign Imps List</label>
        <locationX>551</locationX>
        <locationY>952</locationY>
        <assignmentItems>
            <assignToReference>advisorContact.Current_Active_Clients__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>allActiveImps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>advisorContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Advisors_Related_to_Imp.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_CustomReserve_Imp</name>
        <label>Collect Custom/Reserve Imp</label>
        <locationX>420</locationX>
        <locationY>1486</locationY>
        <assignmentItems>
            <assignToReference>allActiveImps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>customReserveStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Grab_Imp_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Sallus_Imp</name>
        <label>Collect Sallus Imp</label>
        <locationX>570</locationX>
        <locationY>1636</locationY>
        <assignmentItems>
            <assignToReference>allActiveImps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sallusStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Grab_Imp_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Saver_Imp</name>
        <label>Collect Saver Imp</label>
        <locationX>495</locationX>
        <locationY>1561</locationY>
        <assignmentItems>
            <assignToReference>allActiveImps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>saverStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Grab_Imp_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Simply_Imp</name>
        <label>Collect Simply Imp</label>
        <locationX>344</locationX>
        <locationY>1412</locationY>
        <assignmentItems>
            <assignToReference>allActiveImps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>simplyImplementationStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Grab_Imp_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Simply_RKO</name>
        <label>Collect Simply RKO</label>
        <locationX>593</locationX>
        <locationY>1761</locationY>
        <assignmentItems>
            <assignToReference>allActiveImps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>simplyRKOImplementationStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Grab_Imp_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Simply_TPA</name>
        <label>Collect Simply TPA</label>
        <locationX>721</locationX>
        <locationY>1786</locationY>
        <assignmentItems>
            <assignToReference>allActiveImps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>simplyStatusRKOTPA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Grab_Imp_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Wipe_Variable</name>
        <label>Wipe Variable</label>
        <locationX>452</locationX>
        <locationY>1115</locationY>
        <assignmentItems>
            <assignToReference>allActiveImps</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Grab_Imp_Info</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Direct_or_Advisor_Sourced</name>
        <label>Direct or Advisor-Sourced?</label>
        <locationX>158</locationX>
        <locationY>826</locationY>
        <defaultConnectorLabel>Direct</defaultConnectorLabel>
        <rules>
            <name>Advisor_Sourced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>associatedAdvisors</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Advisors_Related_to_Imp</targetReference>
            </connector>
            <label>Advisor-Sourced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Imp_Completed</name>
        <label>Imp Completed?</label>
        <locationX>1049</locationX>
        <locationY>1222</locationY>
        <defaultConnector>
            <targetReference>Step_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Grab_Imp_Info.Implementation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Grab_Imp_Info.Implementation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Start</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Grab_Imp_Info.Implementation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plan Stalled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Grab_Imp_Info.Implementation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Grab_Imp_Info.Implementation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Passive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grab_Imp_Info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Option_Check</name>
        <label>Service Option Check</label>
        <locationX>154</locationX>
        <locationY>356</locationY>
        <defaultConnector>
            <targetReference>Get_Associated_Advisors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service Option Unchanged</defaultConnectorLabel>
        <rules>
            <name>Service_Option_Changed</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Implementation_Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Plan</targetReference>
            </connector>
            <label>Service Option Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Step_Type</name>
        <label>Step Type</label>
        <locationX>893</locationX>
        <locationY>1379</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Custom_Reserve</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom(k)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserve(k)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_CustomReserve_Imp</targetReference>
            </connector>
            <label>Custom/Reserve</label>
        </rules>
        <rules>
            <name>Saver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saver(k)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Saver_Imp</targetReference>
            </connector>
            <label>Saver</label>
        </rules>
        <rules>
            <name>Simply</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement Bundled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Simply_Imp</targetReference>
            </connector>
            <label>Simply</label>
        </rules>
        <rules>
            <name>Simply_TPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Grab_Imp_Info.Contact_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TPA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement Unbundled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Simply_TPA</targetReference>
            </connector>
            <label>Simply TPA</label>
        </rules>
        <rules>
            <name>Simply_RKO</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement Unbundled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Grab_Imp_Info.Contact_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TPA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Simply_RKO</targetReference>
            </connector>
            <label>Simply RKO</label>
        </rules>
        <rules>
            <name>Sallus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Builder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Sallus_Imp</targetReference>
            </connector>
            <label>Sallus</label>
        </rules>
    </decisions>
    <formulas>
        <name>customReserveStatus</name>
        <dataType>String</dataType>
        <expression>IF(({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Implementation Started&quot; ||
{!Grab_Imp_Info.Implementation_Stage__c} = &quot;OPD/PRR Requested&quot; ||
{!Grab_Imp_Info.Implementation_Stage__c} = &quot;OPD/PRR Scheduled&quot;),

{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 1 of 8. Their next step is to schedule the introductory call with their Implementation Specialist.&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;OPD/PRR Complete&quot;,
ISNULL({!Grab_Imp_Info.Payroll_Schedule_Confirmed__c}),
ISNULL({!Grab_Imp_Info.Funding_Account_Confirmed__c}),
ISNULL({!Grab_Imp_Info.Intro_to_K_oncierge_Complete__c})),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 2 of 8. Their next step is to enter the payroll schedule, funding account and company information on the Ubiquity site to facilitate the plan’s ACH setup.&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;OPD/PRR Complete&quot;,
NOT(ISNULL({!Grab_Imp_Info.Payroll_Schedule_Confirmed__c})),
NOT(ISNULL({!Grab_Imp_Info.Funding_Account_Confirmed__c})),
ISNULL({!Grab_Imp_Info.Intro_to_K_oncierge_Complete__c})),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 3 of 8. Their next step is to sign the ACH application. This was emailed to the trustee from dse@docusign.net.&quot; + BR() + BR(),

IF({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Pending Document Signature&quot;,
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 4 of 8 Their next step is to sign the remaining plan documents.&quot; + BR() + BR(),

IF({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census and Payroll Instructions Sent&quot;,
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 5 of 8. Their next step is to watch the census video and upload the required employee census data to the Ubiquity site.&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census/Eligibility Uploaded&quot;, ISNULL({!Grab_Imp_Info.Intro_to_K_oncierge_Complete__c}),
ISNULL({!Grab_Imp_Info.K_oncierge_Initial_Call__c}),
ISNULL({!Grab_Imp_Info.X1st_Payroll_Date__c})),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 6 of 8. Their next step is to ensure the Enrollment Kit is sent to employees and set up an enrollment training session with Ubiquity.&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census/Eligibility Uploaded&quot;, NOT(ISNULL({!Grab_Imp_Info.Intro_to_K_oncierge_Complete__c})),
ISNULL({!Grab_Imp_Info.K_oncierge_Initial_Call__c}),
ISNULL({!Grab_Imp_Info.X1st_Payroll_Date__c})),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 7 of 8. Their next step is the complete the questionnaire and schedule a call with our Payroll (K)oncierge to complete initial payroll setup.&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census/Eligibility Uploaded&quot;, NOT(ISNULL({!Grab_Imp_Info.Intro_to_K_oncierge_Complete__c})),
NOT(ISNULL({!Grab_Imp_Info.K_oncierge_Initial_Call__c})),
ISNULL({!Grab_Imp_Info.X1st_Payroll_Date__c})),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 8 of 8. Their next step is to schedule and attend a training call to report the plan’s first 401(k) contributions. If your client is enrolling in payroll integration services, they will be responsible for reporting 401(k) contributions until the one-time payroll integration setup has been completed.&quot; + BR() + BR(),

IF({!Grab_Imp_Info.Implementation_Stage__c} = &quot;1st Payroll Submitted&quot;,
{!Grab_Imp_Info.Implementation__r.Name} + &quot; has reported the plan’s first 401(k) contributions. Their next step is to wait for contributions to process and wrap up any outstanding payroll setup items with our Payroll (K)oncierge.&quot; + BR() + BR(),

{!Grab_Imp_Info.Implementation__r.Name} + &quot; is currently working with their Implementation Specialist on the plan setup.&quot; + BR() + BR())))))))))</expression>
    </formulas>
    <formulas>
        <name>sallusStatus</name>
        <dataType>String</dataType>
        <expression>IF({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Pending Document Signature&quot;,
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 1 of 7. Their next step is to sign the remaining plan documents.&quot; + BR() + BR(),

IF({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Pending Funding Account Setup&quot;,
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 2 of 7. Their next step is to enter the payroll schedule, funding account and company information on the Ubiquity site to facilitate the plan’s ACH setup.&quot; + BR() + BR(),

IF({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Pending Client ACH Signature&quot;,
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 3 of 7. Their next step is to sign the ACH application. This was emailed to the trustee from dse@docusign.net.&quot; + BR() + BR(),

IF({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census and Payroll Instructions Sent&quot;,
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 4 of 7. Their next step is to watch the census video and upload the required employee census data to the Ubiquity site.&quot;+ BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census/Eligibility Uploaded&quot;, ISNULL({!Grab_Imp_Info.Intro_to_K_oncierge_Complete__c}),
ISNULL({!Grab_Imp_Info.K_oncierge_Initial_Call__c}),
ISNULL({!Grab_Imp_Info.X1st_Payroll_Date__c})),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 5 of 7. Their next step is to ensure the Enrollment Kit is sent to employees. &quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census/Eligibility Uploaded&quot;, NOT(ISNULL({!Grab_Imp_Info.Intro_to_K_oncierge_Complete__c})),
ISNULL({!Grab_Imp_Info.K_oncierge_Initial_Call__c}),
ISNULL({!Grab_Imp_Info.X1st_Payroll_Date__c})),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 6 of 7. Their next step is the complete the questionnaire and schedule a call with our Payroll (K)oncierge to complete initial payroll setup.&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census/Eligibility Uploaded&quot;, NOT(ISNULL({!Grab_Imp_Info.Intro_to_K_oncierge_Complete__c})),
NOT(ISNULL({!Grab_Imp_Info.K_oncierge_Initial_Call__c})),
ISNULL({!Grab_Imp_Info.X1st_Payroll_Date__c})),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 7 of 7. Their next step is to schedule and attend a training call to report the plan’s first 401(k) contributions. If your client is enrolling in payroll integration services, they will be responsible for reporting 401(k) contributions until the one-time payroll integration setup has been completed.&quot; + BR() + BR(),

IF({!Grab_Imp_Info.Implementation_Stage__c} = &quot;1st Payroll Submitted&quot;,
{!Grab_Imp_Info.Implementation__r.Name} + &quot; has reported the plan’s first 401(k) contributions. . Their next step is to wait for contributions to process and wrap up any outstanding payroll setup items with our Payroll (K)oncierge.&quot; + BR() + BR(),

{!Grab_Imp_Info.Implementation__r.Name} + &quot; is currently working with their Implementation Specialist on the plan setup.&quot;+ BR() + BR()))))))))</expression>
    </formulas>
    <formulas>
        <name>saverStatus</name>
        <dataType>String</dataType>
        <expression>IF(({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Implementation Started&quot; ||
{!Grab_Imp_Info.Implementation_Stage__c} = &quot;OPD/PRR Requested&quot; ||
{!Grab_Imp_Info.Implementation_Stage__c} = &quot;OPD/PRR Scheduled&quot;),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 1 of 8. Their next step is to schedule the introductory call with their Implementation Specialist.&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;OPD/PRR Complete&quot;,
ISNULL({!Grab_Imp_Info.Payroll_Schedule_Confirmed__c}),
ISNULL({!Grab_Imp_Info.Funding_Account_Confirmed__c}),
ISNULL({!Grab_Imp_Info.Intro_to_K_oncierge_Complete__c})),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 2 of 8. Their next step is to enter the payroll schedule, funding account and company information on the Ubiquity site to facilitate the plan’s ACH setup.&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;OPD/PRR Complete&quot;,
NOT(ISNULL({!Grab_Imp_Info.Payroll_Schedule_Confirmed__c})),
NOT(ISNULL({!Grab_Imp_Info.Funding_Account_Confirmed__c})),
ISNULL({!Grab_Imp_Info.Intro_to_K_oncierge_Complete__c})),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 3 of 8. Their next step is to sign the ACH application. This was emailed to the trustee from dse@docusign.net.&quot; + BR() + BR(),

IF({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Pending Document Signature&quot;,
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 4 of 8 Their next step is to sign the remaining plan documents.&quot; + BR() + BR(),

IF({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census and Payroll Instructions Sent&quot;,
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 5 of 8. Their next step is to watch the census video and upload the required employee census data to the Ubiquity site.&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census/Eligibility Uploaded&quot;, ISNULL({!Grab_Imp_Info.Intro_to_K_oncierge_Complete__c}),
ISNULL({!Grab_Imp_Info.K_oncierge_Initial_Call__c}),
ISNULL({!Grab_Imp_Info.X1st_Payroll_Date__c})),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 6 of 8. Their next step is to ensure the Enrollment Kit is sent to employees.&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census/Eligibility Uploaded&quot;, NOT(ISNULL({!Grab_Imp_Info.Intro_to_K_oncierge_Complete__c})),
ISNULL({!Grab_Imp_Info.K_oncierge_Initial_Call__c}),
ISNULL({!Grab_Imp_Info.X1st_Payroll_Date__c})),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 7 of 8. Their next step is the complete the questionnaire and schedule a call with our Payroll (K)oncierge to complete initial payroll setup.&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census/Eligibility Uploaded&quot;, NOT(ISNULL({!Grab_Imp_Info.Intro_to_K_oncierge_Complete__c})),
NOT(ISNULL({!Grab_Imp_Info.K_oncierge_Initial_Call__c})),
ISNULL({!Grab_Imp_Info.X1st_Payroll_Date__c})),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 8 of 8. Their next step is to schedule and attend a training call to report the plan’s first 401(k) contributions. If your client is enrolling in payroll integration services, they will be responsible for reporting 401(k) contributions until the one-time payroll integration setup has been completed.&quot; + BR() + BR(),

IF({!Grab_Imp_Info.Implementation_Stage__c} = &quot;1st Payroll Submitted&quot;,
{!Grab_Imp_Info.Implementation__r.Name} + &quot; has reported the plan’s first 401(k) contributions. Their next step is to wait for contributions to process and wrap up any outstanding payroll setup items with our Payroll (K)oncierge.&quot; + BR() + BR(),

{!Grab_Imp_Info.Implementation__r.Name} + &quot; is currently working with their Implementation Specialist on the plan setup.&quot; + BR() + BR())))))))))</expression>
    </formulas>
    <formulas>
        <name>simplyImplementationStatus</name>
        <dataType>String</dataType>
        <expression>IF(({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Implementation Started&quot; || {!Grab_Imp_Info.Implementation_Stage__c} = &quot;Pending Document Signature&quot;),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 1 of 6. Their next step is to sign the remaining plan documents.&quot; + BR() + BR(),

IF({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Pending Funding Account Setup&quot;,
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 2 of 6. Their next step is to enter the payroll schedule, funding account and company information on the Ubiquity site to facilitate the plan’s ACH setup.&quot; + BR() + BR(),

IF({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Pending Client ACH Signature&quot;,
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 3 of 6. Their next step is to sign the ACH application. This was emailed to the trustee from dse@docusign.net.&quot; + BR() + BR(),

IF({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census and Payroll Instructions Sent&quot;,
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 4 of 6. Their next step is to watch the census video and upload the required employee census data to the Ubiquity site.&quot;+ BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census/Eligibility Uploaded&quot;, ISNULL({!Grab_Imp_Info.Intro_to_K_oncierge_Complete__c})),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 5 of 6. Their next step is to ensure the Enrollment Kit is sent to employees. &quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census/Eligibility Uploaded&quot;, NOT(ISNULL({!Grab_Imp_Info.Intro_to_K_oncierge_Complete__c}))),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 6 of 6. Their next step is to complete the questionnaire, schedule a call with our Payroll (K)oncierge to complete initial payroll setup, and attend a training call to report the plan’s first 401(k) contributions. If your client is enrolling in payroll integration services, they will be responsible for reporting 401(k) contributions until the one-time payroll integration setup has been completed.&quot; + BR() + BR(),


IF({!Grab_Imp_Info.Implementation_Stage__c} = &quot;1st Payroll Submitted&quot;,
{!Grab_Imp_Info.Implementation__r.Name} + &quot; has reported the plan’s first 401(k) contributions. . Their next step is to wait for contributions to process and wrap up any outstanding payroll setup items with our Payroll (K)oncierge.&quot; + BR() + BR(),

{!Grab_Imp_Info.Implementation__r.Name} + &quot; is currently working with their Implementation Specialist on the plan setup.&quot;+ BR() + BR())))))))</expression>
    </formulas>
    <formulas>
        <name>simplyRKOImplementationStatus</name>
        <dataType>String</dataType>
        <expression>IF(({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Implementation Started&quot; || {!Grab_Imp_Info.Implementation_Stage__c} = &quot;Pending Document Signature&quot;),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 1 of 7 Their next step is to sign the remaining plan documents and (optional) schedule the introductory call with their Implementation Specialist.&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Pending Funding Account Setup&quot;,
ISNULL({!Grab_Imp_Info.TPA_Documents_Uploaded__c})),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 2 of 7. The next step is for the TPA to upload the Summary Plan Description (SPD) and Fee Disclosure (if available).&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Pending Funding Account Setup&quot;,
NOT(ISNULL({!Grab_Imp_Info.TPA_Documents_Uploaded__c}))),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 3 of 7. Their next step is to enter the payroll schedule, funding account and company information on the Ubiquity site to facilitate the plan’s ACH setup.&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Pending Client ACH Signature&quot;,
ISNULL({!Grab_Imp_Info.TPA_Documents_Uploaded__c})),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 4 of 7. Their next step is to sign the ACH application. This was emailed to the trustee from dse@docusign.net. Also, the TPA needs to upload the Summary Plan Description (SPD) and Fee Disclosure (if available).&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Pending Client ACH Signature&quot;,
NOT(ISNULL({!Grab_Imp_Info.TPA_Documents_Uploaded__c}))),
{!Grab_Imp_Info.Implementation__r.Name} + &quot;is on Step 4 of 7. Their next step is to sign the ACH application. This was emailed to the trustee from dse@docusign.net.&quot; + BR() + BR(),

IF({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census and Payroll Instructions Sent&quot;,
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 5 of 7. Their next step is to watch the census video and upload the required employee census data to the Ubiquity site.&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census/Eligibility Uploaded&quot;, ISNULL({!Grab_Imp_Info.Intro_to_K_oncierge_Complete__c})),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 6 of 7. Their next step is to ensure the Enrollment Kit is sent to employees.&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census/Eligibility Uploaded&quot;, NOT(ISNULL({!Grab_Imp_Info.Intro_to_K_oncierge_Complete__c}))),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 7 of 7. Their next step is to follow the payroll setup instructions that were emailed to them, and if more support is needed, to schedule a call with our Payroll (K)oncierge. If your client would like to enroll in payroll integration services, they will need to schedule a call with the (K)oncierge. Note: In the meantime, they will still need to manually report 401(k) contributions.&quot; + BR() + BR(),


IF({!Grab_Imp_Info.Implementation_Stage__c} = &quot;1st Payroll Submitted&quot;,
{!Grab_Imp_Info.Implementation__r.Name} + &quot; has reported the plan’s first 401(k) contributions. Their next step is to wait for contributions to process and wrap up any outstanding payroll setup items with our Payroll (K)oncierge.&quot; + BR() + BR(),

{!Grab_Imp_Info.Implementation__r.Name} + &quot; is currently working with their Implementation Specialist on the plan setup.&quot;+ BR() + BR())))))))))</expression>
    </formulas>
    <formulas>
        <name>simplyStatusRKOTPA</name>
        <dataType>String</dataType>
        <expression>IF(({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Implementation Started&quot; || {!Grab_Imp_Info.Implementation_Stage__c} = &quot;Pending Document Signature&quot;),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 1 of 7 Their next step is to sign the remaining plan documents and (optional) schedule the introductory call with their Implementation Specialist.&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Pending Funding Account Setup&quot;,
ISNULL({!Grab_Imp_Info.TPA_Documents_Uploaded__c})),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 2 of 7. The next step is for you, the TPA, is to upload the Summary Plan Description (SPD) and Fee Disclosure (if available).&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Pending Funding Account Setup&quot;,
NOT(ISNULL({!Grab_Imp_Info.TPA_Documents_Uploaded__c}))),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 3 of 7. Their next step is to enter the payroll schedule, funding account and company information on the Ubiquity site to facilitate the plan’s ACH setup.&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Pending Client ACH Signature&quot;,
ISNULL({!Grab_Imp_Info.TPA_Documents_Uploaded__c})),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 4 of 7. Their next step is to sign the ACH application. This was emailed to the trustee from dse@docusign.net. The next step for you, the TPA, is to upload the Summary Plan Description (SPD) and Fee Disclosure (if available).&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Pending Client ACH Signature&quot;,
NOT(ISNULL({!Grab_Imp_Info.TPA_Documents_Uploaded__c}))),
{!Grab_Imp_Info.Implementation__r.Name} + &quot;is on Step 4 of 7. Their next step is to sign the ACH application. This was emailed to the trustee from dse@docusign.net.&quot; + BR() + BR(),

IF({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census and Payroll Instructions Sent&quot;,
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 5 of 7. Their next step is to watch the census video and upload the required employee census data to the Ubiquity site.&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census/Eligibility Uploaded&quot;, ISNULL({!Grab_Imp_Info.Intro_to_K_oncierge_Complete__c})),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 6 of 7. Their next step is to ensure the Enrollment Kit is sent to employees.&quot; + BR() + BR(),

IF(AND({!Grab_Imp_Info.Implementation_Stage__c} = &quot;Census/Eligibility Uploaded&quot;, NOT(ISNULL({!Grab_Imp_Info.Intro_to_K_oncierge_Complete__c}))),
{!Grab_Imp_Info.Implementation__r.Name} + &quot; is on Step 7 of 7. Their next step is to follow the payroll setup instructions that were emailed to them, and if more support is needed, to schedule a call with our Payroll (K)oncierge. If your client would like to enroll in payroll integration services, they will need to schedule a call with the (K)oncierge. Note: In the meantime, they will still need to manually report 401(k) contributions.&quot; + BR() + BR(),


IF({!Grab_Imp_Info.Implementation_Stage__c} = &quot;1st Payroll Submitted&quot;,
{!Grab_Imp_Info.Implementation__r.Name} + &quot; has reported the plan’s first 401(k) contributions. Their next step is to wait for contributions to process and wrap up any outstanding payroll setup items with our Payroll (K)oncierge.&quot; + BR() + BR(),

{!Grab_Imp_Info.Implementation__r.Name} + &quot; is currently working with their Implementation Specialist on the plan setup.&quot;+ BR() + BR())))))))))</expression>
    </formulas>
    <interviewLabel>Implementation | Update | Update Active Imps List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Implementation | Update | Update Active Imps List</label>
    <loops>
        <name>Grab_Imp_Info</name>
        <label>Grab Imp Info</label>
        <locationX>549</locationX>
        <locationY>1131</locationY>
        <collectionReference>Get_Associations_to_other_Plans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Imp_Completed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Imps_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Advisors_Related_to_Imp</name>
        <label>Loop Through Advisors Related to Imp</label>
        <locationX>164</locationX>
        <locationY>1066</locationY>
        <collectionReference>associatedAdvisors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Associations_to_other_Plans</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Associated_Advisors</name>
        <label>Get Associated Advisors</label>
        <locationX>165</locationX>
        <locationY>666</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Direct_or_Advisor_Sourced</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Implementation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial Advisor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Role__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>TPA</stringValue>
            </value>
        </filters>
        <object>Associated_Contact__c</object>
        <outputReference>associatedAdvisors</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Implementation_Stage__c</queriedFields>
        <queriedFields>Implementation_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Associations_to_other_Plans</name>
        <label>Get Associations to other Plans</label>
        <locationX>340</locationX>
        <locationY>1102</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Wipe_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Advisors_Related_to_Imp.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Implementation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>163</locationX>
        <locationY>1319</locationY>
        <inputReference>advisorContactCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Plan</name>
        <label>Update Plan</label>
        <locationX>393</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Get_Associated_Advisors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Implementation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Option__c</field>
            <value>
                <elementReference>$Record.Service_Option__c</elementReference>
            </value>
        </inputAssignments>
        <object>Plan__c</object>
    </recordUpdates>
    <start>
        <locationX>34</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Service_Option_Check</targetReference>
        </connector>
        <object>Implementation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>advisorContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>advisorContactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>allActiveImps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>associatedAdvisors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Associated_Contact__c</objectType>
    </variables>
    <variables>
        <name>enrollmentLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://info.simplyretirement.com/l/836343/2021-07-06/l18dp/836343/1625600511c2vltnjm/SR_Advisor_Enrollment_Deck.pdf</stringValue>
        </value>
    </variables>
</Flow>
