force-app/main/default/flows/Implementation_After_Trigger_Single_k_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Alert_to_Owner</name>
        <label>Send Alert to Owner</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>Implementation__c.New_Single_k_Plus_Implementation_Created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Implementation__c.New_Single_k_Plus_Implementation_Created</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Implementations | After Trigger | Single(k)+ Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Implementation | After Trigger | Single(k)+ Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Imp_Case</name>
        <label>Create New Imp Case</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Send_Alert_to_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Source__c</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Plan Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Check Implementation record for details and next steps</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G00000006sDWf</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>$Record.Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012370000005thqAAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Alert: New Implementation Created</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_New_Imp_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Option__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Single(k) Plus</stringValue>
            </value>
        </filters>
        <object>Implementation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
