force-app/main/default/flows/Implementation_Before_Trigger_Auto_Escalation_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Auto</name>
        <label>Assign Auto</label>
        <locationX>638</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>aeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto-Escalate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Max_Rate_Determination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flat</name>
        <label>Assign Flat</label>
        <locationX>1085</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>aeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flat</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>maxRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>initialRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Imp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Bundled_Max</name>
        <label>Bundled Max</label>
        <locationX>779</locationX>
        <locationY>771</locationY>
        <assignmentItems>
            <assignToReference>maxRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>10</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Imp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Saver_Max</name>
        <label>Saver Max</label>
        <locationX>635</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>maxRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Imp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unbundled_Max</name>
        <label>Unbundled Max</label>
        <locationX>216</locationX>
        <locationY>885</locationY>
        <assignmentItems>
            <assignToReference>maxRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>15</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Imp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Flat_or_Auto</name>
        <label>Flat or Auto</label>
        <locationX>881</locationX>
        <locationY>378</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Auto_Enrollment_Deferral_Escalation_Rate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Flat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flat</targetReference>
            </connector>
            <label>Flat</label>
        </rules>
        <rules>
            <name>Auto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Auto_Enrollment_Deferral_Escalation_Rate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Auto-Escalate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Auto</targetReference>
            </connector>
            <label>Auto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_Rate_Determination</name>
        <label>Max Rate Determination</label>
        <locationX>626</locationX>
        <locationY>626</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Unbundled</name>
            <conditionLogic>1 AND (2 or 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Unbundled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Maximum_Deferral_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unbundled_Max</targetReference>
            </connector>
            <label>Unbundled</label>
        </rules>
        <rules>
            <name>Saver_k</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Saver</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom(k)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserve(k)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Maximum_Deferral_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Saver_Max</targetReference>
            </connector>
            <label>Saver(k), Custom(k), and Reserve(k)</label>
        </rules>
        <rules>
            <name>Bundled</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement Bundled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Maximum_Deferral_Rate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bundled_Max</targetReference>
            </connector>
            <label>Bundled</label>
        </rules>
    </decisions>
    <description>3/2/23 Modified initialRate formula to allow for double digit (10%) initial rate</description>
    <environments>Default</environments>
    <formulas>
        <name>initialRate</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!$Record.Auto_Enrollment_Deferral_Escalation_Rate__c}), FIND(&quot;%&quot;, TEXT({!$Record.Auto_Enrollment_Deferral_Escalation_Rate__c}))-1)</expression>
    </formulas>
    <interviewLabel>Implementation | Before Trigger | Auto Escalation Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Implementation | Before Trigger | Auto Escalation Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Imp</name>
        <label>Update Imp</label>
        <locationX>897</locationX>
        <locationY>983</locationY>
        <inputAssignments>
            <field>Auto_Enroll_Escalation_Type__c</field>
            <value>
                <elementReference>aeType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Deferral_Rate__c</field>
            <value>
                <elementReference>initialRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximum_Deferral_Rate__c</field>
            <value>
                <elementReference>maxRate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>763</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Flat_or_Auto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Auto_Enrollment_Deferral_Escalation_Rate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Implementation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>aeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>maxRate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
