force-app/main/default/flows/Implementation_ONETIME_Create_Project_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Start_Date</name>
        <label>Add Start Date</label>
        <locationX>822</locationX>
        <locationY>1906</locationY>
        <assignmentItems>
            <assignToReference>taskLoop.Actual_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>954</locationX>
        <locationY>2122</locationY>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PD_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Task</name>
        <label>Assign to Task</label>
        <locationX>1153</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>taskLoop.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PD_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Implementation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PD_Loop.Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.KPI_Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PD_Loop.KPI_Milestone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Responsible_Party__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PD_Loop.Responsible_Party__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PD_Loop.Status_Upon_Creation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PD_Loop.Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Expected_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpectedStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Expected_Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpectedCompletion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Project_Deliverable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PD_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PD_Loop.Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Upon_Creation_In_Progress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Task_Current_Record_Owner_0</name>
        <label>Assign to Task (Current Record Owner)</label>
        <locationX>888</locationX>
        <locationY>1475</locationY>
        <assignmentItems>
            <assignToReference>taskLoop.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PD_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Implementation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cycle_Through_Imps.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.KPI_Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PD_Loop.KPI_Milestone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Responsible_Party__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PD_Loop.Responsible_Party__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PD_Loop.Status_Upon_Creation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PD_Loop.Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Expected_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpectedStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Expected_Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpectedCompletion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Project_Deliverable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PD_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cycle_Through_Imps.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Upon_Creation_In_Progress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Task_Current_Record_Owner_0_0</name>
        <label>Assign to Task (Current Record Owner)</label>
        <locationX>624</locationX>
        <locationY>1474</locationY>
        <assignmentItems>
            <assignToReference>taskLoop.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PD_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Implementation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.KPI_Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PD_Loop.KPI_Milestone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Responsible_Party__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PD_Loop.Responsible_Party__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PD_Loop.Status_Upon_Creation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PD_Loop.Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Expected_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpectedStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Expected_Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpectedCompletion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.Project_Deliverable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PD_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLoop.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Upon_Creation_In_Progress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Start_Date</name>
        <label>Remove Start Date</label>
        <locationX>1086</locationX>
        <locationY>1906</locationY>
        <assignmentItems>
            <assignToReference>taskLoop.Actual_Start_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Activate_Upon_Creation</name>
        <label>Activate Upon Creation?</label>
        <locationX>856</locationX>
        <locationY>981</locationY>
        <defaultConnector>
            <targetReference>PD_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesActivate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PD_Loop.Status_Upon_Creation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PD_Loop.Status_Upon_Creation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Current_Record_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_to_Current_Record_Owner</name>
        <label>Assign to Current Record Owner?</label>
        <locationX>954</locationX>
        <locationY>1234</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAssign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PD_Loop.Assign_to_Current_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Owner_a_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_a_task_already_exist</name>
        <label>Does a task already exist?</label>
        <locationX>382</locationX>
        <locationY>899</locationY>
        <defaultConnector>
            <targetReference>PD_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingTask.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cycle_Through_Imps</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_a_Queue</name>
        <label>Is Owner a Queue?</label>
        <locationX>756</locationX>
        <locationY>1354</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Task_Current_Record_Owner_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesQueue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cycle_Through_Imps.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Task_Current_Record_Owner_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Upon_Creation_In_Progress</name>
        <label>Status Upon Creation = In Progress?</label>
        <locationX>954</locationX>
        <locationY>1786</locationY>
        <defaultConnector>
            <targetReference>Remove_Start_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesInProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PD_Loop.Status_Upon_Creation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Start_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WBS_Exists</name>
        <label>WBS Exists?</label>
        <locationX>668</locationX>
        <locationY>658</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>wbs.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Deliverables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <expression>NOW()+{!End}</expression>
    </formulas>
    <formulas>
        <name>ExpectedCompletion</name>
        <dataType>Date</dataType>
        <expression>{!ExpectedStart}+{!PD_Loop.Days_to_Complete__c}</expression>
    </formulas>
    <formulas>
        <name>ExpectedStart</name>
        <dataType>Date</dataType>
        <expression>IF(ISPICKVAL({!PD_Loop.Controlling_Date_Field__c}, &quot;Blackout Start Date&quot;), 
{!Cycle_Through_Imps.Blackout_Start_Date__c}+{!PD_Loop.Expected_Start_Days_from_Creation__c},
DATEVALUE({!Cycle_Through_Imps.CreatedDate}+{!PD_Loop.Expected_Start_Days_from_Creation__c}))</expression>
    </formulas>
    <formulas>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <expression>NOW()+{!Start}</expression>
    </formulas>
    <interviewLabel>Implementation | ONETIME | Create Project Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Implementation | ONETIME | Create Project Tasks</label>
    <loops>
        <name>Cycle_Through_Imps</name>
        <label>Cycle Through Imps</label>
        <locationX>468</locationX>
        <locationY>502</locationY>
        <collectionReference>Get_Imp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Imp_WBS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>PD_Loop</name>
        <label>PD Loop</label>
        <locationX>536</locationX>
        <locationY>898</locationY>
        <collectionReference>Get_Project_Deliverables</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Activate_Upon_Creation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cycle_Through_Imps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>263</locationX>
        <locationY>500</locationY>
        <inputReference>taskCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Tasks</name>
        <label>Get Existing Tasks</label>
        <locationX>391</locationX>
        <locationY>658</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_a_task_already_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Implementation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cycle_Through_Imps.Id</elementReference>
            </value>
        </filters>
        <object>Project_Task__c</object>
        <outputAssignments>
            <assignToReference>existingTask.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Imp</name>
        <label>Get Imp</label>
        <locationX>469</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cycle_Through_Imps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Implementation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Imp_WBS</name>
        <label>Get Imp WBS</label>
        <locationX>668</locationX>
        <locationY>538</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WBS_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Custodian__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Cycle_Through_Imps.Custodian__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Object_Managed__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Plan_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cycle_Through_Imps.Plan_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Option__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Cycle_Through_Imps.Service_Option__c</elementReference>
            </value>
        </filters>
        <object>Work_Breakdown_Structure__c</object>
        <outputAssignments>
            <assignToReference>wbs.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Deliverables</name>
        <label>Get Project Deliverables</label>
        <locationX>536</locationX>
        <locationY>658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Breakdown_Structure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>wbs.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Deliverables__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>343</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Imp</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Plan_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conversion Plan</stringValue>
            </value>
        </filters>
        <filters>
            <field>Implementation_Status__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Implementation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Implementation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Plan Stalled</stringValue>
            </value>
        </filters>
        <object>Implementation__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2021-04-05</startDate>
            <startTime>12:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>End</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>existingTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>Milestone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResponsibleParty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Start</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>taskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>taskLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>wbs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Work_Breakdown_Structure__c</objectType>
    </variables>
</Flow>
