force-app/main/default/flows/Implementation_Before_Trigger_Update_Custodian_Agreement_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Custodian_Account_Number_Received</name>
        <label>Custodian Account Number Received</label>
        <locationX>774</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>X07c_Number_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Date Field</defaultConnectorLabel>
        <rules>
            <name>Enter_Date_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Custodial_Account_Number_Received__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Custodian_Account_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Date_Recieved</targetReference>
            </connector>
            <label>Enter Date Field</label>
        </rules>
    </decisions>
    <decisions>
        <name>X07c_Number_Validation</name>
        <label>07c Number Validation</label>
        <locationX>791</locationX>
        <locationY>630</locationY>
        <defaultConnectorLabel>07c Not Found</defaultConnectorLabel>
        <rules>
            <name>X07c_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Custodian_Account_ID__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>07c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Custodian_Account_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Custodian_Agreement_Checkbox</targetReference>
            </connector>
            <label>07c Found</label>
        </rules>
    </decisions>
    <description>When Custodian Account ID STARTS WITH 07c, change Custodian Agreement to True.</description>
    <environments>Default</environments>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Implementation | Before Trigger | Update Custodian Agreement Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Implementation | Before Trigger | Update Custodian Agreement Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Record_Date_Recieved</name>
        <label>Record Date Received</label>
        <locationX>675</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>X07c_Number_Validation</targetReference>
        </connector>
        <inputAssignments>
            <field>Custodial_Account_Number_Received__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custodial_Account_Setup__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Custodian_Agreement_Checkbox</name>
        <label>Update Custodian Agreement Checkbox</label>
        <locationX>797</locationX>
        <locationY>811</locationY>
        <inputAssignments>
            <field>Custodial_Agreement__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>652</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Custodian_Account_Number_Received</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Custodian_Account_ID__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Implementation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
