force-app/main/default/flows/Implementation_After_Trigger_Update_Useable_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Advisor_Email</name>
        <label>Add Advisor Email</label>
        <locationX>1568</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>clientAC.Primary_Advisor_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Loop.Useable_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Advisor_Email_0</name>
        <label>Add Advisor Email</label>
        <locationX>1832</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>clientAC.Secondary_Advisor_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Loop.Useable_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Advisor_Email_0_0</name>
        <label>Add Advisor Email</label>
        <locationX>2096</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>clientAC.Tertiary_Advisor_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Loop.Useable_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Client_Email</name>
        <label>Add Client Email</label>
        <locationX>1048</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>clientAC.Additional_Trustee_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Loop.Useable_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Client_Id_Not_Present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Id</name>
        <label>Add Id</label>
        <locationX>864</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>clientAC.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>clientAC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AC_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Id_0</name>
        <label>Add Id</label>
        <locationX>1086</locationX>
        <locationY>1374</locationY>
        <assignmentItems>
            <assignToReference>primaryCatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AC_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>1260</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>acCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AC_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AC_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Collection_0</name>
        <label>Add To Collection</label>
        <locationX>1568</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>acCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AC_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AC_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Collection_0_0</name>
        <label>Add To Collection</label>
        <locationX>2492</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>acCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AC_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AC_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Collection_0_0_0_0</name>
        <label>Add To Collection</label>
        <locationX>1832</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>acCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AC_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AC_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Collection_0_0_0_0_0</name>
        <label>Add To Collection</label>
        <locationX>2096</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>acCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AC_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AC_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_TPA_Email</name>
        <label>Add TPA Email</label>
        <locationX>2360</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>clientAC.TPA_Operational_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Loop.Useable_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Primary</name>
        <label>Assign New Primary</label>
        <locationX>754</locationX>
        <locationY>1210</locationY>
        <assignmentItems>
            <assignToReference>clientAC.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>primaryCatch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientAC.Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>clientAC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Client_ACs_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Defaults</name>
        <label>Set Defaults</label>
        <locationX>776</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>clientAC.Primary_Advisor_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientAC.TPA_Operational_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientAC.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientAC.Additional_Trustee_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientAC.Secondary_Advisor_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientAC.Tertiary_Advisor_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AC_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Email</name>
        <label>Update Email</label>
        <locationX>1832</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>AC_Loop.Useable_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Loop.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AC_Role</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AC_Role</name>
        <label>AC Role</label>
        <locationX>1832</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>AC_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>AC_Loop.Contact_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Plan Sponsor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AC_Loop.Contact_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Trustee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AC_Loop.Contact_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Authorized Buyer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AC_Loop.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Id</targetReference>
            </connector>
            <label>Client</label>
        </rules>
        <rules>
            <name>Secondary_Client</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>AC_Loop.Contact_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Plan Sponsor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AC_Loop.Contact_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Trustee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AC_Loop.Contact_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Authorized Buyer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AC_Loop.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Secondary_Client_Email_Verification</targetReference>
            </connector>
            <label>Secondary Client</label>
        </rules>
        <rules>
            <name>Primary_Advisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AC_Loop.Contact_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Advisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientAC.Primary_Advisor_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Advisor_Email</targetReference>
            </connector>
            <label>Primary Advisor</label>
        </rules>
        <rules>
            <name>Secondary_Advisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AC_Loop.Contact_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Advisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientAC.Primary_Advisor_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientAC.Secondary_Advisor_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Advisor_Email_0</targetReference>
            </connector>
            <label>Secondary Advisor</label>
        </rules>
        <rules>
            <name>Tertiary_Advisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AC_Loop.Contact_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Advisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientAC.Primary_Advisor_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientAC.Secondary_Advisor_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientAC.Tertiary_Advisor_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Advisor_Email_0_0</targetReference>
            </connector>
            <label>Tertiary Advisor</label>
        </rules>
        <rules>
            <name>TPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AC_Loop.Contact_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TPA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientAC.TPA_Operational_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPA_Email_Verification</targetReference>
            </connector>
            <label>TPA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_Id_Not_Present</name>
        <label>Client Id Not Present</label>
        <locationX>1348</locationX>
        <locationY>1272</locationY>
        <defaultConnector>
            <targetReference>Add_To_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Client_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientAC.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Id_0</targetReference>
            </connector>
            <label>Client Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_Id_Present</name>
        <label>Client Id Present</label>
        <locationX>665</locationX>
        <locationY>898</locationY>
        <defaultConnector>
            <targetReference>Client_ACs_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientAC.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_ACs_0</targetReference>
            </connector>
            <label>Client Found</label>
        </rules>
        <rules>
            <name>Client_Not_Found_Secondary_Caught</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primaryCatch</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientAC.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Primary</targetReference>
            </connector>
            <label>Client Not Found, Secondary Caught</label>
        </rules>
    </decisions>
    <decisions>
        <name>Secondary_Client_Email_Verification</name>
        <label>Secondary Client Email Verification</label>
        <locationX>1230</locationX>
        <locationY>1018</locationY>
        <defaultConnector>
            <targetReference>Client_Id_Not_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Client_Useable_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientAC.Additional_Trustee_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Client_Email</targetReference>
            </connector>
            <label>Client Useable Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>TPA_Email_Verification</name>
        <label>TPA Email Verification</label>
        <locationX>2492</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Add_To_Collection_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>TPA_Useable_Email</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>AC_Loop.Contact_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TPA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientAC.TPA_Operational_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AC_Loop.Contact_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TPA - Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_TPA_Email</targetReference>
            </connector>
            <label>TPA Useable Email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Implementation | After Trigger | Update Useable Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Implementation | After Trigger | Update Useable Emails</label>
    <loops>
        <name>AC_Loop</name>
        <label>AC Loop</label>
        <locationX>776</locationX>
        <locationY>623</locationY>
        <collectionReference>Get_Related_ACs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Client_Id_Present</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_ACs</name>
        <label>Get Related ACs</label>
        <locationX>776</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Defaults</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Implementation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Contact__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Client_ACs_0</name>
        <label>Update ACs</label>
        <locationX>587</locationX>
        <locationY>1461</locationY>
        <inputReference>acCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Related_ACs</targetReference>
        </connector>
        <object>Implementation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>600</triggerOrder>
    <variables>
        <name>acCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Associated_Contact__c</objectType>
    </variables>
    <variables>
        <name>clientAC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Associated_Contact__c</objectType>
    </variables>
    <variables>
        <name>primaryCatch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
