force-app/main/default/flows/Implementation_After_Trigger_Send_Client_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Finch_1st_Call_Follow_Up</name>
        <label>Finch 1st Call Follow Up</label>
        <locationX>670</locationX>
        <locationY>1033</locationY>
        <actionName>Associated_Contact__c.Implementation_After_1st_Call_Finch</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>aCon.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Implementation_After_1st_Call_Finch</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Finch_2nd_Call_Follow_Up</name>
        <label>Finch 2nd Call Follow Up</label>
        <locationX>644</locationX>
        <locationY>1356</locationY>
        <actionName>Associated_Contact__c.Implementation_After_2nd_Call_Finch</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>aCon.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Implementation_After_2nd_Call_Finch</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Finch_Simply_1st_Call_Follow_Up</name>
        <label>Finch Simply 1st Call Follow Up</label>
        <locationX>803</locationX>
        <locationY>1088</locationY>
        <actionName>Associated_Contact__c.Implementation_After_1st_Call_Finch_Simply_Branded</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>aCon.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Implementation_After_1st_Call_Finch_Simply_Branded</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Finch_Simply_2nd_Call_Follow_Up</name>
        <label>Finch Simply 2nd Call Follow Up</label>
        <locationX>524</locationX>
        <locationY>1551</locationY>
        <actionName>Associated_Contact__c.Implementation_After_2nd_Call_Finch_Simply_Branded</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>aCon.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Implementation_After_2nd_Call_Finch_Simply_Branded</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Sallus_Post_1st_Call</name>
        <label>Sallus Post 1st Call</label>
        <locationX>679</locationX>
        <locationY>1152</locationY>
        <actionName>Associated_Contact__c.Implementation_After_1st_Call_Sallus</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>aCon.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Implementation_After_1st_Call_Sallus</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Sallus_Post_2nd_Call</name>
        <label>Sallus Post 2nd Call</label>
        <locationX>339</locationX>
        <locationY>1547</locationY>
        <actionName>Associated_Contact__c.Implementation_After_2nd_Call_Sallus</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>aCon.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Implementation_After_2nd_Call_Sallus</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_1st_Call_Follow_Up</name>
        <label>Send 1st Call Follow Up</label>
        <locationX>529</locationX>
        <locationY>1040</locationY>
        <actionName>Associated_Contact__c.Implementation_After_1st_Call</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>aCon.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Implementation_After_1st_Call</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_1st_Call_Follow_up_Unbundled</name>
        <label>Send 1st Call Follow up, Unbundled</label>
        <locationX>528</locationX>
        <locationY>842</locationY>
        <actionName>Associated_Contact__c.Implementation_After_1st_Call_Unbundled</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>aCon.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Implementation_After_1st_Call_Unbundled</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_2nd_Call_Follow_Up</name>
        <label>Send 2nd Call Follow Up</label>
        <locationX>529</locationX>
        <locationY>1249</locationY>
        <actionName>Associated_Contact__c.Implementation_After_2nd_Call</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>aCon.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Implementation_After_2nd_Call</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Conversion_Welcome_Email</name>
        <label>Send Conversion Welcome Email</label>
        <locationX>672</locationX>
        <locationY>414</locationY>
        <actionName>Associated_Contact__c.Implementation_Started_Auto_Email_Conversion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>aCon.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Implementation_Started_Auto_Email_Conversion</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_RKO_Conversion_Welcome_Email</name>
        <label>Send RKO Conversion Welcome Email</label>
        <locationX>894</locationX>
        <locationY>449</locationY>
        <actionName>Associated_Contact__c.Implementation_Started_Auto_Email_RKO_Conversion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>aCon.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Implementation_Started_Auto_Email_RKO_Conversion</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Sallus_Welcome_Email</name>
        <label>Send Sallus Welcome Email</label>
        <locationX>531</locationX>
        <locationY>638</locationY>
        <actionName>Associated_Contact__c.Implementation_Started_Auto_Email_Sallus</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>aCon.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Implementation_Started_Auto_Email_Sallus</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Schwab_Welcome_Email</name>
        <label>Send Schwab Welcome Email</label>
        <locationX>680</locationX>
        <locationY>714</locationY>
        <actionName>Associated_Contact__c.Implementation_Started_Auto_Email_UBQT_SCHWAB</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>aCon.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Implementation_Started_Auto_Email_UBQT_SCHWAB</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Simply_Self_Service_Email</name>
        <label>Send Simply Self-Service Email</label>
        <locationX>683</locationX>
        <locationY>552</locationY>
        <actionName>Associated_Contact__c.Implementation_Started_Auto_Email_Simply_Self_Service</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>aCon.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Implementation_Started_Auto_Email_Simply_Self_Service</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Solo_K_Conversion_Welcome_Email</name>
        <label>Send Solo K Conversion Welcome Email</label>
        <locationX>907</locationX>
        <locationY>627</locationY>
        <actionName>Associated_Contact__c.Implementation_Started_Auto_Email_SoloK_Conversion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>aCon.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Implementation_Started_Auto_Email_SoloK_Conversion</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_UBQT_Welcome_Email</name>
        <label>Send UBQT Welcome Email</label>
        <locationX>536</locationX>
        <locationY>453</locationY>
        <actionName>Associated_Contact__c.Implementation_Started_Auto_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>aCon.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Implementation_Started_Auto_Email</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Simply_Post_1st_Call</name>
        <label>Simply Post 1st Call</label>
        <locationX>786</locationX>
        <locationY>954</locationY>
        <actionName>Associated_Contact__c.Implementation_After_1st_Call_Simply</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>aCon.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Implementation_After_1st_Call_Simply</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Simply_Post_2nd_Call</name>
        <label>Simply Post 2nd Call</label>
        <locationX>523</locationX>
        <locationY>1421</locationY>
        <actionName>Associated_Contact__c.Implementation_After_2nd_Call_Simply</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>aCon.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Implementation_After_2nd_Call_Simply</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Client_Verification_0</name>
        <label>Client Verification</label>
        <locationX>204</locationX>
        <locationY>452</locationY>
        <defaultConnectorLabel>Client Missing</defaultConnectorLabel>
        <rules>
            <name>Client_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>aCon.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Implementation_Started</targetReference>
            </connector>
            <label>Client Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Implementation_Started</name>
        <label>Implementation Started</label>
        <locationX>207</locationX>
        <locationY>727</locationY>
        <defaultConnector>
            <targetReference>Intro_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ubiquity Retirement + Savings</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Implementation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Assignment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Custodian__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Schwab &amp; Co., Inc.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Custodian__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Schwab Trust</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plan_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_UBQT_Welcome_Email</targetReference>
            </connector>
            <label>Record Created</label>
        </rules>
        <rules>
            <name>RKO_Conversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ubiquity Retirement + Savings</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Implementation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Assignment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plan_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conversion Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RK Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_RKO_Conversion_Welcome_Email</targetReference>
            </connector>
            <label>RKO Conversion</label>
        </rules>
        <rules>
            <name>Solo_K_Conversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ubiquity Retirement + Savings</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Implementation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Assignment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plan_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conversion Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single(k) Plus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Solo_K_Conversion_Welcome_Email</targetReference>
            </connector>
            <label>Solo K Conversion</label>
        </rules>
        <rules>
            <name>Conversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ubiquity Retirement + Savings</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Implementation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Assignment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plan_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conversion Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Conversion_Welcome_Email</targetReference>
            </connector>
            <label>Conversion</label>
        </rules>
        <rules>
            <name>Sallus_Record_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sallus Retirement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Implementation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Assignment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Sallus_Welcome_Email</targetReference>
            </connector>
            <label>Sallus Record Created</label>
        </rules>
        <rules>
            <name>Simply_Record_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Implementation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Assignment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Simply_Self_Service_Email</targetReference>
            </connector>
            <label>Simply Record Created</label>
        </rules>
        <rules>
            <name>Schwab</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Custodian__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Schwab</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Implementation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Assignment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Schwab_Welcome_Email</targetReference>
            </connector>
            <label>Schwab</label>
        </rules>
    </decisions>
    <decisions>
        <name>Intro_Call</name>
        <label>Intro Call</label>
        <locationX>204</locationX>
        <locationY>999</locationY>
        <defaultConnector>
            <targetReference>X2nd_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Intro_Call_Completed_Finch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Introductory_Call__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Introductory_Call__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Offered_Finch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Single_Bank_and_Payroll_Schedule__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Finch_Opt_Out__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Interested_After_Aborting_Finch_Cred__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Interested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ubiquity Retirement + Savings</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finch_1st_Call_Follow_Up</targetReference>
            </connector>
            <label>Intro Call Completed, Finch</label>
        </rules>
        <rules>
            <name>Intro_Call_Completed_Finch_Simply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Introductory_Call__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Introductory_Call__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Offered_Finch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Single_Bank_and_Payroll_Schedule__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Finch_Opt_Out__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Interested_After_Aborting_Finch_Cred__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Interested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finch_Simply_1st_Call_Follow_Up</targetReference>
            </connector>
            <label>Intro Call Completed, Finch Simply</label>
        </rules>
        <rules>
            <name>Intro_Call_Completed_Simply_Bundled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Introductory_Call__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Introductory_Call__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement Bundled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Simply</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Simply_Post_1st_Call</targetReference>
            </connector>
            <label>Intro Call Completed, Simply Bundled</label>
        </rules>
        <rules>
            <name>Intro_Call_Completed_Unbundled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Introductory_Call__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Introductory_Call__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement Unbundled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Simply</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_1st_Call_Follow_up_Unbundled</targetReference>
            </connector>
            <label>Intro Call Completed, Unbundled</label>
        </rules>
        <rules>
            <name>Intro_Call_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Introductory_Call__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Introductory_Call__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ubiquity Retirement + Savings</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_1st_Call_Follow_Up</targetReference>
            </connector>
            <label>Intro Call Completed</label>
        </rules>
        <rules>
            <name>Intro_Call_Completed_Sallus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Introductory_Call__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Introductory_Call__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sallus Retirement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sallus_Post_1st_Call</targetReference>
            </connector>
            <label>Intro Call Completed Sallus</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2nd_Call</name>
        <label>2nd Call</label>
        <locationX>205</locationX>
        <locationY>1314</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X2nd_Call_Complete_Finch_Simply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Census_Call_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Census_Call_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Offered_Finch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Single_Bank_and_Payroll_Schedule__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Finch_Opt_Out__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Interested_After_Aborting_Finch_Cred__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Interested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finch_Simply_2nd_Call_Follow_Up</targetReference>
            </connector>
            <label>2nd Call Complete, Finch Simply</label>
        </rules>
        <rules>
            <name>X2nd_Call_Complete_Finch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Census_Call_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Census_Call_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Offered_Finch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Single_Bank_and_Payroll_Schedule__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Finch_Opt_Out__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Interested_After_Aborting_Finch_Cred__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Interested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ubiquity Retirement + Savings</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finch_2nd_Call_Follow_Up</targetReference>
            </connector>
            <label>2nd Call Complete, Finch</label>
        </rules>
        <rules>
            <name>X2nd_Call_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Census_Call_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Census_Call_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ubiquity Retirement + Savings</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_2nd_Call_Follow_Up</targetReference>
            </connector>
            <label>2nd Call Complete</label>
        </rules>
        <rules>
            <name>X2nd_Call_Complete_Simply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Census_Call_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Census_Call_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Simply_Post_2nd_Call</targetReference>
            </connector>
            <label>2nd Call Complete, Simply</label>
        </rules>
        <rules>
            <name>X2nd_Call_Complete_Sallus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Census_Call_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Census_Call_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sallus Retirement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sallus_Post_2nd_Call</targetReference>
            </connector>
            <label>2nd Call Complete, Sallus</label>
        </rules>
    </decisions>
    <description>Update SImply Welcome Email to Self Service Email.
Changed introductory call conditions from &quot;Intro_Call_Complete__c&quot; to &quot;Introductory_Call__c&quot; to better mesh with changes to Implementation | After Trigger | Update Imp Call Steps with new validations</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Implementation | After Trigger | Send Client Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Implementation | After Trigger | Send Client Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AC</name>
        <label>Get AC</label>
        <locationX>213</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Client_Verification_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Implementation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Associated_Contact__c</object>
        <outputReference>aCon</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>92</locationX>
        <locationY>14</locationY>
        <connector>
            <targetReference>Get_AC</targetReference>
        </connector>
        <filterLogic>((1 AND ((4 AND 5) OR (6 AND 7))) OR 2) AND 3</filterLogic>
        <filters>
            <field>Implementation_Status__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Implementation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Assignment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Suppress_All_Emails__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Intro_Call_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Intro_Call_Complete__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Census_Call_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Census_Call_Complete__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Implementation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>aCon</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Associated_Contact__c</objectType>
    </variables>
    <variables>
        <name>completeTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>openProjTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
</Flow>
