force-app/main/default/flows/Lead_Before_Update_Master_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Advisor_Firm</name>
        <label>Company Name Update Needed</label>
        <locationX>248</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Lead_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Advisory_Firm_Name_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Advisory_Firm__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Advisory_Firm__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Company_Name</targetReference>
            </connector>
            <label>Advisory Firm Name Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Association_Lead_Decision</name>
        <label>Association Lead?</label>
        <locationX>248</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Advisor_Firm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Association_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Member Organization</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Associated_Partner_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Associated_Partner</targetReference>
            </connector>
            <label>Association Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Closed</name>
        <label>Lead Closed</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unable to Qualify</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Closed_Field</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <description>Added logic from PB Sales | Lead Closed Date Field</description>
    <environments>Default</environments>
    <interviewLabel>Lead | Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead | Before Update | Master Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Associated_Partner</name>
        <label>Update Associated Partner</label>
        <locationX>116</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Advisor_Firm</targetReference>
        </connector>
        <inputAssignments>
            <field>Associated_Partner__c</field>
            <value>
                <elementReference>$Record.Associated_Partner_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Company_Name</name>
        <label>Update Company Name</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Advisory_Firm__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Closed_Field</name>
        <label>Update Lead Closed Field</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>Lead_Close_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Association_Lead_Decision</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
