force-app/main/default/flows/Lead_Default_Values_for_Partnerships.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Advisor_Defaults</name>
        <label>Assign Advisor Defaults</label>
        <locationX>1403</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012000000000n0fAAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSourceDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simply Advisor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Simply_Source_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Sallus_Values</name>
        <label>Assign Default Sallus Values</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.How_did_you_hear_about_Ubiquity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Method_of_First_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Referral</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_sallus_lead_source_detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Simply_Values</name>
        <label>Assign Default Simply Values</label>
        <locationX>1403</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Connected_Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simply Retirement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.How_did_you_hear_about_Ubiquity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simply Retirement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simply Retirement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Method_of_First_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Referral</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>401(k)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Major Partner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simply Retirement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simply Retirement</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Type_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Employer_Defaults</name>
        <label>Assign Employer Defaults</label>
        <locationX>1667</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Auto_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EACA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Simply_Source_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sallus_default_LSD</name>
        <label>Assign Sallus default LSD</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadSourceDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sallus Team</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Simply_TPA_Defaults</name>
        <label>Assign Simply TPA Defaults</label>
        <locationX>1139</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012000000000n0fAAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSourceDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simply TPA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Simply_Source_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fix_Sallus_Source_Source_Detail</name>
        <label>Fix Sallus Source + Source Detail</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sallus</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSourceDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sallus Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Default_Sallus_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_custom_lsd</name>
        <label>Set custom lsd</label>
        <locationX>1106</locationX>
        <locationY>1427</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadSourceDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Proposal.Lead_Source_Detail__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Generic_Simply_Advisor_Values</name>
        <label>Set Generic Simply Advisor Values</label>
        <locationX>1370</locationX>
        <locationY>1427</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadSourceDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simply Advisor</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_OneDigital_Values</name>
        <label>Set OneDigital Values</label>
        <locationX>842</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.X3_38__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OneDigital</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSourceDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OneDigital</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_PSIvet_Values</name>
        <label>Set PSIvet Values</label>
        <locationX>578</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadSourceDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PSIvet</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Associated_Contact_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Financial Advisor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Associated_Partner_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Financial Advisory Firm</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Simply_Direct_Values</name>
        <label>Set Simply Direct Values</label>
        <locationX>1898</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadSourceDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simply Direct</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Simply_TPA_Values</name>
        <label>Set Simply TPA Values</label>
        <locationX>1634</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadSourceDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simply TPA</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_for_custom_LSD</name>
        <label>Check for custom LSD</label>
        <locationX>1238</locationX>
        <locationY>1319</locationY>
        <defaultConnector>
            <targetReference>Set_Generic_Simply_Advisor_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Custom_lsd_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Proposal.Lead_Source_Detail__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_custom_lsd</targetReference>
            </connector>
            <label>Custom lsd found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_sallus_lead_source_detail</name>
        <label>Check for sallus lead source detail</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_Sallus_LSD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sallus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sallus_default_LSD</targetReference>
            </connector>
            <label>Missing Sallus LSD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Type_Check</name>
        <label>Lead Type Check</label>
        <locationX>1535</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Simply_Source_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Simply_TPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TPA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Simply_TPA_Defaults</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Simply TPA</label>
        </rules>
        <rules>
            <name>Simply_Advisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Advisor_Defaults</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Simply Advisor</label>
        </rules>
        <rules>
            <name>Simply_Employer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Employer_Defaults</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Simply Employer</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>Sallus Lead</label>
        <locationX>858</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Simply_Lead_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Sallus Lead</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sallus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sallus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sallus_Advisor_Correction</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Sallus Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>Expecting a lead with source = Advisor, LSD = Sallus</description>
        <name>Sallus_Advisor_Correction</name>
        <label>Sallus Advisor Correction</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_Sallus_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incoming_Sallus_Advisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sallus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fix_Sallus_Source_Source_Detail</targetReference>
            </connector>
            <label>Incoming Sallus Advisor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Simply_Lead_Check</name>
        <label>Simply Lead Check</label>
        <locationX>1535</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Lead_Type_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Simply Lead Created</defaultConnectorLabel>
        <rules>
            <name>New_Simply_Lead_Created</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Simply_Values</targetReference>
            </connector>
            <label>New Simply Lead Created</label>
        </rules>
    </decisions>
    <decisions>
        <description>Strict conditions for simply direct, due to some false positives and evolving data/fields.  Never change lead source detail to &quot;direct&quot; from another simply lead source detail.</description>
        <name>Simply_Source_Check</name>
        <label>Simply Source Check</label>
        <locationX>1535</locationX>
        <locationY>995</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Simply_Advisor_Sourced_Lead</name>
            <conditionLogic>(1 OR 3) AND 2 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Advisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Associated_Contact_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Advisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Specific_Partner_Check</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Simply Advisor Sourced Lead</label>
        </rules>
        <rules>
            <name>Simply_TPA_Sourced_Lead</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply TPA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Associated_Contact__r.Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TPA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Simply_TPA_Values</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Simply TPA Sourced Lead</label>
        </rules>
        <rules>
            <name>Simply_Direct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Associated_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referrer_s_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Associated_Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Simply Advisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Simply TPA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Simply_Direct_Values</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Simply Direct</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is this a generic simply advisor source, or is it sourced by a partner that we&apos;re tracking seperately?</description>
        <name>Specific_Partner_Check</name>
        <label>Specific Partner Check</label>
        <locationX>908</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Find_Proposal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Generic Simply Advisor</defaultConnectorLabel>
        <rules>
            <name>PSIvet</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Associated_Contact__r.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>darby.affeldt@northstarfinancial.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referrer_s_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>darby.affeldt@northstarfinancial.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PSIvet_Values</targetReference>
            </connector>
            <label>PSIvet</label>
        </rules>
        <rules>
            <name>OneDigital</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referrer_s_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@onedigital.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Associated_Contact__r.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@onedigital.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OneDigital_Values</targetReference>
            </connector>
            <label>OneDigital</label>
        </rules>
    </decisions>
    <description>Updated for leafhouse build to apply leafhouse LSD

Migrated from the Lead | Default Values for Partnerships process using multiple criteria.
Sets default values to Partnership Leads</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_TRUE_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp;
ISPICKVAL({!$Record.Business_Unit__c}, &quot;Simply Retirement&quot;)</expression>
    </formulas>
    <formulas>
        <description>The classic</description>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Lead | Default Values for Partnerships {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead | Before Save | Default Values for Partnerships</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Proposal</name>
        <label>Find Proposal</label>
        <locationX>1238</locationX>
        <locationY>1211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_custom_LSD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Company_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Proposal__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Lead_Source_Detail__c</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_3</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 OR 2 OR 3 OR 4</filterLogic>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Simply Retirement</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Sallus</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSourceDetail__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Sallus</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Simply Retirement</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
