force-app/main/default/flows/Opportunity_After_Trigger_Create_Task_for_Upgrade_and_Add_On_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Upgrade_Alert</name>
        <label>Send Upgrade Alert</label>
        <locationX>358</locationX>
        <locationY>1139</locationY>
        <actionName>Opportunity.Upgrade_Upgrade_Created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Upgrade_Upgrade_Created</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Subject_addon</name>
        <label>Assign Subject addon</label>
        <locationX>358</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>taskSubj</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Follow Up on Add-On for </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskSubj</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subject_Upgrade</name>
        <label>Assign Subject Upgrade</label>
        <locationX>94</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>taskSubj</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Follow Up on Upgrade for </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskSubj</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Created</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_newly_assigned_check</name>
        <label>Is newly assigned check</label>
        <locationX>578</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Assignment</name>
            <conditionLogic>(NOT 1 AND 2) OR (NOT 1 AND 3 AND (4 OR 5 OR 6 OR 7))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RetirementPlanConsultant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Director_of_Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SVP_Strategy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upgrade_vs_Addon</targetReference>
            </connector>
            <label>New Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Upgrade_vs_Addon</name>
        <label>Upgrade vs Addon</label>
        <locationX>358</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Task_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Upgrade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subject_Upgrade</targetReference>
            </connector>
            <label>Upgrade</label>
        </rules>
        <rules>
            <name>Addon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add-On Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subject_addon</targetReference>
            </connector>
            <label>Addon</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Service_Option</name>
        <label>Which Service Option ?</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_newly_assigned_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CY</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CensiblyYours_Prior338</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CensiblyYours - No Prior 3(38)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Product</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>CY</label>
        </rules>
        <rules>
            <name>EPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enhanced Payroll Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Product1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>EPS</label>
        </rules>
        <rules>
            <name>Fund_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fund Lineup Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Add_Product</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Fund Change</label>
        </rules>
        <rules>
            <name>Plan_Provision_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plan Provision Changes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Add_Product</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Plan Provision Change</label>
        </rules>
    </decisions>
    <description>Added SVP - Strategy as notif recipient

Creates tasks for Upgrade and Add-On Products.</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>subject</name>
        <dataType>String</dataType>
        <expression>&apos;Follow up on Upgrade for &apos; + {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>Subject_Add_On</name>
        <dataType>String</dataType>
        <expression>&apos;Follow Up on Add-On for &apos; + {!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Opportunity | After Trigger | Create Task for Upgrade and Add-On Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity | After Trigger | Create Task for Upgrade and Add-On Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Task_Created</name>
        <label>Create Task</label>
        <locationX>358</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Send_Upgrade_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>taskSubj</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Associated_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Service_Option</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.Service_Option__c}) ||
ISCHANGED({!$Record.OwnerId}) ||
ISNEW()</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Product</name>
        <label>Add Product</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_newly_assigned_check</targetReference>
        </connector>
        <flowName>Update_Opportunity_Line_Items</flowName>
        <inputAssignments>
            <name>ProductFamily</name>
            <value>
                <stringValue>Add-On</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>productId</name>
            <value>
                <stringValue>01t1G000002f0SiQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Add_Product1</name>
        <label>Add Product</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_newly_assigned_check</targetReference>
        </connector>
        <flowName>Update_Opportunity_Line_Items</flowName>
        <inputAssignments>
            <name>Discount</name>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProductFamily</name>
            <value>
                <stringValue>Add-On</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>productId</name>
            <value>
                <stringValue>01t1G000002f0SnQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_1_of_Add_Product</name>
        <label>Add Product</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_newly_assigned_check</targetReference>
        </connector>
        <flowName>Update_Opportunity_Line_Items</flowName>
        <inputAssignments>
            <name>ProductFamily</name>
            <value>
                <stringValue>Add-On</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>productId</name>
            <value>
                <stringValue>01t000000005SIwAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_2_of_Add_Product</name>
        <label>Add Product</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_newly_assigned_check</targetReference>
        </connector>
        <flowName>Update_Opportunity_Line_Items</flowName>
        <inputAssignments>
            <name>ProductFamily</name>
            <value>
                <stringValue>Add-On</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>productId</name>
            <value>
                <stringValue>01t1G000002f1E5QAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>taskSubj</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
