force-app/main/default/flows/Opportunity_Autolaunched_Product_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_1_to_loop_count</name>
        <label>Add 1 to loop count</label>
        <locationX>457</locationX>
        <locationY>4028</locationY>
        <assignmentItems>
            <assignToReference>loopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_PB_entries_to_relevant_standard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_callout_message_to_line_item_description</name>
        <label>Add callout message to line item description</label>
        <locationX>1062</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>oppLineItem.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Option_Product_Loop.Price_Difference_Message__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_primary_to_opp_product_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_child_line_item_to_collection</name>
        <label>Add child line item to collection</label>
        <locationX>930</locationX>
        <locationY>2480</locationY>
        <assignmentItems>
            <assignToReference>newOppProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_leftmost_code_from_potential_child</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_conversion_item_to_list</name>
        <label>Add conversion item to list</label>
        <locationX>1282</locationX>
        <locationY>2372</locationY>
        <assignmentItems>
            <assignToReference>newOppProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conversion_product_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_new_comp_to_opp_product_collection</name>
        <label>Add new comp to opp product collection</label>
        <locationX>699</locationX>
        <locationY>3512</locationY>
        <assignmentItems>
            <assignToReference>newOppProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_comp_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_prev_service_opt_to_line_item_collection</name>
        <label>Add prev service opt to line item collection</label>
        <locationX>138</locationX>
        <locationY>2264</locationY>
        <assignmentItems>
            <assignToReference>newOppProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Previous_service_option_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_primary_to_opp_product_collection</name>
        <label>Add primary to opp product collection</label>
        <locationX>1194</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>newOppProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_primary_for_product_codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_product_code_s_to_collection</name>
        <label>Add product code(s) to collection</label>
        <locationX>930</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>productCodeSearchableCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>parent2ChildCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productCodeDigestible</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productCodeFirstRemoved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_primary_for_product_codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_child_opp_line_item</name>
        <label>Define child opp line item</label>
        <locationX>930</locationX>
        <locationY>2372</locationY>
        <assignmentItems>
            <assignToReference>oppLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Child_product_loop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppLineItem.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Child_product_loop.Price_Difference_Message__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_child_line_item_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Conversion_line_item</name>
        <label>Define Conversion line item</label>
        <locationX>1282</locationX>
        <locationY>2264</locationY>
        <assignmentItems>
            <assignToReference>oppLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conversion_product_loop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_conversion_item_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_new_comp_product</name>
        <label>Define new comp product</label>
        <locationX>699</locationX>
        <locationY>3404</locationY>
        <assignmentItems>
            <assignToReference>oppLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_comp_loop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppLineItem.Discount_Percentage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_new_comp_to_opp_product_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_opp_prod_and_code</name>
        <label>Define opp prod and code</label>
        <locationX>1194</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>oppLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Option_Product_Loop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productCodeDigestible</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Option_Product_Loop.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_price_difference_message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_previous_service_opt_opp_line_item</name>
        <label>Define previous service opt opp line item</label>
        <locationX>138</locationX>
        <locationY>2156</locationY>
        <assignmentItems>
            <assignToReference>oppLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Previous_service_option_loop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppLineItem.Discount_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>200.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_prev_service_opt_to_line_item_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mm_tasty_product_codes</name>
        <label>Mm tasty product codes</label>
        <locationX>1150</locationX>
        <locationY>2156</locationY>
        <assignmentItems>
            <assignToReference>productCodeDigestible</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Child_product_loop.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_child_code_in_searchable_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_leftmost_code_from_potential_child</name>
        <label>Remove leftmost code from potential child</label>
        <locationX>1150</locationX>
        <locationY>2672</locationY>
        <assignmentItems>
            <assignToReference>productCodeDigestible</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productCodeFirstRemoved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_child_code_in_searchable_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_non_parent_code</name>
        <label>Remove non parent code</label>
        <locationX>1194</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>productCodeDigestible</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productCodeFirstRemoved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_primary_for_product_codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_employee_count</name>
        <label>Set employee count</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>oppRecord.Number_of_Employees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forceEmployeeCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_active_pricebook_entries_in_this_PB_and_Standard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stamp_Standard_Price</name>
        <label>Stamp Standard Price</label>
        <locationX>545</locationX>
        <locationY>4352</locationY>
        <assignmentItems>
            <assignToReference>Standard_Price_Stamp_Loop.Standard_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standard_Entry_Loop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOppProducts</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <elementReference>loopCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOppProducts</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Standard_Price_Stamp_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Standard_Entry_Loop</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_entries_to_child_products</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter entries to child products</label>
        <locationX>842</locationX>
        <locationY>1940</locationY>
        <assignNextValueToReference>currentItem_Filter_entries_to_child_products</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>newPBActiveEntries</collectionReference>
        <conditionLogic>(1 OR 2) AND 3</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_entries_to_child_products.ProductCode</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <stringValue>c</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_entries_to_child_products.ProductCode</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>;c</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_entries_to_child_products.Pricebook2Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>currentPB.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Child_product_loop</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_entries_to_conversion_products</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter entries to conversion products</label>
        <locationX>1194</locationX>
        <locationY>2048</locationY>
        <assignNextValueToReference>currentItem_Filter_entries_to_conversion_products</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>newPBActiveEntries</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_entries_to_conversion_products.Product_Family__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Conversion</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_entries_to_conversion_products.Pricebook2Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>oppRecord.Pricebook2Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Conversion_product_loop</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_PB_Entries_to_new_comp</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter PB Entries to new comp</label>
        <locationX>611</locationX>
        <locationY>3188</locationY>
        <assignNextValueToReference>currentItem_Filter_PB_Entries_to_new_comp</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>newPBActiveEntries</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_PB_Entries_to_new_comp.Product_Family__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>New Comp</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_PB_Entries_to_new_comp.Pricebook2Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>currentPB.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>New_comp_loop</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_PB_entries_to_relevant_standard</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter PB entries to relevant standard</label>
        <locationX>457</locationX>
        <locationY>4136</locationY>
        <assignNextValueToReference>currentItem_Filter_PB_entries_to_relevant_standard</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>newPBActiveEntries</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_PB_entries_to_relevant_standard.Pricebook2Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>01s0000000000doAAA</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_PB_entries_to_relevant_standard.Product2Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Standard_Price_Stamp_Loop.Product2Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Standard_Entry_Loop</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_products_to_previous_service_option</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter products to previous service option</label>
        <locationX>50</locationX>
        <locationY>1940</locationY>
        <assignNextValueToReference>currentItem_Filter_products_to_previous_service_option</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>newPBActiveEntries</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_products_to_previous_service_option.Service_Option__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>oppRecord.Previous_Service_Option__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_products_to_previous_service_option.Pricebook2Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>currentPB.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Previous_service_option_loop</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_to_entries_that_match_service_option</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to entries that match service option</label>
        <locationX>842</locationX>
        <locationY>650</locationY>
        <assignNextValueToReference>currentItem_Filter_to_entries_that_match_service_option</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>newPBActiveEntries</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_entries_that_match_service_option.Service_Option__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>oppRecord.Service_Option__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_to_entries_that_match_service_option.Pricebook2Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>currentPB.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Service_Option_Product_Loop</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>Split between upgrade and typical opps</description>
        <name>Additional_product_type_split</name>
        <label>Additional product type split</label>
        <locationX>842</locationX>
        <locationY>1832</locationY>
        <defaultConnectorLabel>NO PRODUCTS FOUND</defaultConnectorLabel>
        <rules>
            <name>Needs_upgrade_additional_products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oppRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oppRecord.Previous_Service_Option__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_products_to_previous_service_option</targetReference>
            </connector>
            <label>Needs upgrade additional products</label>
        </rules>
        <rules>
            <name>Needs_typical_additional_products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productCodeSearchableCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_entries_to_child_products</targetReference>
            </connector>
            <label>Needs typical additional products</label>
        </rules>
        <rules>
            <name>Products_but_no_codes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newOppProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>productCodeSearchableCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Conversion_Check</targetReference>
            </connector>
            <label>Products but no codes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_opp_products_to_create</name>
        <label>Are there opp products to create?</label>
        <locationX>611</locationX>
        <locationY>3704</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Line_items_needing_insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newOppProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_this_the_standard_PB</targetReference>
            </connector>
            <label>Line items needing insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_overrides</name>
        <label>Check for overrides</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_all_active_pricebook_entries_in_this_PB_and_Standard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Employee_count_forced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forceEmployeeCount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_employee_count</targetReference>
            </connector>
            <label>Employee count forced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_price_difference_message</name>
        <label>Check for price difference message</label>
        <locationX>1194</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Add_primary_to_opp_product_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Message_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Option_Product_Loop.Price_Difference_Message__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Option_Product_Loop.Callout_Standard_Price_Difference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_callout_message_to_line_item_description</targetReference>
            </connector>
            <label>Message found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_child_code_in_searchable_collection</name>
        <label>Check if child code in searchable collection</label>
        <locationX>1150</locationX>
        <locationY>2264</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Child_product_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Child_code_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productCodeSearchableCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>isolatedProductCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>productCodeDigestible</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_child_opp_line_item</targetReference>
            </connector>
            <label>Child code match</label>
        </rules>
        <rules>
            <name>No_match_remaining_codes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productCodeDigestible</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_leftmost_code_from_potential_child</targetReference>
            </connector>
            <label>No match, remaining codes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_primary_for_product_codes</name>
        <label>Check primary for product codes</label>
        <locationX>1194</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Service_Option_Product_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>One_or_more_parent_prod_codes_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productCodeDigestible</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>productCodeDigestible</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>p</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_product_code_s_to_collection</targetReference>
            </connector>
            <label>One or more parent prod codes present</label>
        </rules>
        <rules>
            <name>Non_parent_code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productCodeDigestible</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>productCodeDigestible</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_non_parent_code</targetReference>
            </connector>
            <label>Non parent code</label>
        </rules>
    </decisions>
    <decisions>
        <name>Conversion_Check</name>
        <label>Conversion Check</label>
        <locationX>1326</locationX>
        <locationY>1940</locationY>
        <defaultConnector>
            <targetReference>New_Comp_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_Conversion_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oppRecord.Plan_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conversion Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oppRecord.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>401(k)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oppRecord.Business_Unit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_entries_to_conversion_products</targetReference>
            </connector>
            <label>Needs Conversion Products</label>
        </rules>
    </decisions>
    <decisions>
        <description>or upgrade :^)</description>
        <name>Is_this_the_standard_PB</name>
        <label>Is this the standard PB</label>
        <locationX>413</locationX>
        <locationY>3812</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flex_potential</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>currentPB.IsStandard</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentPB.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Upgrade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_Price_Stamp_Loop</targetReference>
            </connector>
            <label>Flex potential</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Comp_Check</name>
        <label>New Comp Check</label>
        <locationX>842</locationX>
        <locationY>3080</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>This_is_a_new_comp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oppRecord.Profit_Sharing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Comparability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_PB_Entries_to_new_comp</targetReference>
            </connector>
            <label>This is a new comp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_gate_is_there_a_service_option</name>
        <label>Run gate - is there a service option</label>
        <locationX>270</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Check_for_overrides</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_missing_service_option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oppRecord.Service_Option__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Opp missing service option</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Formula that grabs leftmost product code in a semicolon separated string, or the whole string if no semicolon is present.</description>
        <name>isolatedProductCode</name>
        <dataType>String</dataType>
        <expression>IF(
FIND(&quot;;&quot;,{!productCodeDigestible})=0,
{!productCodeDigestible},
LEFT({!productCodeDigestible},FIND(&quot;;&quot;,{!productCodeDigestible}) - 1))</expression>
    </formulas>
    <formulas>
        <description>used for matching</description>
        <name>parent2ChildCode</name>
        <dataType>String</dataType>
        <expression>&quot;c&quot; + RIGHT({!isolatedProductCode},LEN({!isolatedProductCode}) - 1)</expression>
    </formulas>
    <formulas>
        <name>productCodeFirstRemoved</name>
        <dataType>String</dataType>
        <expression>IF(FIND(&quot;;&quot;,{!productCodeDigestible}) != 0,
MID({!productCodeDigestible},FIND(&quot;;&quot;,{!productCodeDigestible})+1,1000),&quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>Opportunity | Autolaunched | Pro {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity | Autolaunched | Product Check</label>
    <loops>
        <name>Child_product_loop</name>
        <label>Child product loop</label>
        <locationX>842</locationX>
        <locationY>2048</locationY>
        <collectionReference>Filter_entries_to_child_products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Mm_tasty_product_codes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Conversion_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Conversion_product_loop</name>
        <label>Conversion product loop</label>
        <locationX>1194</locationX>
        <locationY>2156</locationY>
        <collectionReference>Filter_entries_to_conversion_products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Define_Conversion_line_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Comp_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>New_comp_loop</name>
        <label>New comp loop</label>
        <locationX>611</locationX>
        <locationY>3296</locationY>
        <collectionReference>Filter_PB_Entries_to_new_comp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Define_new_comp_product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_opp_products_to_create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Previous_service_option_loop</name>
        <label>Previous service option loop</label>
        <locationX>50</locationX>
        <locationY>2048</locationY>
        <collectionReference>Filter_products_to_previous_service_option</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Define_previous_service_opt_opp_line_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Comp_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Service_Option_Product_Loop</name>
        <label>Service Option Product Loop</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <collectionReference>Filter_to_entries_that_match_service_option</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Define_opp_prod_and_code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Additional_product_type_split</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Should only ever be one thing in here</description>
        <name>Standard_Entry_Loop</name>
        <label>Standard Entry Loop</label>
        <locationX>457</locationX>
        <locationY>4244</locationY>
        <collectionReference>Filter_PB_entries_to_relevant_standard</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Stamp_Standard_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Standard_Price_Stamp_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Standard_Price_Stamp_Loop</name>
        <label>Standard Price Stamp Loop</label>
        <locationX>281</locationX>
        <locationY>3920</locationY>
        <collectionReference>newOppProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_1_to_loop_count</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_active_pricebook_entries_in_this_PB_and_Standard</name>
        <label>Get all active pricebook entries in this PB and Standard</label>
        <locationX>842</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_to_entries_that_match_service_option</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 9) AND ((3 OR 4) AND (5 OR 6) AND (7 OR 8 OR 10))</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentPB.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employee_Range_Upper__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>oppRecord.Number_of_Employees__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employee_Range_Upper__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employee_Range_Lower__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>oppRecord.Number_of_Employees__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employee_Range_Lower__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Option__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppRecord.Service_Option__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Option__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s0000000000doAAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Option__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppRecord.Previous_Service_Option__c</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>newPBActiveEntries</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Callout_Standard_Price_Difference__c</queriedFields>
        <queriedFields>Price_Difference_Message__c</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Partner_Fee__c</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Product_Family__c</queriedFields>
        <queriedFields>Service_Option__c</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_gate_is_there_a_service_option</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Filter_entries_to_child_products</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_entries_to_conversion_products</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_PB_Entries_to_new_comp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_PB_entries_to_relevant_standard</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_products_to_previous_service_option</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_to_entries_that_match_service_option</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>currentPB</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>customErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>forceEmployeeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>for finding collection position</description>
        <name>loopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>newOppProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>newPBActiveEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>oppLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>String that&apos;s used in loop for product code assignments to collection</description>
        <name>productCodeDigestible</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Collection to be used in companion product search</description>
        <name>productCodeSearchableCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>standardErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
