force-app/main/default/flows/Opportunity_After_Trigger_Create_AC_and_AP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Associated_Contact__c != Null</description>
        <name>Is_AC_present</name>
        <label>Is AC present ?</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_Associated_Partner_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Associated_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_AC_dupe</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>AssociatedPartner__c != Null</description>
        <name>Is_Associated_Partner_Present</name>
        <label>Is Associated Partner Present ?</label>
        <locationX>248</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Associated_Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_AP_dupe</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_dupe_ac_found_check</name>
        <label>Was a dupe ac found check</label>
        <locationX>72</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Build_Associated_Cpontact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dupe_AC_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dupeAC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Associated_Partner_Present</targetReference>
            </connector>
            <label>Dupe AC present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_dupe_ap_found_check</name>
        <label>Was a dupe ap found check</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Create_AP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dupe_AP_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dupeAP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Dupe AP present</label>
        </rules>
    </decisions>
    <description>Updated so generated AP is always primary, with role &quot;referring partner&quot;

Creates AC and AP Junctions from Opp Values</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity | After Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity | After Trigger | Create Associated Contact and Associated Partner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Build_Associated_Cpontact</name>
        <label>Build Associated Contact</label>
        <locationX>160</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Is_Associated_Partner_Present</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Associated_Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>$Record.Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Role__c</field>
            <value>
                <elementReference>$Record.Associated_Contact_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Associated_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Associated_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_AP</name>
        <label>Create AP</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Associated_Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Role__c</field>
            <value>
                <stringValue>Referring Partner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Partner__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Associated_Partner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_for_AC_dupe</name>
        <label>Check for AC dupe</label>
        <locationX>72</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_a_dupe_ac_found_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Associated_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Associated_Contact__c</object>
        <outputReference>dupeAC</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Check_for_AP_dupe</name>
        <label>Check for AP dupe</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_a_dupe_ap_found_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Associated_Partner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Associated_Partner__c</object>
        <outputReference>dupeAP</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_AC_present</targetReference>
        </connector>
        <filterFormula>((NOT(ISNULL({!$Record.Associated_Contact__c})) &amp;&amp; {!$Record.Associated_Contact__c} != {!$Record__Prior.Associated_Contact__c}) ||
(NOT(ISNULL({!$Record.Associated_Partner__c})) &amp;&amp; {!$Record.Associated_Partner__c} != {!$Record__Prior.Associated_Partner__c})) &amp;&amp;
NOT({!$Record.Created_from_Lead__c} &amp;&amp; ISNEW())</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>600</triggerOrder>
    <variables>
        <name>dupeAC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Associated_Contact__c</objectType>
    </variables>
    <variables>
        <name>dupeAP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Associated_Partner__c</objectType>
    </variables>
</Flow>
