force-app/main/default/flows/Opportunity_Button_50_50_Split_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Split</name>
        <label>Assign Split</label>
        <locationX>50</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>newSplit.SplitPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingSplit.SplitPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSplit.SplitOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSplit.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSplit.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Split</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Split_0</name>
        <label>Assign Split</label>
        <locationX>396</locationX>
        <locationY>777</locationY>
        <assignmentItems>
            <assignToReference>newSplit.SplitPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingSplit.SplitPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSplit.SplitOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSplit.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSplit.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Split_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Owner_Equals_User</name>
        <label>Owner Equals User</label>
        <locationX>228</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Assign_Split</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner != User</defaultConnectorLabel>
        <rules>
            <name>Owner_is_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingSplit.SplitOwnerId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp</targetReference>
            </connector>
            <label>Owner = User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sole_Rev_Share_Check</name>
        <label>Sole Rev Share Check</label>
        <locationX>228</locationX>
        <locationY>382</locationY>
        <defaultConnectorLabel>Ineligible</defaultConnectorLabel>
        <rules>
            <name>Eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingSplit.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Equals_User</targetReference>
            </connector>
            <label>Eligible</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity | Button | 50-50 Split {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity | Button | 50-50 Split Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Split</name>
        <label>Create Split</label>
        <locationX>53</locationX>
        <locationY>809</locationY>
        <connector>
            <targetReference>Update_Split</targetReference>
        </connector>
        <inputReference>newSplit</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Split_0</name>
        <label>Create Split</label>
        <locationX>399</locationX>
        <locationY>916</locationY>
        <connector>
            <targetReference>Update_Split_0</targetReference>
        </connector>
        <inputReference>newSplit</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>402</locationX>
        <locationY>491</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Split</name>
        <label>Get Split</label>
        <locationX>235</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sole_Rev_Share_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SplitPercentage</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <object>OpportunitySplit</object>
        <outputReference>existingSplit</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>SplitOwnerId</queriedFields>
        <queriedFields>SplitPercentage</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Split</name>
        <label>Update Split</label>
        <locationX>65</locationX>
        <locationY>961</locationY>
        <inputReference>existingSplit</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Split_0</name>
        <label>Update Split</label>
        <locationX>411</locationX>
        <locationY>1067</locationY>
        <inputReference>existingSplit</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>User_Selection</name>
        <label>User Selection</label>
        <locationX>395</locationX>
        <locationY>640</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Split_0</targetReference>
        </connector>
        <fields>
            <name>Owner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity Team Member</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>109</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Split</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>existingSplit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunitySplit</objectType>
    </variables>
    <variables>
        <name>newSplit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunitySplit</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
