force-app/main/default/flows/Opportunity_Scheduled_7_days_to_close.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_Opp_Owner</name>
        <label>Alert Opp Owner</label>
        <locationX>444</locationX>
        <locationY>1560</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Define_AC_Count</name>
        <label>Define AC Count</label>
        <locationX>444</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>AcCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>oppACs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_goes_the_search</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Backup_Contact</name>
        <label>Define Backup Contact</label>
        <locationX>446</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>backupName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Eval_Loop.Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>backupPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Eval_Loop.Contact__r.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>backupEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Eval_Loop.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>backupFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>backupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Eval_Loop.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AC_Eval_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_contact_values_primary_found</name>
        <label>Define contact values - primary found</label>
        <locationX>182</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>contactPhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Eval_Loop.Contact__r.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Eval_Loop.Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Eval_Loop.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>foundPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Eval_Loop.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AC_Eval_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_contact_values_single_AC</name>
        <label>Define contact values - single AC</label>
        <locationX>666</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>contactPhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pull_AC_from_collection.Contact__r.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pull_AC_from_collection.Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pull_AC_from_collection.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pull_AC_from_collection.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pull_AC_from_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_contact_values_using_backup</name>
        <label>set contact values using backup</label>
        <locationX>50</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>contactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>backupEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>backupName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactPhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>backupPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>backupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alert_Opp_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Close_Date_7_Days_Out</name>
        <label>Close Date 7 Days Out</label>
        <locationX>707</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>x7daysOut</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grab_Opp_ACs</targetReference>
            </connector>
            <label>Needs Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_goes_the_search</name>
        <label>How goes the search</label>
        <locationX>444</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Alert_Opp_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>famine</defaultConnectorLabel>
        <rules>
            <name>the_harvest_is_plentiful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AcCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AC_Eval_Loop</targetReference>
            </connector>
            <label>the harvest is plentiful</label>
        </rules>
        <rules>
            <name>we_will_make_do</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AcCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pull_AC_from_collection</targetReference>
            </connector>
            <label>we will make do</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Check</name>
        <label>Primary Check</label>
        <locationX>446</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>AC_Eval_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AC_Eval_Loop.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>foundPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_contact_values_primary_found</targetReference>
            </connector>
            <label>Primary Found</label>
        </rules>
        <rules>
            <name>Authorized_Buyer_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AC_Eval_Loop.Contact_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Authorized Buyer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>foundPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>backupFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_Backup_Contact</targetReference>
            </connector>
            <label>Authorized Buyer Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>who_are_we_going_with</name>
        <label>who are we going with</label>
        <locationX>94</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>Alert_Opp_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>oops</defaultConnectorLabel>
        <rules>
            <name>Use_primary_AC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>foundPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Opp_Owner</targetReference>
            </connector>
            <label>Use primary AC</label>
        </rules>
        <rules>
            <name>Use_backup_AC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>backupFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_contact_values_using_backup</targetReference>
            </connector>
            <label>Use backup AC</label>
        </rules>
    </decisions>
    <description>Added check for primary AC along with authorized buyer.  Fixed contact link showing up when no contact found.</description>
    <environments>Default</environments>
    <formulas>
        <name>contactInfo</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!contactId})),
&quot;Primary Contact Info:&quot; + BR() +
IF(NOT(ISBLANK({!contactName})),&quot;Name: &quot; + {!contactName} + BR(),&quot;&quot;) +
IF(NOT(ISBLANK({!contactPhoneNumber})),&quot;Phone: &quot; + {!contactPhoneNumber} + BR(),&quot;&quot;) +
IF(NOT(ISBLANK({!contactEmail})),&quot;Email: &quot; + {!contactEmail} + BR(),&quot;&quot;) +
&quot;Link: &quot; + &quot;https://myubiquity.lightning.force.com/lightning/r/Contact/&quot;+{!contactId}+&quot;/view&quot; + BR()
,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Opportunity expiration warning - &quot; + {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>x7daysOut</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <interviewLabel>Opportunity | Scheduled | 7 days to close {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity | Scheduled | 7 days to close</label>
    <loops>
        <name>AC_Eval_Loop</name>
        <label>AC Eval Loop</label>
        <locationX>94</locationX>
        <locationY>684</locationY>
        <collectionReference>oppACs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Primary_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>who_are_we_going_with</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Pull_AC_from_collection</name>
        <label>Pull AC from collection</label>
        <locationX>578</locationX>
        <locationY>684</locationY>
        <collectionReference>oppACs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Define_contact_values_single_AC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Alert_Opp_Owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Grab_Opp_ACs</name>
        <label>Grab Opp ACs</label>
        <locationX>444</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Define_AC_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Associated_Contact__c</object>
        <outputReference>oppACs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Full_Name__c</queriedFields>
        <queriedFields>Contact_Role__c</queriedFields>
        <queriedFields>Primary__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>581</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Close_Date_7_Days_Out</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>401(k) Plan Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Single(k)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upgrade</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-06-01</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Owner.FirstName},

The opportunity for {!$Record.Account.Name} is about to expire on {!x7daysOut}.

{!contactInfo}

Link to opportunity: https://myubiquity.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view

Thanks,
BI Team
____________</text>
    </textTemplates>
    <variables>
        <name>AcCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>backupAC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Associated_Contact__c</objectType>
    </variables>
    <variables>
        <name>backupEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>backupFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>backupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>backupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>backupPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>contactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>contactPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>foundPrimary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>oppACs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Associated_Contact__c</objectType>
    </variables>
    <variables>
        <name>primaryAC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Associated_Contact__c</objectType>
    </variables>
</Flow>
