force-app/main/default/flows/Opportunity_Before_Save_Update_Forecast.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_channel_Id</name>
        <label>Assign channel Id</label>
        <locationX>820</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>FCrecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_Forecast_Channel.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Forecast_Channel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Expansion_Count</name>
        <label>Assign Expansion Count</label>
        <locationX>358</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>collectionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_to_Expansion_Channel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>filteredForecastChannels</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_to_Expansion_Channel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_how_many_match_source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Source_Detail_Count</name>
        <label>Assign Lead Source Detail Count</label>
        <locationX>138</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>collectionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_to_Lead_Source_Detail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>filteredForecastChannels</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_to_Lead_Source_Detail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_how_many_match_source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Source_filter_count</name>
        <label>Assign Lead Source filter count</label>
        <locationX>622</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>collectionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_to_Lead_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>filteredForecastChannels</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_to_Lead_Source</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_how_many_match_source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unforecasted_Count</name>
        <label>Assign Unforecasted Count</label>
        <locationX>490</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>collectionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_to_unforecasted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>filteredForecastChannels</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_to_unforecasted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_how_many_match_source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_forecast_on_Opp</name>
        <label>Set forecast on Opp</label>
        <locationX>402</locationX>
        <locationY>1643</locationY>
        <assignmentItems>
            <assignToReference>$Record.Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastRecordID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Filter_to_Expansion_Channel</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to Expansion Channel</label>
        <locationX>358</locationX>
        <locationY>503</locationY>
        <assignNextValueToReference>currentItem_Filter_to_Expansion_Channel</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ForecastChannelCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Expansion_Channel.Name</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Expansion</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Expansion_Count</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filter collection down to those matching lead source</description>
        <name>Filter_to_Lead_Source</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to Lead Source</label>
        <locationX>622</locationX>
        <locationY>503</locationY>
        <assignNextValueToReference>currentItem_Filter_to_Lead_Source</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ForecastChannelCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Lead_Source.Lead_Source__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>$Record.LeadSource</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Lead_Source_filter_count</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_to_Lead_Source_Detail</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to Lead Source Detail</label>
        <locationX>138</locationX>
        <locationY>1019</locationY>
        <assignNextValueToReference>currentItem_Filter_to_Lead_Source_Detail</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Filter_to_Lead_Source</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Lead_Source_Detail.Lead_Source_Detail__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>$Record.LeadSourceDetail__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Lead_Source_Detail_Count</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_to_unforecasted</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to unforecasted</label>
        <locationX>490</locationX>
        <locationY>2111</locationY>
        <assignNextValueToReference>currentItem_Filter_to_unforecasted</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ForecastChannelCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_unforecasted.Name</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Unforecasted</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Unforecasted_Count</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_how_many_match_source</name>
        <label>Check how many match source</label>
        <locationX>490</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_matching_lead_source</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Unforecasted_Count</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_to_unforecasted</targetReference>
            </connector>
            <label>None matching lead source</label>
        </rules>
        <rules>
            <name>Multiple_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failing_to_find_single_match_check</targetReference>
            </connector>
            <label>Multiple Matches</label>
        </rules>
        <rules>
            <name>Single_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Forecast_Channel</targetReference>
            </connector>
            <label>Single Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_FP_found</name>
        <label>Check if FP found</label>
        <locationX>732</locationX>
        <locationY>1319</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FP_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FPrecordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Grab_Monthly_Forecast</targetReference>
            </connector>
            <label>FP present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Expansion_split</name>
        <label>Expansion split</label>
        <locationX>490</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Filter_to_Lead_Source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expansion_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductTypeBucket</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_to_Expansion_Channel</targetReference>
            </connector>
            <label>Expansion Opp</label>
        </rules>
    </decisions>
    <decisions>
        <description>Have I been here before?  That means I can&apos;t figure out a single one to go with.  Default to unforecasted.</description>
        <name>Failing_to_find_single_match_check</name>
        <label>Failing to find single match check</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Filter_to_Lead_Source_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>First attempt</defaultConnectorLabel>
        <rules>
            <name>Needs_unforecasted_default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Lead_Source_Detail_Count</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_to_unforecasted</targetReference>
            </connector>
            <label>Needs unforecasted default</label>
        </rules>
    </decisions>
    <decisions>
        <name>Forecast_Found_Check</name>
        <label>Forecast Found Check</label>
        <locationX>534</locationX>
        <locationY>1535</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Forecast_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForecastRecordID</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_forecast_on_Opp</targetReference>
            </connector>
            <label>Forecast Present</label>
        </rules>
    </decisions>
    <description>Assigns or corrects forecast on opportunity.  Needs close date, amount over 0, lead source, and lead source detail.  If any of these are changed or the forecast is null, flow runs.

Will try to match opp with channel with its lead source.  If multiple are found, will further filter using lead source detail.  If multiple are found still, or no matches are found in the first place, reverts to &quot;Unforecasted&quot;.  Except for expansion products, which always go to expansion channel.

Expansion products are upgrades, plan amendments, and add-on products (product type field).

Redesigned Sept 2024</description>
    <environments>Default</environments>
    <formulas>
        <name>ProductTypeBucket</name>
        <dataType>String</dataType>
        <expression>IF(
ISPICKVAL({!$Record.Product_Type__c}, &quot;Upgrade&quot;)||ISPICKVAL({!$Record.Product_Type__c}, &quot;Plan Amendment&quot;)||ISPICKVAL({!$Record.Product_Type__c}, &quot;Add-On Product&quot;),&quot;Expansion&quot;,
IF(ISPICKVAL({!$Record.Product_Type__c,&quot;PEP&quot;}),&quot;401(k)&quot;,TEXT({!$Record.Product_Type__c})))</expression>
    </formulas>
    <interviewLabel>Opportunity | Before Save | Update Forecast {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity | Before Save | Update Forecast</label>
    <loops>
        <name>Assign_Forecast_Channel</name>
        <label>Assign Forecast Channel</label>
        <locationX>732</locationX>
        <locationY>911</locationY>
        <collectionReference>filteredForecastChannels</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_channel_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_2_of_Grab_Forecast_Plan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Grab_Monthly_Forecast</name>
        <label>Copy 1 of Grab Monthly Forecast</label>
        <locationX>534</locationX>
        <locationY>1427</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Forecast_Found_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Forecast_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FPrecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </filters>
        <object>Forecast__c</object>
        <outputAssignments>
            <assignToReference>ForecastRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Grab_Forecast_Plan</name>
        <label>Copy 2 of Grab Forecast Plan</label>
        <locationX>732</locationX>
        <locationY>1211</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_FP_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Forecast_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Forecast_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Forecast_Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FCrecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductTypeBucket</elementReference>
            </value>
        </filters>
        <object>Forecast_Plan__c</object>
        <outputAssignments>
            <assignToReference>FPrecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Grab_All_Active_FC_Channels</name>
        <label>Grab All Active FC Channels</label>
        <locationX>490</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Expansion_split</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Forecast_Channel__c</object>
        <outputReference>ForecastChannelCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Lead_Source__c</queriedFields>
        <queriedFields>Lead_Source_Detail__c</queriedFields>
        <queriedFields>Partner_Referral_Source__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Grab_All_Active_FC_Channels</targetReference>
        </connector>
        <filterLogic>10 AND 4 AND 6 AND 1 AND NOT 2 AND (3 OR 5 OR 7 OR 8 OR 9)</filterLogic>
        <filters>
            <field>Amount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Ancillary</stringValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Forecast__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadSourceDetail__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadSourceDetail__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collectionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_to_Expansion_Channel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Forecast_Channel__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_to_Lead_Source</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Forecast_Channel__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_to_Lead_Source_Detail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Forecast_Channel__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_to_unforecasted</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Forecast_Channel__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Limit_to_partner_referrals</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Forecast_Channel__c</objectType>
    </variables>
    <variables>
        <name>fcLeadSourceDetail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FCLeadSourceText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FCrecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>filteredForecastChannels</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Forecast_Channel__c</objectType>
    </variables>
    <variables>
        <name>ForecastChannelCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Forecast_Channel__c</objectType>
    </variables>
    <variables>
        <name>ForecastRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Forecasts2Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Forecast__c</objectType>
    </variables>
    <variables>
        <name>FPrecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewForecastRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Forecast__c</objectType>
    </variables>
    <variables>
        <name>OldForecastRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Forecast__c</objectType>
    </variables>
    <variables>
        <name>oppLeadSourceDetailText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.LeadSourceDetail__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>OppLeadSourceText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.LeadSource</elementReference>
        </value>
    </variables>
</Flow>
