force-app/main/default/flows/Opportunity_Before_Trigger_Ancillary_Billing_Hour_or_Discount_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Amount_Entry_Condition_Check</name>
        <label>Amount Entry Condition Check</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Need_account_added_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_amount_update</name>
            <conditionLogic>(1 AND 2) OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estimated_Hours_Needed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discount_Percentage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount_Before_Discount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flat_or_Hourly</targetReference>
            </connector>
            <label>Needs amount update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_account_exists</name>
        <label>Check if account exists</label>
        <locationX>226</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_account</targetReference>
            </connector>
            <label>Account found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flat_or_Hourly</name>
        <label>Flat or Hourly?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>updateFlatAmount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Flat</defaultConnectorLabel>
        <rules>
            <name>Hourly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ancillary Billing Hourly Rate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateHourlyAmount</targetReference>
            </connector>
            <label>Hourly</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_account_added_check</name>
        <label>Need account added check</label>
        <locationX>380</locationX>
        <locationY>779</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_account_exists</targetReference>
            </connector>
            <label>Needs account</label>
        </rules>
    </decisions>
    <description>Added path that adds account to opp from case if it&apos;s missing

When an Ancillary Billing opp&apos;s hours or discount fields are updated, update the amount field.</description>
    <environments>Default</environments>
    <formulas>
        <name>flatAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount_Before_Discount__c} * (1-({!$Record.Discount_Percentage__c}/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>hourlyAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.Actual_Hours_Worked__c}), (({!$Record.Estimated_Hours_Needed__c} * {!$Record.Rate__c}) * (1- ({!$Record.Discount_Percentage__c}/100))), (({!$Record.Actual_Hours_Worked__c}* {!$Record.Rate__c}) * (1-({!$Record.Discount_Percentage__c}/100) )))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity | Before Trigger | Ancillary Billing Hour or Discount Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity | Before Trigger | Ancillary Billing Hour or Discount Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add_account</name>
        <label>Add account</label>
        <locationX>94</locationX>
        <locationY>995</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Case__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateFlatAmount</name>
        <label>updateFlatAmount</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Need_account_added_check</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>flatAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateHourlyAmount</name>
        <label>updateHourlyAmount</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Need_account_added_check</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>hourlyAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Amount_Entry_Condition_Check</targetReference>
        </connector>
        <filterLogic>1 AND (((2 AND 4) OR 3 OR 5) OR (6 AND 7))</filterLogic>
        <filters>
            <field>Type</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Ancillary Billing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estimated_Hours_Needed__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Discount_Percentage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Amount_Before_Discount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
