force-app/main/default/flows/Opportunity_Process_Send_Welcome_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Self_Purchase_Schwab_Email</name>
        <label>Self-Purchase Schwab Email</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>Associated_Contact__c.Single_k_Self_Purchase_Auto_Email_Schwab</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Imp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Grab_Buyer_AC.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Single_k_Self_Purchase_Auto_Email_Schwab</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Self_Purchase_Standard_Email</name>
        <label>Self-Purchase Standard Email</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <actionName>Associated_Contact__c.Single_k_Self_Purchase_Auto_Email_Standard</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Imp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Grab_Buyer_AC.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Single_k_Self_Purchase_Auto_Email_Standard</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_other_welcome</name>
        <label>Send other welcome</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <actionName>Associated_Contact__c.Single_k_Welcome_Email_Other_Custodian</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Imp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Grab_Buyer_AC.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Single_k_Welcome_Email_Other_Custodian</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Schwab_Welcome</name>
        <label>Send Schwab Welcome</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <actionName>Associated_Contact__c.Single_k_Welcome_Email_Schwab</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Imp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Grab_Buyer_AC.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Contact__c.Single_k_Welcome_Email_Schwab</nameSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Custodian_Branch</name>
        <label>Custodian Branch</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Send_other_welcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>AC_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Grab_Buyer_AC.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Imp</targetReference>
            </connector>
            <label>AC NULL</label>
        </rules>
        <rules>
            <name>Self_Purchase_Schwab</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Grab_Opportunity.Custodian__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Schwab Trust</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Grab_Opportunity.Custodian__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Schwab &amp; Co., Inc.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Grab_Opportunity.Campaign_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single(k) Long</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Grab_Opportunity.Campaign_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single(k) Short</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_Purchase_Schwab_Email</targetReference>
            </connector>
            <label>Self-Purchase Schwab</label>
        </rules>
        <rules>
            <name>Schwab</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Grab_Opportunity.Custodian__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Schwab &amp; Co., Inc.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Grab_Opportunity.Custodian__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Schwab Trust</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Schwab_Welcome</targetReference>
            </connector>
            <label>Schwab</label>
        </rules>
        <rules>
            <name>Self_Purchase_Standard</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Grab_Opportunity.Campaign_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single(k) Long</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Grab_Opportunity.Campaign_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single(k) Short</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_Purchase_Standard_Email</targetReference>
            </connector>
            <label>Self-Purchase Standard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Imp_Assigned</name>
        <label>Imp Assigned</label>
        <locationX>732</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assignment_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newImp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OPD</targetReference>
            </connector>
            <label>Assignment Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>OPD_Found</name>
        <label>OPD Found</label>
        <locationX>534</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OPD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Imp_on_OPD</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Single_k_check</name>
        <label>Single k check</label>
        <locationX>732</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Imp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Single_K_welcome</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Grab_Opportunity.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single(k)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Grab_Opportunity.LeadSourceDetail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Advisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Grab_Opportunity.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mega Roth Single(k)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grab_Buyer_AC</targetReference>
            </connector>
            <label>Single K welcome</label>
        </rules>
    </decisions>
    <description>Deleted Pause Element (as of 15:00 pm 11/21/23)</description>
    <environments>Default</environments>
    <formulas>
        <name>nowMinus50</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.InterviewStartTime}-(50/1440)</expression>
    </formulas>
    <formulas>
        <name>subject</name>
        <dataType>String</dataType>
        <expression>&quot;RPC Welcome Email Sent&quot;</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Opportunity | Process | Send Welcome Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity | Process | Send Welcome Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Imp</name>
        <label>Get Imp</label>
        <locationX>732</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Imp_Assigned</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND NOT 3</filterLogic>
        <filters>
            <field>Opportunity_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Implementation_Status__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Option__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Simply</stringValue>
            </value>
        </filters>
        <object>Implementation__c</object>
        <outputReference>newImp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Service_Option__c</queriedFields>
        <queriedFields>Plan_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_OPD</name>
        <label>Get OPD</label>
        <locationX>534</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OPD_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Proposal__c</object>
        <outputReference>newProposal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Implementation__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Grab_Buyer_AC</name>
        <label>Grab Buyer AC</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Custodian_Branch</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Authorized Buyer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Role__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Plan Sponsor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Associated_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Grab_Opportunity</name>
        <label>Grab Opportunity</label>
        <locationX>732</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Single_k_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Imp_on_OPD</name>
        <label>Update Imp on OPD</label>
        <locationX>402</locationX>
        <locationY>1274</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Implementation__c</field>
            <value>
                <elementReference>newImp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Proposal__c</object>
    </recordUpdates>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Grab_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newImp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Implementation__c</objectType>
    </variables>
    <variables>
        <name>newProposal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Proposal__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
