force-app/main/default/flows/Opportunity_After_Trigger_Update_3_16_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Identify Connected Partner based on LeadSource Detail and Custodian</description>
        <name>Which_Connected_Partner</name>
        <label>Which Connected Partner(CP)</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>X3_16_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Source_Detail_Schwab</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Schwab</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Schwab-CC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Connected_Partner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Schwab</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Connected_Partner_on_Account</targetReference>
            </connector>
            <label>Schwab LeadSourceDetail</label>
        </rules>
        <rules>
            <name>Custodian_Schwab</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Custodian__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Schwab &amp; Co., Inc.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Custodian__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Schwab Trust</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Connected_Partner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Chase Bank</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Connected_Partner_on_Account</targetReference>
            </connector>
            <label>Custodian Schwab</label>
        </rules>
        <rules>
            <name>Simply_Retirement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Simply</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Connected_Partner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Simply Retirement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_Connected_Partner_on_Account</targetReference>
            </connector>
            <label>Simply Retirement</label>
        </rules>
        <rules>
            <name>Non_Schwab_or_JPM</name>
            <conditionLogic>5 AND ( (1 AND 2) OR (3 AND 4)) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Schwab</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSourceDetail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Schwab-CC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Custodian__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Schwab &amp; Co., Inc.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Custodian__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Schwab Trust</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Connected_Partner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Schwab</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Update_Connected_Partner_on_Account</targetReference>
            </connector>
            <label>Non Schwab or JPM</label>
        </rules>
    </decisions>
    <decisions>
        <name>X3_16_Check</name>
        <label>3(16) is False?</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X3_16_is_False</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.X3_16__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserve(k)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PEP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Acct</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <description>Updated to avoid flipping connected partner back and forth, noticed for simply accounts.

If product type = PEP or service option = Reserve(k), check the 3(16) box on the account. Also update Connected Partner from Lead Source</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity | After Trigger | Update 3(16) on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity | After Trigger | Update 3(16) and Connected Partner on Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Connected_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>X3_16__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Connected Partner = Schwab</description>
        <name>Copy_1_of_Update_Connected_Partner_on_Account</name>
        <label>Update CP on Account</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>X3_16_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Connected_Partner__c</field>
            <value>
                <stringValue>Schwab</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Connected Partner = Schwab</description>
        <name>Copy_2_of_Update_Connected_Partner_on_Account</name>
        <label>Update CP on Account</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>X3_16_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Connected_Partner__c</field>
            <value>
                <stringValue>Schwab</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Connected Partner = Simply Retirement</description>
        <name>Copy_3_of_Update_Connected_Partner_on_Account</name>
        <label>Update CP on Account</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>X3_16_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Connected_Partner__c</field>
            <value>
                <stringValue>Simply Retirement</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Connected Partner = &apos;&apos; (empty string)</description>
        <name>Copy_4_of_Update_Connected_Partner_on_Account</name>
        <label>Update CP on Account</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>X3_16_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Connected_Partner__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Acct</name>
        <label>Update Acct</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X3_16__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
