force-app/main/default/flows/Plan_Button_Create_Add_On_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>acCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newAC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AC_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_AC</name>
        <label>Clone AC</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>newAC.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Loop.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAC.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Loop.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAC.Contact_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Loop.Contact_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAC.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AC_Loop.Business_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAC.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addOnOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opp_Assignment</name>
        <label>Opp Assignment</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>addOnOpp.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0051G000006HUFr</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addOnOpp.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Implementation.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addOnOpp.Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Implementation.Plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addOnOpp.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Implementation.Opportunity_Name__r.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addOnOpp.LeadSourceDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Implementation.Opportunity_Name__r.LeadSourceDetail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addOnOpp.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Add-On Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addOnOpp.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Implementation.Business_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addOnOpp.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>closeDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addOnOpp.Opportunity_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Implementation.Opportunity_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addOnOpp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addOnOpp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a: New Integration Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addOnOpp.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01237000000N0d7AAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addOnOpp.Implementation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Implementation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>closeDate</name>
        <dataType>Date</dataType>
        <expression>Today()+7</expression>
    </formulas>
    <formulas>
        <name>oppName</name>
        <dataType>String</dataType>
        <expression>{!Get_Implementation.Name} + &quot; - Add-On Product&quot;</expression>
    </formulas>
    <interviewLabel>Plan | Button | Create Add-On Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plan | Button | Create Add-On Opp</label>
    <loops>
        <name>AC_Loop</name>
        <label>AC Loop</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Associated_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clone_AC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_ACs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ACs</name>
        <label>Create ACs</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <inputReference>acCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Get_Associated_Contacts</targetReference>
        </connector>
        <inputReference>addOnOpp</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Associated_Contacts</name>
        <label>Get Associated Contacts</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AC_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Implementation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Implementation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Implementation</name>
        <label>Get Implementation</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Implementation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Implementation</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>acCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Associated_Contact__c</objectType>
    </variables>
    <variables>
        <name>addOnOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>newAC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Associated_Contact__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
