force-app/main/default/flows/Project_Items_Confirm_Project_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Are_Any_Project_Items_Committed</name>
        <label>Are Any Project Items Committed?</label>
        <locationX>162</locationX>
        <locationY>1095</locationY>
        <defaultConnector>
            <targetReference>Assignment_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoneCommitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>committedItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_Items_Unconfirmed_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Any_Project_Items_Uncommitted</name>
        <label>Are Any Project Items Uncommitted?</label>
        <locationX>169</locationX>
        <locationY>681</locationY>
        <defaultConnector>
            <targetReference>Project_Items_Unconfirmed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>uncommittedItems.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Committed_Project_Items</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Item_Assigned</name>
        <label>Item Assigned?</label>
        <locationX>410</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Assignment_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assigned</defaultConnectorLabel>
        <rules>
            <name>Not_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assignmentCheck.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_Items_Unconfirmed_0_0</targetReference>
            </connector>
            <label>Not Assigned</label>
        </rules>
    </decisions>
    <interviewLabel>Project Items | Confirm Project Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Items | Confirm Project Items</label>
    <loops>
        <name>Assignment_Check</name>
        <label>Assignment Check</label>
        <locationX>170</locationX>
        <locationY>1380</locationY>
        <collectionReference>committedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Assignments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Project_Items_Confirmed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assignments</name>
        <label>Get Assignments</label>
        <locationX>416</locationX>
        <locationY>1381</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Item_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Complex_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_Project_Item.Complex_Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Item_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assignment_Check.Id</elementReference>
            </value>
        </filters>
        <object>Project_Item_Assignments__c</object>
        <outputReference>assignmentCheck</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Committed_Project_Items</name>
        <label>Get Committed Project Items</label>
        <locationX>170</locationX>
        <locationY>904</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Any_Project_Items_Committed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Committed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Complex_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_Project_Item.Complex_Project__c</elementReference>
            </value>
        </filters>
        <object>Project_Item__c</object>
        <outputReference>committedItems</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Uncommitted_Project_Items</name>
        <label>Get Uncommitted Project Items</label>
        <locationX>176</locationX>
        <locationY>510</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Any_Project_Items_Uncommitted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Committed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Complex_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_Project_Item.Complex_Project__c</elementReference>
            </value>
        </filters>
        <object>Project_Item__c</object>
        <outputReference>uncommittedItems</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Project_Item</name>
        <label>Get Updated Project Item</label>
        <locationX>174</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Uncommitted_Project_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Project_Items_Confirmed</name>
        <label>Project Items Confirmed</label>
        <locationX>173</locationX>
        <locationY>1610</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_Project_Item.Complex_Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Items_Confirmed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Complex_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Project_Items_Unconfirmed</name>
        <label>Project Items Unconfirmed</label>
        <locationX>397</locationX>
        <locationY>690</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_Project_Item.Complex_Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Items_Confirmed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Complex_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Project_Items_Unconfirmed_0</name>
        <label>Project Items Unconfirmed</label>
        <locationX>354</locationX>
        <locationY>1095</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_Project_Item.Complex_Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Items_Confirmed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Complex_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Project_Items_Unconfirmed_0_0</name>
        <label>Project Items Unconfirmed</label>
        <locationX>633</locationX>
        <locationY>1543</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_Project_Item.Complex_Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Items_Confirmed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Complex_Project__c</object>
    </recordUpdates>
    <start>
        <locationX>57</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Updated_Project_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assignmentCheck</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Item_Assignments__c</objectType>
    </variables>
    <variables>
        <name>committedItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Item__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uncommittedItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Item__c</objectType>
    </variables>
</Flow>
