force-app/main/default/flows/Project_Task_Process_Complete_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Group_to_List</name>
        <label>Add Group to List</label>
        <locationX>2089</locationX>
        <locationY>697</locationY>
        <assignmentItems>
            <assignToReference>nonLinearGroupId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Task.Non_Linear_Progression_Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1811</locationX>
        <locationY>2413</locationY>
        <assignmentItems>
            <assignToReference>newTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Tasks_to_Activate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_User</name>
        <label>Assign Current User</label>
        <locationX>2360</locationX>
        <locationY>2223</locationY>
        <assignmentItems>
            <assignToReference>newTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ready_or_In_Progress_Upon_Activation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Imp_Owner_0</name>
        <label>Assign Imp Owner</label>
        <locationX>2038</locationX>
        <locationY>2305</locationY>
        <assignmentItems>
            <assignToReference>newTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ready_or_In_Progress_Upon_Activation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Values</name>
        <label>Assign New Values</label>
        <locationX>2580</locationX>
        <locationY>2525</locationY>
        <assignmentItems>
            <assignToReference>newTask.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.Status_Upon_Activation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Actual_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Actual_Completion_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Implementation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Implementation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.KPI_Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.KPI_Milestone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Responsible_Party__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.Responsible_Party__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Project_Deliverable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Expected_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>expectedStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Expected_Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>expectedEnd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Transition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Transition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Add_On_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Add_On_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Team_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.Team_Member__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Duplicate_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Values_0</name>
        <label>Assign New Values</label>
        <locationX>2876</locationX>
        <locationY>2624</locationY>
        <assignmentItems>
            <assignToReference>newTask.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Actual_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Actual_Completion_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Implementation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Implementation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.KPI_Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.KPI_Milestone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Responsible_Party__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.Responsible_Party__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Project_Deliverable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Expected_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>expectedStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Expected_Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>expectedEnd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Actual_Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Actual_Completion_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Transition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Transition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Add_On_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Add_On_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Team_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.Team_Member__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Duplicate_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Values_0_0</name>
        <label>Assign New Values</label>
        <locationX>2163</locationX>
        <locationY>2452</locationY>
        <assignmentItems>
            <assignToReference>newTask.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.Status_Upon_Activation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Implementation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Implementation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.KPI_Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.KPI_Milestone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Responsible_Party__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.Responsible_Party__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Project_Deliverable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Expected_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>expectedStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Expected_Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>expectedEnd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Actual_Start_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Transition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Transition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Add_On_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Add_On_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Team_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.Team_Member__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Duplicate_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Static_Owner</name>
        <label>Assign Static Owner</label>
        <locationX>2625</locationX>
        <locationY>1899</locationY>
        <assignmentItems>
            <assignToReference>newTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PD.Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ready_or_In_Progress_Upon_Activation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creation_Collection</name>
        <label>Creation Collection</label>
        <locationX>50</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>CreationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Affected_Deliverable_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Affected_Deliverable_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Imp_Owner</name>
        <label>Imp Owner</label>
        <locationX>2105</locationX>
        <locationY>1949</locationY>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Implementation__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0121G000000TjhAQAS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owned_by_Queue_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Trans_Owner</name>
        <label>Trans Owner</label>
        <locationX>2299</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Transition__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0121G000000RlRgQAK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owned_by_Queue_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Collection</name>
        <label>Update Collection</label>
        <locationX>198</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>updateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Affected_Deliverable_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Affected_Deliverable_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_tasks_to_create_or_update</name>
        <label>Are there tasks to create or update?</label>
        <locationX>693</locationX>
        <locationY>820</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newTaskCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Affected_Deliverable_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_Owner_of_Current_Controlling_Record</name>
        <label>Assign Owner of Current Controlling Record?</label>
        <locationX>2420</locationX>
        <locationY>1802</locationY>
        <defaultConnector>
            <targetReference>Assign_Static_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCurrent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PD.Assign_to_Current_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Connected_Object</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Connected_Object</name>
        <label>Connected Object</label>
        <locationX>2198</locationX>
        <locationY>1817</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Transition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Implementation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trans_Owner</targetReference>
            </connector>
            <label>Transition</label>
        </rules>
        <rules>
            <name>Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Implementation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Transition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Imp_Owner</targetReference>
            </connector>
            <label>Implementation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Empty</name>
        <label>Create Empty?</label>
        <locationX>453</locationX>
        <locationY>1050</locationY>
        <defaultConnector>
            <targetReference>Create_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesEmpty_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreationCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dupe_Found</name>
        <label>Dupe Found?</label>
        <locationX>1535</locationX>
        <locationY>2589</locationY>
        <defaultConnector>
            <targetReference>Find_Duplicate_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesDupe</name>
            <conditionLogic>1 AND ((2 AND 3) OR (4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>Find_Duplicate_Task.Project_Deliverable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>newTask.Project_Deliverable__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_Duplicate_Task.Implementation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>newTask.Implementation__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_Duplicate_Task.Implementation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_Duplicate_Task.Transition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>newTask.Transition__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_Duplicate_Task.Transition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tasks_to_Activate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Task_Completed</name>
        <label>Existing Task Completed?</label>
        <locationX>2229</locationX>
        <locationY>1677</locationY>
        <defaultConnector>
            <targetReference>Assign_Owner_of_Current_Controlling_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCompleted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>newTask.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newTask.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Needed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newTask.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tasks_to_Activate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Task_or_New_Task</name>
        <label>Existing Task or New Task?</label>
        <locationX>187</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Creation_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Existing</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>Affected_Deliverable_Loop.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updateCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Affected_Deliverable_Loop</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Collection</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Action_is_Null</name>
        <label>Next Action is Null</label>
        <locationX>1741</locationX>
        <locationY>1228</locationY>
        <defaultConnector>
            <targetReference>Get_Tasks_to_Activate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nextActions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owned_by_Queue_0</name>
        <label>Owned by Queue</label>
        <locationX>2220</locationX>
        <locationY>2088</locationY>
        <defaultConnector>
            <targetReference>Assign_Imp_Owner_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesQueue_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ownerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Part_of_a_Non_Linear_Progression_Group</name>
        <label>Part of a Non-Linear Progression Group</label>
        <locationX>1740</locationX>
        <locationY>693</locationY>
        <defaultConnector>
            <targetReference>Get_PDs_to_Activate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_but_already_evaluated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Non_Linear_Progression_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>nonLinearGroupId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Task.Non_Linear_Progression_Group__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PDs_to_Activate_0</targetReference>
            </connector>
            <label>Yes, but already evaluated</label>
        </rules>
        <rules>
            <name>YesNonLinear</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Non_Linear_Progression_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Grouped_PDs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ready_or_In_Progress_Upon_Activation</name>
        <label>Ready or In Progress Upon Activation?</label>
        <locationX>2516</locationX>
        <locationY>2235</locationY>
        <defaultConnector>
            <targetReference>Find_Duplicate_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Task</defaultConnectorLabel>
        <rules>
            <name>Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PD.Status_Upon_Activation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newTask.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newTask.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newTask.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Values_0_0</targetReference>
            </connector>
            <label>Ready</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PD.Status_Upon_Activation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newTask.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newTask.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Needed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newTask.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Values</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Missing</name>
        <label>Record Missing?</label>
        <locationX>2578</locationX>
        <locationY>510</locationY>
        <defaultConnector>
            <targetReference>Find_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskGroupValidation.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PDs_to_Activate_0</targetReference>
            </connector>
            <label>Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Empty</name>
        <label>Update Empty?</label>
        <locationX>453</locationX>
        <locationY>879</locationY>
        <defaultConnector>
            <targetReference>Update_Existing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Empty</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>expectedEnd</name>
        <dataType>Date</dataType>
        <expression>{!expectedStart}+{!Get_PD.Days_to_Complete__c}</expression>
    </formulas>
    <formulas>
        <name>expectedStart</name>
        <dataType>Date</dataType>
        <expression>{!Get_Task.Implementation__r.CreatedDate}+{!Get_PD.Expected_Start_Days_from_Creation__c}</expression>
    </formulas>
    <formulas>
        <name>now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Project Task | Process | Complete Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Task | Process | Complete Tasks</label>
    <loops>
        <name>Affected_Deliverable_Loop</name>
        <label>Affected Deliverable Loop</label>
        <locationX>462</locationX>
        <locationY>630</locationY>
        <collectionReference>newTaskCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Existing_Task_or_New_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Find_Duplicate_Task</name>
        <label>Find Duplicate Task</label>
        <locationX>2199</locationX>
        <locationY>2718</locationY>
        <collectionReference>newTaskCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dupe_Found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_to_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Find_Tasks</name>
        <label>Find Tasks</label>
        <locationX>2161</locationX>
        <locationY>463</locationY>
        <collectionReference>Get_Grouped_PDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Grouped_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_PDs_to_Activate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Tasks_to_Activate</name>
        <label>Get Tasks to Activate</label>
        <locationX>2006</locationX>
        <locationY>1463</locationY>
        <collectionReference>nextActions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_PD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_tasks_to_create_or_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>462</locationX>
        <locationY>1239</locationY>
        <inputReference>CreationCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Task</name>
        <label>Get Existing Task</label>
        <locationX>2423</locationX>
        <locationY>1674</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Task_Completed</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5))</filterLogic>
        <filters>
            <field>Project_Deliverable__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PD.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Implementation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Implementation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Implementation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Transition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Transition__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Transition__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Project_Task__c</object>
        <outputAssignments>
            <assignToReference>newTask.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>newTask.Status__c</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Grouped_PDs</name>
        <label>Get Grouped PDs</label>
        <locationX>1990</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Group_to_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Non_Linear_Progression_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Project_Deliverable__r.Non_Linear_Progression_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Non_Linear_Progression_Group__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Deliverables__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Grouped_Tasks</name>
        <label>Get Grouped Tasks</label>
        <locationX>2396</locationX>
        <locationY>505</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Missing</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4 AND ((5 AND 6) OR (7 AND 8))</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Needed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </filters>
        <filters>
            <field>Project_Deliverable__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Tasks.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Implementation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Implementation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Implementation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Transition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Transition__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Transition__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Project_Task__c</object>
        <outputAssignments>
            <assignToReference>taskGroupValidation.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PD</name>
        <label>Get PD</label>
        <locationX>2425</locationX>
        <locationY>1539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Tasks_to_Activate.Affected_Deliverable__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Deliverables__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PDs_to_Activate</name>
        <label>Get PDs to Activate</label>
        <locationX>1746</locationX>
        <locationY>925</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Next_Action_is_Null</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND 3)</filterLogic>
        <filters>
            <field>Finish_before_Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Project_Deliverable__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Non_Linear_Progression_Trigger__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Non_Linear_Progression_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Non_Linear_Progression_Trigger__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Required_Action__c</object>
        <outputReference>nextActions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Affected_Deliverable__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PDs_to_Activate_0</name>
        <label>Get PDs to Activate</label>
        <locationX>2314</locationX>
        <locationY>1023</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Next_Action_is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Finish_before_Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Project_Deliverable__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Non_Linear_Progression_Trigger__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Required_Action__c</object>
        <outputReference>nextActions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Affected_Deliverable__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>1611</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Part_of_a_Non_Linear_Progression_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing</name>
        <label>Update Existing</label>
        <locationX>282</locationX>
        <locationY>877</locationY>
        <connector>
            <targetReference>Create_Empty</targetReference>
        </connector>
        <inputReference>updateCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>1444</locationX>
        <locationY>195</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>completedTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>completedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>CreationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>existingTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>incompleteTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>loopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>newTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>newTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>nextActions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Required_Action__c</objectType>
    </variables>
    <variables>
        <name>nonLinearGroupId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>taskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>taskGroupValidation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>toUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>updateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>updateIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
</Flow>
