force-app/main/default/flows/Project_Task_Before_Trigger_Update_Ownership.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Assigned_Owned</name>
        <label>Assigned/Owned</label>
        <locationX>776</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>Stamp_Start_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assignment_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ownership</targetReference>
            </connector>
            <label>Assignment Changed</label>
        </rules>
        <rules>
            <name>Owner_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ownership_0</targetReference>
            </connector>
            <label>Owner Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stamp_Start_Date</name>
        <label>Stamp Start Date</label>
        <locationX>776</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Task_Eligible_for_Skip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Actual_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Date_Time_for_Task_Start</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Eligible_for_Skip</name>
        <label>Task Eligible for Skip</label>
        <locationX>784</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Task Required</defaultConnectorLabel>
        <rules>
            <name>Task_Not_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Deliverable__r.Service_Option_s_Ineligible__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Implementation__r.Service_Option__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Implementation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Actual_Completion_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Task_as_Not_Needed</targetReference>
            </connector>
            <label>Task Not Needed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Project Task | Before Trigger | Update Ownership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Task | Before Trigger | Update Ownership</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Mark_Task_as_Not_Needed</name>
        <label>Mark Task as &quot;Not Needed&quot;</label>
        <locationX>1039</locationX>
        <locationY>975</locationY>
        <inputAssignments>
            <field>Actual_Completion_Date__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <stringValue>00500000006xUkg</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00500000006xUkg</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Needed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Date_Time_for_Task_Start</name>
        <label>Stamp Date/Time for Task Start</label>
        <locationX>644</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Task_Eligible_for_Skip</targetReference>
        </connector>
        <inputAssignments>
            <field>Actual_Start_Date__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ownership</name>
        <label>Update Ownership</label>
        <locationX>512</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>Stamp_Start_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Assigned_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ownership_0</name>
        <label>Update Ownership</label>
        <locationX>776</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>Stamp_Start_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Assigned_Owned</targetReference>
        </connector>
        <object>Project_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
