force-app/main/default/flows/Proposal_Trigger_Build_Sallus_Lead_when_Submitted_for_Purchase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Principal_Type</name>
        <label>Set Principal Type</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>leadType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Principal Employer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Lead_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sallus_Type</name>
        <label>Set Sallus Type</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>leadType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sallus Employer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Lead_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>lead_found_check</name>
        <label>lead found check</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_existing_lead_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Type_Check</targetReference>
            </connector>
            <label>No existing lead found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Type_Check</name>
        <label>Lead Type Check</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Set_Sallus_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Need Sallus Lead</defaultConnectorLabel>
        <rules>
            <name>Need_Simply_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Principal_Id__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Principal_Type</targetReference>
            </connector>
            <label>Need Simply Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Role_Check</name>
        <label>Owner Role Check</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_RPC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RetirementPlanConsultant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Existing_Lead</targetReference>
            </connector>
            <label>Is RPC</label>
        </rules>
    </decisions>
    <description>Revamped from old design.  Creates employer lead for simply or sallus proposals once employer information is added to the proposal.</description>
    <environments>Default</environments>
    <formulas>
        <name>sixMonthsAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY()-180</expression>
    </formulas>
    <interviewLabel>Proposal | Trigger | Build Sallus Lead when Submitted for Purchase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proposal | Trigger | Build Simply n Sallus Employer Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <inputReference>Assign_Lead_Values.newLead</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Search_Existing_Lead</name>
        <label>Search Existing Lead</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lead_found_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>sixMonthsAgo</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>existingLead</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Owner_Role_Check</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6 AND 7 AND 8 AND 9</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>005</stringValue>
            </value>
        </filters>
        <filters>
            <field>Principal_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sallus_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Company_Contact_First_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Company_Contact_Last_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Client_Company_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Company_State__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Number_of_Employees__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Number_of_Employees__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>500.0</numberValue>
            </value>
        </filters>
        <object>Proposal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Lead_Values</name>
        <label>Assign Lead Values</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
        <flowName>Proposal_Autolaunched_Assign_Lead_Values_From_Proposal</flowName>
        <inputAssignments>
            <name>leadType</name>
            <value>
                <elementReference>leadType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>proposalRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>existingLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>leadType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
