force-app/main/default/flows/Proposal_Button_Mark_Proposal_Expired.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Expiration_Status_Flag</name>
        <label>Add Expiration Status/Flag</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Proposal.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired Save/Share</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Proposal.Stage_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired Save/Share</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Proposal.Proposal_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpiryNotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <description>Record page button to mark a proposal as expired by setting stage flag and status to &quot;Expired Save/Share&quot; and appending the notes with &quot;Manually marked expired on {Today&apos;s Date}</description>
    <environments>Default</environments>
    <formulas>
        <name>ExpiryNotes</name>
        <dataType>String</dataType>
        <expression>&quot;Marked expired on: &quot; + TEXT(TODAY())+ &quot; by &quot; + {!$User.FirstName} + &quot; &quot;+{!$User.LastName}+ BR() +BR() +
{!Proposal.Proposal_Notes__c}</expression>
    </formulas>
    <interviewLabel>Proposal | Button | Mark Proposal Expired {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proposal | Button | Mark Proposal Expired</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get</name>
        <label>Get</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Expiration_Status_Flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Proposal__c</object>
        <outputReference>Proposal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Stage_Flag__c</queriedFields>
        <queriedFields>Proposal_Notes__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputReference>Proposal</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Proposal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Proposal__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
