force-app/main/default/flows/Proposal_After_Save_Create_Principal_Adv_n_TPA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Advisor_Lead</name>
        <label>Convert Advisor Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ModularAutoConvertLead</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>TPA_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>Assign_Principal_Advisor_Values.newLead.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ModularAutoConvertLead</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>$Record.Advisor_Account__c</assignToReference>
            <name>convertedAccountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>$Record.Advisor_Contact__c</assignToReference>
            <name>convertedContactId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Convert_TPA_Lead</name>
        <label>Convert TPA Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ModularAutoConvertLead</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_anyone_added_to_proposal</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>Assign_Principal_TPA_Values.newLead.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ModularAutoConvertLead</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>$Record.TPA_Account__c</assignToReference>
            <name>convertedAccountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>$Record.TPA_Contact__c</assignToReference>
            <name>convertedContactId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Advisor_Check</name>
        <label>Advisor Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>TPA_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_to_create_advisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Financial_Professional_Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Financial_Professional_First_Name__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Financial_Professional_Last_Name__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Financial_Professional_State__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Firm_Name__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Advisor_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Principal_Advisor_Values</targetReference>
            </connector>
            <label>Need to create advisor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_anyone_added_to_proposal</name>
        <label>Check if anyone added to proposal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_added_to_proposal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Advisor_Contact__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TPA_Contact__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commit_Proposal_Updates</targetReference>
            </connector>
            <label>Contact added to proposal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Role_Check</name>
        <label>Owner Role Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_RPC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RetirementPlanConsultant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Advisor_Check</targetReference>
            </connector>
            <label>Owner is RPC</label>
        </rules>
    </decisions>
    <decisions>
        <name>TPA_Check</name>
        <label>TPA Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_if_anyone_added_to_proposal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_to_create_TPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TPA_Sales_Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TPA_Sales_First_Name__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TPA_Sales_Last_Name__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>tpaState</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TPA_Firm_Name__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TPA_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Principal_TPA_Values</targetReference>
            </connector>
            <label>Need to create TPA</label>
        </rules>
    </decisions>
    <description>Creates Advisor and/or TPA for Simply Proposals once their information is added to the proposal and there isn&apos;t already a contact present.</description>
    <environments>Default</environments>
    <formulas>
        <name>tpaState</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.Company_State__c}, {!$Record.Financial_Professional_State__c})</expression>
    </formulas>
    <interviewLabel>Proposal | Create Principal Adv n TPA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proposal | After Save | Create Principal Adv n TPA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Advisor_Lead</name>
        <label>Create Advisor Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Convert_Advisor_Lead</targetReference>
        </connector>
        <inputReference>Assign_Principal_Advisor_Values.newLead</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_TPA_Lead</name>
        <label>Create TPA Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Convert_TPA_Lead</targetReference>
        </connector>
        <inputReference>Assign_Principal_TPA_Values.newLead</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Commit_Proposal_Updates</name>
        <label>Commit Proposal Updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Owner_Role_Check</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5))</filterLogic>
        <filters>
            <field>Principal_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Financial_Professional_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Advisor_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TPA_Sales_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TPA_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Proposal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Principal_Advisor_Values</name>
        <label>Assign Principal Advisor Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Advisor_Lead</targetReference>
        </connector>
        <flowName>Proposal_Autolaunched_Assign_Lead_Values_From_Proposal</flowName>
        <inputAssignments>
            <name>leadType</name>
            <value>
                <stringValue>Principal Advisor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>proposalRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Assign_Principal_TPA_Values</name>
        <label>Assign Principal TPA Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_TPA_Lead</targetReference>
        </connector>
        <flowName>Proposal_Autolaunched_Assign_Lead_Values_From_Proposal</flowName>
        <inputAssignments>
            <name>leadType</name>
            <value>
                <stringValue>Principal TPA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>proposalRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <triggerOrder>500</triggerOrder>
</Flow>
