force-app/main/default/flows/Proposal_Before_Update_Service_Option_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AE_None</name>
        <label>AE = None</label>
        <locationX>303</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Auto_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Min_Auto_Deferral_Percentage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Max_Auto_Deferral_Percentage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Auto_Deferral_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Owner_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hardship_no</name>
        <label>Hardship = no</label>
        <locationX>369</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hardships__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Auto_Enrollment_Def_Esc_Rate_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>prop_owner_opp_owner</name>
        <label>prop owner = opp owner</label>
        <locationX>369</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Simply_Prop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Effective_Date</name>
        <label>Set Default Effective Date</label>
        <locationX>116</locationX>
        <locationY>2687</locationY>
        <assignmentItems>
            <assignToReference>$Record.Plan_Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oneMonthFuture</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Default_Employee_Count</name>
        <label>Set Default Employee Count</label>
        <locationX>116</locationX>
        <locationY>2387</locationY>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Employees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>500.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Effective_Date_Null_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_entry_and_roth_values</name>
        <label>Set entry and roth values</label>
        <locationX>314</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>$Record.Plan_Entry_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Immediate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Roth_Contributions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Employee_Null_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_EACA_default</name>
        <label>Set to EACA default</label>
        <locationX>567</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Auto_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EACA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deferral_Changes_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SO_unbundled</name>
        <label>SO = unbundled</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>$Record.Service_Option__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simply Retirement Unbundled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Employee_Null_Check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Is the &quot;Auto Deferral / Escalation&quot; field blank?  If so, set auto enrollment to none and wipe auto deferral fields</description>
        <name>Auto_Enrollment_Def_Esc_Rate_Check</name>
        <label>Auto Deferral Check</label>
        <locationX>501</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Check_if_needs_auto_enrollment_default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Value present</defaultConnectorLabel>
        <rules>
            <name>No_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Auto_Enrollment_Deferral_Escalation_Rate__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AE_None</targetReference>
            </connector>
            <label>No value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_needs_auto_enrollment_default</name>
        <label>Check if needs auto enrollment default</label>
        <locationX>699</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Deferral_Changes_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Auto_Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Auto_Enrollment__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_EACA_default</targetReference>
            </connector>
            <label>Null Auto Enrollment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Simply_Prop</name>
        <label>Check if Simply Prop</label>
        <locationX>501</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Simply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Principal_Id__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Option_Update</targetReference>
            </connector>
            <label>Is Simply</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ensures that Simply Bundled Proposals have default values for Roth and Plan Entry Freq</description>
        <name>Default_Bundled_Field_Updates_Needed</name>
        <label>Default Bundled Field Updates Needed?</label>
        <locationX>446</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Employee_Null_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Default Stamp</defaultConnectorLabel>
        <rules>
            <name>Default_Stamp_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roth_Contributions__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plan_Entry_Frequency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X3_38__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OneDigital</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X3_38__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SRP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_entry_and_roth_values</targetReference>
            </connector>
            <label>Default Stamp Needed</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the deferral rate was changed or is new, then min and max values need to be set</description>
        <name>Deferral_Changes_Check</name>
        <label>Deferral Changes Check</label>
        <locationX>699</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Owner_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_min_max</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Auto_Enrollment_Deferral_Escalation_Rate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Auto_Enrollment_Deferral_Escalation_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_values_using_auto_enrollment_mdt</targetReference>
            </connector>
            <label>Needs min max</label>
        </rules>
    </decisions>
    <decisions>
        <name>Effective_Date_Null_Check</name>
        <label>Effective Date Null Check</label>
        <locationX>248</locationX>
        <locationY>2579</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_dummy_effective_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Plan_Effective_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Effective_Date</targetReference>
            </connector>
            <label>Need dummy effective date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employee_Null_Check</name>
        <label>Employee Null Check</label>
        <locationX>248</locationX>
        <locationY>2279</locationY>
        <defaultConnector>
            <targetReference>Effective_Date_Null_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_dummy_employee_count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Employees__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Employee_Count</targetReference>
            </connector>
            <label>Needs dummy employee count</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hardships</name>
        <label>Hardships</label>
        <locationX>501</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Auto_Enrollment_Def_Esc_Rate_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_hardships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hardships__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hardship_no</targetReference>
            </connector>
            <label>Null hardships</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Validation</name>
        <label>Owner Validation</label>
        <locationX>501</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>Check_if_Simply_Prop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proposal_Owner_Not_Matching</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>prop_owner_opp_owner</targetReference>
            </connector>
            <label>Proposal Owner Not Matching</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Option_Update</name>
        <label>Service Option Update</label>
        <locationX>248</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Default_Bundled_Field_Updates_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bundled</defaultConnectorLabel>
        <rules>
            <name>Unbundled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TPA_Included__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SO_unbundled</targetReference>
            </connector>
            <label>Unbundled</label>
        </rules>
    </decisions>
    <description>Updated plan effective date placeholder value to be 1 month in the future from proposal creation</description>
    <environments>Default</environments>
    <formulas>
        <name>oneMonthFuture</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.CreatedDate},1)</expression>
    </formulas>
    <interviewLabel>Proposal | Before Update | Service Option Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proposal | Before Update | Service Option Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Set_values_using_auto_enrollment_mdt</name>
        <label>Set values using auto enrollment mdt</label>
        <locationX>567</locationX>
        <locationY>1103</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Auto_Enrollment_Deferral_Escalation_Rate__c</elementReference>
            </value>
        </filters>
        <object>Auto_Enrollment_Deferral_Escalation_Rate__mdt</object>
        <outputAssignments>
            <assignToReference>$Record.Auto_Deferral_Type__c</assignToReference>
            <field>Auto_Deferral_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>$Record.Max_Auto_Deferral_Percentage__c</assignToReference>
            <field>Max_Auto_Deferral_Percentage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>$Record.Min_Auto_Deferral_Percentage__c</assignToReference>
            <field>Min_Auto_Deferral_Percentage__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Hardships</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Principal_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sallus_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Proposal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>simplyProposalStatuses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
