force-app/main/default/flows/Proposal_After_Save_Assignment_Task_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Jotform_Alert</name>
        <label>Send Jotform Alert</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Proposal__c.Jotform_Proposal_Generated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_who_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Proposal__c.Jotform_Proposal_Generated</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Alt alert that includes the proposal&apos;s lead source detail for select partnerships (mainly Leafhouse)</description>
        <name>Send_Principal_LSD_Proposal_Alert</name>
        <label>Send Principal LSD Proposal Alert</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <actionName>Proposal__c.Proposal_Generated_LSD_Specific</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_who_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Proposal__c.Proposal_Generated_LSD_Specific</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Principal_Proposal_Alert</name>
        <label>Send Principal Proposal Alert</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <actionName>Proposal__c.Proposal_Generated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_who_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Proposal__c.Proposal_Generated</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Quick_Quote_Notif</name>
        <label>Send Quick Quote Notif</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>Proposal__c.Quick_Quote_Generated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_who_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Proposal__c.Quick_Quote_Generated</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Sallus_Proposal_Alert</name>
        <label>Send Sallus Proposal Alert</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <actionName>Proposal__c.Sallus_Proposal_Generated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_who_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Proposal__c.Sallus_Proposal_Generated</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_default_task_values</name>
        <label>Assign default task values</label>
        <locationX>710</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>newTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Reach_Out_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_advisor_whoId</name>
        <label>Set advisor whoId</label>
        <locationX>446</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>newTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Advisor_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_default_task_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Jotform_Values</name>
        <label>Set Jotform Values</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>newTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Jotform Proposal - Reach Out to Referrer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Jotform_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Principal_Pricing_Values</name>
        <label>Set Principal Pricing Values</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>newTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Simply Quick Quote - Reach Out to Referrer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Quick_Quote_Notif</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Principal_Provisions_Values</name>
        <label>Set Principal Provisions Values</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>newTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Simply Retirement Proposal for {!$Record.Client_Company_Name__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Principal_Proposal_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sallus_Values</name>
        <label>Set Sallus Values</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>newTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Sallus Proposal From {!$Record.Advisor_Contact__r.Full_Name__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Sallus_Proposal_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Special_Principal_Provisions_Values</name>
        <label>Set Special Principal Provisions Values</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>newTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Simply Retirement {!$Record.Lead_Source_Detail__c} Proposal for {!$Record.Client_Company_Name__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Principal_LSD_Proposal_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_tpa_whoId</name>
        <label>Set tpa whoId</label>
        <locationX>710</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>newTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TPA_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_default_task_values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>😵‍💫</description>
        <name>Check_for_lsd</name>
        <label>Check for lsd</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Set_Principal_Provisions_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_lsd_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Source_Detail__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Special_Principal_Provisions_Values</targetReference>
            </connector>
            <label>Has lsd value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Proposal_Type</name>
        <label>Check Proposal Type</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Unknown</defaultConnectorLabel>
        <rules>
            <name>Jotform</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MML_Form_Values__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Jotform_Values</targetReference>
            </connector>
            <label>Jotform</label>
        </rules>
        <rules>
            <name>Principal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Principal_Id__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pricing_vs_Provisions</targetReference>
            </connector>
            <label>Principal</label>
        </rules>
        <rules>
            <name>Sallus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sallus_ID__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sallus_Values</targetReference>
            </connector>
            <label>Sallus</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_who_type</name>
        <label>Check who type</label>
        <locationX>710</locationX>
        <locationY>1115</locationY>
        <defaultConnector>
            <targetReference>Assign_default_task_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Advisor_Referred_Advisor_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referrer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Advisor_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_advisor_whoId</targetReference>
            </connector>
            <label>Advisor Referred - Advisor Present</label>
        </rules>
        <rules>
            <name>TPA_Referred_TPA_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referrer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TPA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TPA_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_tpa_whoId</targetReference>
            </connector>
            <label>TPA Referred - TPA Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricing_vs_Provisions</name>
        <label>Pricing vs Provisions</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_for_lsd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Provisions</defaultConnectorLabel>
        <rules>
            <name>Pricing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quick Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Principal_Pricing_Values</targetReference>
            </connector>
            <label>Pricing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Proposal | After Save | Assignment Task + Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proposal | After Save | Assignment Task + Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Reach_Out_Task</name>
        <label>Create Reach Out Task</label>
        <locationX>710</locationX>
        <locationY>1523</locationY>
        <connector>
            <targetReference>Uncheck_Pending_Alert</targetReference>
        </connector>
        <inputReference>newTask</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Uncheck_Pending_Alert</name>
        <label>Uncheck Pending Alert</label>
        <locationX>710</locationX>
        <locationY>1631</locationY>
        <inputAssignments>
            <field>Pending_Alert__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Proposal_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pending_Alert__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Proposal__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
