force-app/main/default/flows/Proposal_Autolaunched_Create_leads_from_proposal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_lead_create_collection</name>
        <label>Add to lead create collection</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>leads2Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lead_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_employer_values_from_proposal</name>
        <label>Assign employer values from proposal</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Lead_Loop.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProposal.Company_Contact_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Loop.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProposal.Company_Contact_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Loop.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProposal.Company_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Loop.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProposal.Number_of_Employees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Loop.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProposal.Lead_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Loop.LeadSourceDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProposal.Lead_Source_Detail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Loop.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProposal.Client_Company_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Loop.Method_of_First_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Referral</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Loop.Service_Option__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProposal.Service_Option__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Loop.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProposal.Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Loop.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProposal.Company_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Loop.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ubiquity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Loop.Associated_Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>associatedPartnerAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Loop.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProposal.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Loop.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Loop.Plan_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProposal.Plan_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Loop.Associated_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>associatedContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Loop.Associated_Contact_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Financial Advisor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Loop.Associated_Partner_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Financial Advisory Firm</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_lead_create_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_association_values</name>
        <label>Define association values</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>associatedPartnerAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>associatedContact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Partner_Account_using_Proposal_Advisor</name>
        <label>Define Partner Account using Proposal Advisor</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>associatedPartnerAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProposal.Advisor_Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Lead_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_leads_to_create</name>
        <label>Are there leads to create?</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_leads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputLeads</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead_Records</targetReference>
            </connector>
            <label>Pending leads</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_context</name>
        <label>Check context</label>
        <locationX>1287</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Purchase_linked_mini_partner_proposal</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>inputProposal.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121G000000AjeLQAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputProposal.Paradigm_Purchase_Link__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputProposal.isCalloutTriggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Referrer_Email_Check</targetReference>
            </connector>
            <label>Purchase linked mini partner proposal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_firm_on_proposal</name>
        <label>Partner firm on proposal?</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Lead_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Firm_name_no_direct_link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputProposal.Firm_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_partner_account_via_firm_name</targetReference>
            </connector>
            <label>Firm name no direct link</label>
        </rules>
        <rules>
            <name>Advisor_Account_Present_and_Advisor_Referred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputProposal.Advisor_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputProposal.Referrer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_Partner_Account_using_Proposal_Advisor</targetReference>
            </connector>
            <label>Advisor Account Present and Advisor Referred</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referrer_Email_Check</name>
        <label>Referrer Email Check</label>
        <locationX>941</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Partner_firm_on_proposal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Referrer_email_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputProposal.Referrer_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputProposal.Referrer_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>inputProposal.Company_Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputProposal.Company_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Referrer</targetReference>
            </connector>
            <label>Referrer email present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referrer_found_check</name>
        <label>Referrer found check</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Partner_firm_on_proposal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Referrer_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>associatedContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>associatedContact.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_association_values</targetReference>
            </connector>
            <label>Referrer found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_this</name>
        <label>Who this?</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Lead_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Job_creator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Loop.Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_employer_values_from_proposal</targetReference>
            </connector>
            <label>Job creator</label>
        </rules>
    </decisions>
    <description>Adding AC and AP roles</description>
    <environments>Default</environments>
    <interviewLabel>Proposal | Autolaunched | Create leads from proposal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proposal | Autolaunched | Create leads from proposal</label>
    <loops>
        <name>Lead_Loop</name>
        <label>Lead Loop</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <collectionReference>inputLeads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Who_this</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_leads_to_create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lead_Records</name>
        <label>Create Lead Records</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <inputReference>leads2Create</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Referrer</name>
        <label>Find Referrer</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Referrer_found_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputProposal.Referrer_Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>associatedContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_partner_account_via_firm_name</name>
        <label>Get partner account via firm name</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Lead_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputProposal.Firm_Name__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>associatedPartnerAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>1161</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_context</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>associatedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>associatedPartnerAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>inputLeads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>inputProposal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Proposal__c</objectType>
    </variables>
    <variables>
        <name>leadLoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>leads2Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
