force-app/main/default/flows/Proposal_After_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Manual_Assignment_Alert</name>
        <label>Send Manual Assignment Alert</label>
        <locationX>930</locationX>
        <locationY>4019</locationY>
        <actionName>Proposal__c.Partner_Proposal_Needs_Manual_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Unmark_Pending_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Proposal__c.Partner_Proposal_Needs_Manual_Assignment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Quick_Quote_Notif</name>
        <label>Send Quick Quote Notif</label>
        <locationX>1458</locationX>
        <locationY>3803</locationY>
        <actionName>Proposal__c.Quick_Quote_Generated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Quick_Quote_Reach_Out</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Proposal__c.Quick_Quote_Generated</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Sallus_Proposal_Generated_Alert</name>
        <label>Send Sallus Proposal Generated Alert</label>
        <locationX>1986</locationX>
        <locationY>3803</locationY>
        <actionName>Proposal__c.Sallus_Proposal_Generated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Reach_Out_Sallus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Proposal__c.Sallus_Proposal_Generated</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Simply_Proposal_Generated_Alert</name>
        <label>Send Simply Proposal Generated Alert</label>
        <locationX>1722</locationX>
        <locationY>3803</locationY>
        <actionName>Proposal__c.Proposal_Generated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Reach_Out_Simply</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Proposal__c.Proposal_Generated</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Advisor_to_Lead_Collection</name>
        <label>Add Advisor to Lead Collection</label>
        <locationX>1678</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>leads2Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newAdvisorLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TPA_Needed_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_TPA_Phone</name>
        <label>Add TPA Phone #</label>
        <locationX>1370</locationX>
        <locationY>2435</locationY>
        <assignmentItems>
            <assignToReference>newTPALead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_TPA_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_TPA_to_Collection</name>
        <label>Add TPA to Collection</label>
        <locationX>1502</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>leads2Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newTPALead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_leads_to_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Advisor_Values_to_Proposal</name>
        <label>Assign Advisor Values to Proposal</label>
        <locationX>1414</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.Advisor_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>advisorContact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Advisor_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>advisorContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Advisor_CRD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>advisorContact.CRD_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Advisor_NPN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>advisorContact.NPN_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TPA_Needed_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Staging_Queue</name>
        <label>Assign to Staging Queue</label>
        <locationX>402</locationX>
        <locationY>3695</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00GHo000001jfX0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Anything_to_update_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TPA_Values_to_Proposal</name>
        <label>Assign TPA Values to Proposal</label>
        <locationX>1106</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>$Record.TPA_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tpaContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TPA_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tpaContact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TPA_EIN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tpaContact.Account.Employer_Identification_Number_EIN__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_leads_to_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_issue_msg_to_notes</name>
        <label>Copy 1 of Add issue msg to notes</label>
        <locationX>1458</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Proposal_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>issueMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ownership_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ready_for_Assignment_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Advisor_Values_to_Proposal</name>
        <label>Copy 1 of Assign Advisor Values to Proposal</label>
        <locationX>734</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>$Record.Advisor_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prop_Value_Assignment_Loop.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Advisor_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prop_Value_Assignment_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Advisor_CRD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prop_Value_Assignment_Loop.CRD_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Advisor_NPN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prop_Value_Assignment_Loop.NPN_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prop_Value_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_TPA_Values_to_Proposal</name>
        <label>Copy 1 of Assign TPA Values to Proposal</label>
        <locationX>470</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>$Record.TPA_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prop_Value_Assignment_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TPA_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prop_Value_Assignment_Loop.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TPA_EIN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prop_Value_Assignment_Loop.Account.Employer_Identification_Number_EIN__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prop_Value_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Add_issue_msg_to_notes</name>
        <label>Copy 1 of Copy 1 of Add issue msg to notes</label>
        <locationX>1722</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Proposal_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>issueMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ready_for_Assignment_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Advisor_Lead_Simply</name>
        <label>Define Advisor Lead Simply</label>
        <locationX>1678</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>newAdvisorLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Financial_Professional_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdvisorLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Financial_Professional_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdvisorLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Financial_Professional_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdvisorLead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Financial_Professional_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdvisorLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Firm_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdvisorLead.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>401(k)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdvisorLead.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simply Retirement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdvisorLead.Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Major Partner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdvisorLead.Lead_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Advisor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdvisorLead.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Advisor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdvisorLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formattedState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdvisorLead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simply Retirement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdvisorLead.LeadSourceDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simply Advisor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdvisorLead.Method_of_First_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Referral</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdvisorLead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G1G000001ZWmt</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdvisorLead.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012000000000n0fAAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdvisorLead.Lead_Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ubiquity Generated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdvisorLead.Connected_Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simply Retirement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdvisorLead.Business_Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finance</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Advisor_to_Lead_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Issue_Message_Advisor</name>
        <label>Define Issue Message Advisor</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>issueMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;Proposal is missing an expected Advisor&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Were_the_expected_contacts_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Issue_Message_Both</name>
        <label>Define Issue Message Both</label>
        <locationX>578</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>issueMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;Proposal is missing an expected advisor and TPA&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Were_the_expected_contacts_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Issue_Message_TPA</name>
        <label>Define Issue Message TPA</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>issueMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;Proposal is missing an expected TPA&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Were_the_expected_contacts_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_TPA_Lead</name>
        <label>Define TPA Lead</label>
        <locationX>1502</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>newTPALead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TPA_Sales_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTPALead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TPA_Sales_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTPALead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TPA_Sales_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTPALead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TPA_Firm_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTPALead.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>401(k)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTPALead.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simply Retirement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTPALead.Lead_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TPA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTPALead.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TPA - Sales</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTPALead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simply Retirement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTPALead.LeadSourceDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simply TPA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTPALead.Method_of_First_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Referral</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTPALead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G1G000001ZWmt</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTPALead.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012000000000n0fAAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTPALead.Connected_Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simply Retirement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTPALead.Lead_Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ubiquity Generated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTPALead.Business_Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTPALead.Company_FEIN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TPA_EIN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTPALead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formattedState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_this_a_TPA_referral_QQ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Needs_Manual_Assignment</name>
        <label>Needs Manual Assignment</label>
        <locationX>930</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Ownership_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Proposal_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>advisorMismatchMsg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ready_for_Assignment_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Needs_manual_assignment2</name>
        <label>Needs manual assignment2</label>
        <locationX>1194</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Proposal_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>issueMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ownership_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ready_for_Assignment_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Second_Run_True</name>
        <label>Second Run True</label>
        <locationX>1546</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>secondRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_owner_API</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Correct_Record_Type_ID</name>
        <label>Set Correct Record Type ID</label>
        <locationX>2470</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>correctRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Advisor_Needed_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unmark_Pending_Alert</name>
        <label>Unmark Pending Alert</label>
        <locationX>1590</locationX>
        <locationY>4295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pending_Alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Anything_to_update_check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Advisor_Found_Check</name>
        <label>Advisor Found Check</label>
        <locationX>1766</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>TPA_Needed_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Advisor_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>advisorContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Advisor_Values_to_Proposal</targetReference>
            </connector>
            <label>Advisor Exists</label>
        </rules>
        <rules>
            <name>Create_Advisor_Simply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Financial_Professional_First_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Financial_Professional_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Financial_Professional_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Firm_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Needs_Advisor_Simply</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_Advisor_Lead_Simply</targetReference>
            </connector>
            <label>Create Advisor Simply</label>
        </rules>
        <rules>
            <name>Missing_Advisor_Sallus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sallus_Proposal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referrer_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Company_Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referrer_Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPA_Needed_Check</targetReference>
            </connector>
            <label>Missing Advisor Sallus</label>
        </rules>
    </decisions>
    <decisions>
        <name>Advisor_Needed_Check</name>
        <label>Advisor Needed Check</label>
        <locationX>1722</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>TPA_Needed_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_Advisor_Simply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Financial_Professional_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Advisor_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Simply_Retirement_Proposal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Locate_Advisor</targetReference>
            </connector>
            <label>Needs Advisor Simply</label>
        </rules>
        <rules>
            <name>Needs_Advisor_Sallus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referrer_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Advisor_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sallus_Proposal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Locate_Advisor_Sallus</targetReference>
            </connector>
            <label>Needs Advisor Sallus</label>
        </rules>
    </decisions>
    <decisions>
        <name>Alert_Type</name>
        <label>Alert Type</label>
        <locationX>1590</locationX>
        <locationY>3695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Problem_Catch</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Problem_Advisor_owned_by_someone_outside_of_BU</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>X2nd_Run_Problem_missing_advisor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>X2nd_Run_Problem_missing_both_advisor_and_tpa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>X2nd_Run_Problem_missing_tpa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Problem_Type</targetReference>
            </connector>
            <label>Problem Catch</label>
        </rules>
        <rules>
            <name>Quick_Quote_Generated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quick Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Quick_Quote_Notif</targetReference>
            </connector>
            <label>Quick Quote Generated</label>
        </rules>
        <rules>
            <name>Simply_Plan_Proposal_Generated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Principal_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Simply_Proposal_Generated_Alert</targetReference>
            </connector>
            <label>Simply Plan Proposal Generated</label>
        </rules>
        <rules>
            <name>Sallus_Proposal_Generated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sallus_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Sallus_Proposal_Generated_Alert</targetReference>
            </connector>
            <label>Sallus Proposal Generated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Anything_to_update_check</name>
        <label>Anything to update check</label>
        <locationX>1458</locationX>
        <locationY>4487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Record</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Advisor_Values_to_Proposal</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_to_Staging_Queue</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_TPA_Values_to_Proposal</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_Assign_Advisor_Values_to_Proposal</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_Assign_TPA_Values_to_Proposal</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Needs_manual_assignment2</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Correct_Record_Type_ID</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Unmark_Pending_Alert</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Needs_Manual_Assignment</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_Add_issue_msg_to_notes</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_Copy_1_of_Add_issue_msg_to_notes</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commit_Proposal_Updates</targetReference>
            </connector>
            <label>Update Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_leads_to_create</name>
        <label>Are there leads to create</label>
        <locationX>1722</locationX>
        <locationY>2903</locationY>
        <defaultConnector>
            <targetReference>Proposal_Verification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_collection_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leads2Create</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Leads</targetReference>
            </connector>
            <label>Lead collection not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Type_Check</name>
        <label>Contact Type Check</label>
        <locationX>734</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>Prop_Value_Assignment_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Prop_Value_Assignment_Loop.Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TPA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_TPA_Values_to_Proposal</targetReference>
            </connector>
            <label>TPA</label>
        </rules>
        <rules>
            <name>Advisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Prop_Value_Assignment_Loop.Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Advisor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Advisor_Values_to_Proposal</targetReference>
            </connector>
            <label>Advisor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_owner_API</name>
        <label>Is owner API</label>
        <locationX>1458</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Partner_Proposal_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X2nd_run_non_API_catch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>secondRun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0051G0000069uOpQAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005Uo000002Cn3pIAC</stringValue>
                </rightValue>
            </conditions>
            <label>2nd run non API catch</label>
        </rules>
        <rules>
            <name>Owner_non_API</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0051G0000069uOpQAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005Uo000002Cn3pIAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Proposal_Type</targetReference>
            </connector>
            <label>Owner non API</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_TPA_referral_QQ</name>
        <label>Is this a TPA referral QQ</label>
        <locationX>1502</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>Add_TPA_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QQ_From_TPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referrer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TPA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quick Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_TPA_Phone</targetReference>
            </connector>
            <label>QQ From TPA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Proposal_Type</name>
        <label>Partner Proposal Type</label>
        <locationX>1458</locationX>
        <locationY>779</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Simply_Retirement_Proposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Principal_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_Correct_Check</targetReference>
            </connector>
            <label>Simply Retirement Proposal</label>
        </rules>
        <rules>
            <name>Sallus_Proposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sallus_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_Correct_Check</targetReference>
            </connector>
            <label>Sallus Proposal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Problem_Type</name>
        <label>Problem Type</label>
        <locationX>930</locationX>
        <locationY>3803</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_Contact_s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ownership_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Missing_Contact_Task</targetReference>
            </connector>
            <label>Missing Contact(s)</label>
        </rules>
        <rules>
            <name>Invalid_Advisor_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>advisorContactOwnerValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Manual_Assignment_Task</targetReference>
            </connector>
            <label>Invalid Advisor Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proposal_Verification</name>
        <label>Proposal Verification</label>
        <locationX>1458</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>Ready_for_Assignment_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Problem_Advisor_owned_by_someone_outside_of_BU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Advisor_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>advisorContactOwnerValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Needs_Manual_Assignment</targetReference>
            </connector>
            <label>Problem - Advisor owned by someone outside of BU</label>
        </rules>
        <rules>
            <name>X2nd_Run_Problem_missing_both_advisor_and_tpa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>secondRun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Advisor_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TPA_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Define_Issue_Message_Both</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Needs_manual_assignment2</targetReference>
            </connector>
            <label>2nd Run Problem - missing both advisor and tpa</label>
        </rules>
        <rules>
            <name>X2nd_Run_Problem_missing_advisor</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>secondRun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Advisor_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Define_Issue_Message_Advisor</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Define_Issue_Message_Both</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Add_issue_msg_to_notes</targetReference>
            </connector>
            <label>2nd Run Problem - missing advisor</label>
        </rules>
        <rules>
            <name>X2nd_Run_Problem_missing_tpa</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>secondRun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TPA_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Define_Issue_Message_TPA</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Define_Issue_Message_Both</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Add_issue_msg_to_notes</targetReference>
            </connector>
            <label>2nd Run Problem - missing tpa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ready_for_Assignment_Check</name>
        <label>Ready for Assignment Check</label>
        <locationX>1458</locationX>
        <locationY>3587</locationY>
        <defaultConnector>
            <targetReference>Anything_to_update_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Push_to_DE</name>
            <conditionLogic>(1 OR (2 AND 4 AND 5)) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>secondRun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Leads</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Owner_non_API</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Missing_Advisor_Sallus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Staging_Queue</targetReference>
            </connector>
            <label>Push to DE</label>
        </rules>
        <rules>
            <name>Record_Newly_Assigned</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Owner_non_API</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pending_Alert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Type</targetReference>
            </connector>
            <label>Record Newly Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Correct_Check</name>
        <label>Record Type Correct Check</label>
        <locationX>1458</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Set_Correct_Record_Type_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X2nd_Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>secondRun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Contacts_to_Look_For</targetReference>
            </connector>
            <label>2nd Run</label>
        </rules>
        <rules>
            <name>Record_Type_Correct</name>
            <conditionLogic>(1 and 2) or (3 and 4)</conditionLogic>
            <conditions>
                <leftValueReference>Simply_Retirement_Proposal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121G000000RlheQAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sallus_Proposal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121G000000RlhjQAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Advisor_Needed_Check</targetReference>
            </connector>
            <label>Record Type Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>TPA_Found_Check</name>
        <label>TPA Found Check</label>
        <locationX>1458</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>Are_there_leads_to_create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TPA_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tpaContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TPA_Values_to_Proposal</targetReference>
            </connector>
            <label>TPA Exists</label>
        </rules>
        <rules>
            <name>Create_TPA_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TPA_Firm_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TPA_Sales_First_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TPA_Sales_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TPA_Sales_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_TPA_Lead</targetReference>
            </connector>
            <label>Create TPA Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>TPA_Needed_Check</name>
        <label>TPA Needed Check</label>
        <locationX>1722</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Are_there_leads_to_create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_TPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TPA_Sales_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TPA_Sales_First_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TPA_Sales_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TPA_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Locate_TPA</targetReference>
            </connector>
            <label>Needs TPA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_the_expected_contacts_found</name>
        <label>Were the expected contacts found</label>
        <locationX>446</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Proposal_Verification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceed_with_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contacts2Attach</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prop_Value_Assignment_Loop</targetReference>
            </connector>
            <label>Proceed with Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Contacts_to_Look_For</name>
        <label>Which Contacts to Look For</label>
        <locationX>446</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_Advisor_Only</name>
            <conditionLogic>1 AND (2 OR (6 AND 7)) AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Advisor_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Financial_Professional_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TPA_Sales_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TPA_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sallus_Proposal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referrer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referrer_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_New_Advisor_Contact</targetReference>
            </connector>
            <label>Need Advisor Only</label>
        </rules>
        <rules>
            <name>Need_TPA_Only</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TPA_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TPA_Sales_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Financial_Professional_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Advisor_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_New_TPA_Contact</targetReference>
            </connector>
            <label>Need TPA Only</label>
        </rules>
        <rules>
            <name>Need_Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Advisor_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TPA_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Financial_Professional_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TPA_Sales_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Both_New_Contacts</targetReference>
            </connector>
            <label>Need Both</label>
        </rules>
    </decisions>
    <description>Removed advisor lead creation for Sallus (covered by their api connection, leads created directly), adjusted formatted state formula to return null instead of &apos;Other&apos; when it can&apos;t find a match.

Handles proposals before distribution via DE.  Creates partner lead(s), connects contacts to proposal, assigns it to staging user/queue.  After assignment from DE this also sends alert and creates reach out task</description>
    <environments>Default</environments>
    <formulas>
        <description>Simply BU = Jason, Robby
Sallus BU = Jay, Jason, Robby</description>
        <name>advisorContactOwnerValid</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Simply_Retirement_Proposal} &amp;&amp; (CONTAINS({!$Record.Advisor_Contact__r.OwnerId},&quot;00500000006olCp&quot;) ||
CONTAINS({!$Record.Advisor_Contact__r.OwnerId},&quot;00500000006vlyn&quot;)),TRUE,
IF({!Sallus_Proposal} &amp;&amp; (CONTAINS({!$Record.Advisor_Contact__r.OwnerId},&quot;00500000006olCp&quot;) ||
CONTAINS({!$Record.Advisor_Contact__r.OwnerId},&quot;00500000006vlyn&quot;) ||
CONTAINS({!$Record.Advisor_Contact__r.OwnerId},&quot;0051G0000069ZJZ&quot;)),TRUE,FALSE))</expression>
    </formulas>
    <formulas>
        <name>advisorMismatchMsg</name>
        <dataType>String</dataType>
        <expression>IF({!advisorContactOwnerValid},&quot;Advisor owner mismatched with proposal owner&quot;,&quot;Advisor owned by someone outside of Business Unit&quot;)
+ BR() +
{!$Record.Proposal_Notes__c}</expression>
    </formulas>
    <formulas>
        <name>correctRecordTypeId</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Principal_Id__c})),&quot;0121G000000RlheQAC&quot;,
IF(NOT(ISBLANK({!$Record.Sallus_ID__c})),&quot;0121G000000RlhjQAC&quot;,&quot;ERROR NO VALID RECORD TYPE ID&quot;))</expression>
    </formulas>
    <formulas>
        <description>Converts financial professional state codes to full state name for lead creation.  If it can&apos;t find a state code match, returns null</description>
        <name>formattedState</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Financial_Professional_State__c},&apos;AL&apos;,&apos;Alabama&apos;,
&apos;AK&apos;,&apos;Alaska&apos;,
&apos;AZ&apos;,&apos;Arizona&apos;,
&apos;AR&apos;,&apos;Arkansas&apos;,
&apos;CA&apos;,&apos;California&apos;,
&apos;CO&apos;,&apos;Colorado&apos;,
&apos;CT&apos;,&apos;Connecticut&apos;,
&apos;DE&apos;,&apos;Delaware&apos;,
&apos;FL&apos;,&apos;Florida&apos;,
&apos;GA&apos;,&apos;Georgia&apos;,
&apos;HI&apos;,&apos;Hawaii&apos;,
&apos;ID&apos;,&apos;Idaho&apos;,
&apos;IL&apos;,&apos;Illinois&apos;,
&apos;IN&apos;,&apos;Indiana&apos;,
&apos;IA&apos;,&apos;Iowa&apos;,
&apos;KS&apos;,&apos;Kansas&apos;,
&apos;KY&apos;,&apos;Kentucky&apos;,
&apos;LA&apos;,&apos;Louisiana&apos;,
&apos;ME&apos;,&apos;Maine&apos;,
&apos;MD&apos;,&apos;Maryland&apos;,
&apos;MA&apos;,&apos;Massachusetts&apos;,
&apos;MI&apos;,&apos;Michigan&apos;,
&apos;MN&apos;,&apos;Minnesota&apos;,
&apos;MS&apos;,&apos;Mississippi&apos;,
&apos;MO&apos;,&apos;Missouri&apos;,
&apos;MT&apos;,&apos;Montana&apos;,
&apos;NE&apos;,&apos;Nebraska&apos;,
&apos;NV&apos;,&apos;Nevada&apos;,
&apos;NH&apos;,&apos;New Hampshire&apos;,
&apos;NJ&apos;,&apos;New Jersey&apos;,
&apos;NM&apos;,&apos;New Mexico&apos;,
&apos;NY&apos;,&apos;New York&apos;,
&apos;NC&apos;,&apos;North Carolina&apos;,
&apos;ND&apos;,&apos;North Dakota&apos;,
&apos;OH&apos;,&apos;Ohio&apos;,
&apos;OK&apos;,&apos;Oklahoma&apos;,
&apos;OR&apos;,&apos;Oregon&apos;,
&apos;PA&apos;,&apos;Pennsylvania&apos;,
&apos;RI&apos;,&apos;Rhode Island&apos;,
&apos;SC&apos;,&apos;South Carolina&apos;,
&apos;SD&apos;,&apos;South Dakota&apos;,
&apos;TN&apos;,&apos;Tennessee&apos;,
&apos;TX&apos;,&apos;Texas&apos;,
&apos;UT&apos;,&apos;Utah&apos;,
&apos;VT&apos;,&apos;Vermont&apos;,
&apos;VA&apos;,&apos;Virginia&apos;,
&apos;WA&apos;,&apos;Washington&apos;,
&apos;WV&apos;,&apos;West Virginia&apos;,
&apos;WI&apos;,&apos;Wisconsin&apos;,
&apos;WY&apos;,&apos;Wyoming&apos;,
&apos;DC&apos;,&apos;District of Columbia&apos;,
null)</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isnew()</expression>
    </formulas>
    <formulas>
        <name>newRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>referrerId</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISPICKVAL({!$Record.Referrer_Type__c},&quot;Advisor&quot;),NOT(ISBLANK({!$Record.Advisor_Contact__c}))),{!$Record.Advisor_Contact__c},
IF(AND(ISPICKVAL({!$Record.Referrer_Type__c},&quot;TPA&quot;),NOT(ISBLANK({!$Record.TPA_Contact__c}))),{!$Record.TPA_Contact__c},&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>Proposal | After Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proposal | After Save | Partner Proposal Assignment</label>
    <loops>
        <name>Prop_Value_Assignment_Loop</name>
        <label>Prop Value Assignment Loop</label>
        <locationX>382</locationX>
        <locationY>1703</locationY>
        <collectionReference>contacts2Attach</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contact_Type_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Proposal_Verification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Leads</name>
        <label>Create Leads</label>
        <locationX>1590</locationX>
        <locationY>3011</locationY>
        <connector>
            <targetReference>Proposal_Verification</targetReference>
        </connector>
        <inputReference>leads2Create</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Manual_Assignment_Task</name>
        <label>Create Manual Assignment Task</label>
        <locationX>930</locationX>
        <locationY>3911</locationY>
        <connector>
            <targetReference>Send_Manual_Assignment_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Partner Proposal - Needs Manual Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Missing_Contact_Task</name>
        <label>Create Missing Contact Task</label>
        <locationX>666</locationX>
        <locationY>3911</locationY>
        <connector>
            <targetReference>Unmark_Pending_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Partner Proposal - Missing Related Contact(s)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quick_Quote_Reach_Out</name>
        <label>Create Quick Quote Reach Out</label>
        <locationX>1458</locationX>
        <locationY>3911</locationY>
        <connector>
            <targetReference>Unmark_Pending_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Simply Quick Quote - Reach Out to Referrer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>referrerId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Reach_Out_Sallus</name>
        <label>Create Reach Out Sallus</label>
        <locationX>1986</locationX>
        <locationY>3911</locationY>
        <connector>
            <targetReference>Unmark_Pending_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Sallus Proposal From {!$Record.Advisor_Contact__r.Full_Name__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>referrerId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Reach_Out_Simply</name>
        <label>Create Reach Out Simply</label>
        <locationX>1722</locationX>
        <locationY>3911</locationY>
        <connector>
            <targetReference>Unmark_Pending_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Simply Retirement Proposal for {!$Record.Client_Company_Name__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>referrerId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Both_New_Contacts</name>
        <label>Find Both New Contacts</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Define_Issue_Message_Both</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TPA_Sales_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Financial_Professional_Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contacts2Attach</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>NPN_Number__c</queriedFields>
        <queriedFields>CRD_Number__c</queriedFields>
        <queriedFields>Role__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_New_Advisor_Contact</name>
        <label>Find New Advisor Contact</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Define_Issue_Message_Advisor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Financial_Professional_Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contacts2Attach</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>NPN_Number__c</queriedFields>
        <queriedFields>CRD_Number__c</queriedFields>
        <queriedFields>Role__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_New_TPA_Contact</name>
        <label>Find New TPA Contact</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Define_Issue_Message_TPA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TPA_Sales_Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contacts2Attach</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>NPN_Number__c</queriedFields>
        <queriedFields>CRD_Number__c</queriedFields>
        <queriedFields>Role__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Locate_Advisor</name>
        <label>Locate Advisor</label>
        <locationX>1150</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Advisor_Found_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Financial_Professional_Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>advisorContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CRD_Number__c</queriedFields>
        <queriedFields>NPN_Number__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Locate_Advisor_Sallus</name>
        <label>Locate Advisor Sallus</label>
        <locationX>1766</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Advisor_Found_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referrer_Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>advisorContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CRD_Number__c</queriedFields>
        <queriedFields>NPN_Number__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Locate_TPA</name>
        <label>Locate TPA</label>
        <locationX>1458</locationX>
        <locationY>2003</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TPA_Found_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TPA_Sales_Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>tpaContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Commit_Proposal_Updates</name>
        <label>Commit Proposal Updates</label>
        <locationX>1326</locationX>
        <locationY>4595</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1332</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_owner_API</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 AND ((2 AND 4) OR ((3 OR 7) and 5) OR (13 AND 8)) and 6 AND 9 AND 10 AND (11 OR 12) AND 14) OR 15</filterLogic>
        <filters>
            <field>Referrer_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TPA_Sales_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Financial_Professional_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TPA_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Advisor_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Plan_ID_First_Synced__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <dateValue>1982-08-25</dateValue>
            </value>
        </filters>
        <filters>
            <field>Advisor_CRD__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>Contains</operator>
            <value>
                <stringValue>0051G0000069uOp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired Save/Share</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Purchased</stringValue>
            </value>
        </filters>
        <filters>
            <field>Principal_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sallus_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Referrer_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pending_Alert__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Proposal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Conversion_and_Distribution_Time</name>
            <connector>
                <targetReference>Second_Run_True</targetReference>
            </connector>
            <label>Conversion and Distribution Time</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>advisorContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contacts2Attach</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>issueMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leads2Convert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>leads2ConvertIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leads2Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>newAdvisorLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>newTPALead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>secondaryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>secondRun</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>tpaContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
