force-app/main/default/flows/Proposal_After_Trigger_Match_Fin_Prof_Role_to_Advisor_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Fin_Prof_Role</name>
        <label>Update Fin Prof Role</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Advisor_Contact.Financial_Professional_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Financial_Professional_Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Advisor_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Found</name>
        <label>Contact Found?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Advisor_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Advisor_Contact.Financial_Professional_Role__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Financial_Professional_Role__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fin_Prof_Role</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When a proposal is created or edited, update the advisor contact record with the financial professional role from the proposal.</description>
    <environments>Default</environments>
    <interviewLabel>Proposal | After Trigger | Match Fin. Prof. Role to Advisor Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proposal | After Trigger | Match Fin. Prof. Role to Advisor Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Advisor_Contact</name>
        <label>Get Advisor Contact</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Advisor_Contact__r.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Advisor_Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Financial_Professional_Role__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Advisor_Contact</name>
        <label>Update Advisor Contact</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputReference>Advisor_Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Advisor_Contact</targetReference>
        </connector>
        <filterFormula>ISNEW() || ISCHANGED({!$Record.Financial_Professional_Role__c})</filterFormula>
        <object>Proposal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Advisor_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
