force-app/main/default/flows/Proposal_Scheduled_Grab_ZIP_From_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_1_to_Loop_Count</name>
        <label>Add 1 to Loop Count</label>
        <locationX>468</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reached_50_Loops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Zip</name>
        <label>Assign New Zip</label>
        <locationX>424</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>Initial_Proposal_Loop.Company_Zip_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountZipFirst5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Proposal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_off_Props_Updated</name>
        <label>Check off Props Updated</label>
        <locationX>424</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>PropsUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_to_Loop_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Loop_to_0</name>
        <label>Set Loop to 0</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropsUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Proposal_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Loop_to_0_0</name>
        <label>Set Loop to 0</label>
        <locationX>138</locationX>
        <locationY>1692</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropsUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Proposal_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Zip_Need_Update</name>
        <label>Does Zip Need Update?</label>
        <locationX>468</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>Add_1_to_Loop_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Update Needed</defaultConnectorLabel>
        <rules>
            <name>No_Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Initial_Proposal_Loop.Opportunity__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_to_Loop_Count</targetReference>
            </connector>
            <label>No Account Found</label>
        </rules>
        <rules>
            <name>Update_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Initial_Proposal_Loop.Company_Zip_Postal_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AccountZipFirst5</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountZipValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Zip</targetReference>
            </connector>
            <label>Update Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proposals_Found</name>
        <label>Proposals Found?</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Props_Were_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InitialProposalBatch</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Loop_to_0</targetReference>
            </connector>
            <label>Props Were Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reached_50_Loops</name>
        <label>Reached 50 Loops?</label>
        <locationX>468</locationX>
        <locationY>1452</locationY>
        <defaultConnector>
            <targetReference>Initial_Proposal_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue Loop</defaultConnectorLabel>
        <rules>
            <name>Cap_Reached_Prop_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PropsUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Pause</targetReference>
            </connector>
            <label>Cap Reached/Prop Updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountZipFirst5</name>
        <dataType>Number</dataType>
        <expression>VALUE(LEFT({!Initial_Proposal_Loop.Opportunity__r.Account.BillingPostalCode},5))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>AccountZipValid</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!Initial_Proposal_Loop.Opportunity__r.Account.BillingPostalCode})&gt;=5</expression>
    </formulas>
    <formulas>
        <name>NowMinus59Mins</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}-(59/60/24)</expression>
    </formulas>
    <formulas>
        <name>ThreeMonthsAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY()-90</expression>
    </formulas>
    <interviewLabel>Proposal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proposal | Scheduled | Grab ZIP From Account</label>
    <loops>
        <name>Initial_Proposal_Loop</name>
        <label>Initial Proposal Loop</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <collectionReference>InitialProposalBatch</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Zip_Need_Update</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Grab_Proposals_w_Ops</name>
        <label>Grab Proposals w/ Ops</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Proposals_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Option__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Simply Retirement</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>ThreeMonthsAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired Save/Share</stringValue>
            </value>
        </filters>
        <object>Proposal__c</object>
        <outputReference>InitialProposalBatch</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Company_Zip_Postal_Code__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Proposal</name>
        <label>Update Current Proposal</label>
        <locationX>424</locationX>
        <locationY>996</locationY>
        <connector>
            <targetReference>Check_off_Props_Updated</targetReference>
        </connector>
        <inputReference>Initial_Proposal_Loop</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Grab_Proposals_w_Ops</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-09-08</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InitialProposalBatch</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Proposal__c</objectType>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PropsUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Loop_Pause</name>
        <label>Loop Pause</label>
        <locationX>270</locationX>
        <locationY>1572</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>BriefPause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Set_Loop_to_0_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>NowMinus59Mins</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>BriefPause</label>
        </waitEvents>
    </waits>
</Flow>
