force-app/main/default/flows/PurchaseAPI_Helper_Add_Sources.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_single_to_Payload_collection</name>
        <label>add single to Payload collection</label>
        <locationX>270</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>addSources</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleAddSource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Sources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_add_single_to_Payload_collection</name>
        <label>Add single to Payload collection</label>
        <locationX>974</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>addSources</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleAddSource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Sources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_3_of_add_single_to_Payload_collection</name>
        <label>Add single to Payload collection</label>
        <locationX>1238</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>addSources</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleAddSource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Sources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_3_of_map_Sources_to_Payload</name>
        <label>Map Sources to Payload</label>
        <locationX>1238</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>singleAddSource.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.SourceId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.sourceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.SourceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.vestingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_vestingId_Settings.Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.requiredAge.year</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eligibilityAgeInteger</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.requiredAge.month</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.entry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.serviceEligibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceEligibility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.effectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>planEffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.grandfatherDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Proposal.Grandfather_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.contributorType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.ContributorType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.planSourceFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.Plan_Source_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_3_of_add_single_to_Payload_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_map_Sources_to_Payload</name>
        <label>Map Sources to Payload</label>
        <locationX>974</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>singleAddSource.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.SourceId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.sourceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.SourceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.vestingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>safeHarborVestingId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.requiredAge.year</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eligibilityAgeInteger</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.requiredAge.month</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.entry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.serviceEligibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceEligibility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.planSourceFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.Plan_Source_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.effectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>planEffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.grandfatherDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Proposal.Grandfather_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.contributorType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.ContributorType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_add_single_to_Payload_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_add_single_to_Payload_collection</name>
        <label>Add single to Payload collection</label>
        <locationX>710</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>addSources</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleAddSource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Sources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_map_Sources_to_Payload</name>
        <label>Map Sources to Payload</label>
        <locationX>710</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>singleAddSource.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.SourceId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.sourceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.SourceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.requiredAge.year</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eligibilityAgeInteger</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.requiredAge.month</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.entry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.serviceEligibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceEligibility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.effectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>planEffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.grandfatherDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Proposal.Grandfather_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.contributorType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.ContributorType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.planSourceFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.Plan_Source_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_add_single_to_Payload_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_add_single_to_Payload_collection</name>
        <label>Add single to Payload collection</label>
        <locationX>1502</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>addSources</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleAddSource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Sources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_map_Sources_to_Payload</name>
        <label>Map Sources to Payload</label>
        <locationX>1502</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>singleAddSource.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.SourceId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.sourceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.SourceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.vestingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_vestingId_Settings.Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.requiredAge.year</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eligibilityAgeInteger</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.requiredAge.month</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.entry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.serviceEligibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceEligibility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.effectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>effetiveDateProfitSharing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.grandfatherDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Proposal.Grandfather_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.contributorType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.ContributorType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.planSourceFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.Plan_Source_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_add_single_to_Payload_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>map_Sources_to_Payload</name>
        <label>map Sources to Payload</label>
        <locationX>270</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>singleAddSource.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.SourceId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.sourceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.SourceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.requiredAge.year</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eligibilityAgeInteger</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.requiredAge.month</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.entry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.serviceEligibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceEligibility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.effectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>planEffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.grandfatherDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Proposal.Grandfather_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.contributorType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.ContributorType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAddSource.planSourceFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Sources.Plan_Source_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_single_to_Payload_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Eligibility_Age_populated</name>
        <label>Is Eligibility Age populated?</label>
        <locationX>402</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Loop_thru_Sources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Proposal.Eligibility_Age__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>map_Sources_to_Payload</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Profit_Sharing_Match_Vesting_Schedule_c_populated</name>
        <label>Profit_Sharing_Match_Vesting_Schedule__c populated ?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>QACA_Safe_Harbor_Vesting_Schedule_c_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Proposal.Profit_Sharing_Match_Vesting_Schedule__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_vestingId_Settings</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>QACA_Safe_Harbor_Vesting_Schedule_c_populated</name>
        <label>QACA_Safe_Harbor_Vesting_Schedule__c	populated ?</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Get_Sources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Proposal.QACA_Safe_Harbor_Vesting_Schedule__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_QACA_Safe_Harbor_vestingId_Settings</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Source_Identified</name>
        <label>Source Identified?</label>
        <locationX>1084</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Loop_thru_Sources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Sources.isRequired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Eligibility_Age_populated</targetReference>
            </connector>
            <label>Employee Pretax</label>
        </rules>
        <rules>
            <name>Roth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Sources.Roth_Contributions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_Proposal.Roth_Contributions__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Proposal.Roth_Contributions__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Proposal.Roth_Contributions__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_map_Sources_to_Payload</targetReference>
            </connector>
            <label>Roth</label>
        </rules>
        <rules>
            <name>Safe_Harbor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Sources.Safe_Harbor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_Proposal.Safe_Harbor__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Proposal.Safe_Harbor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_map_Sources_to_Payload</targetReference>
            </connector>
            <label>Safe Harbor</label>
        </rules>
        <rules>
            <name>Discretionary_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Proposal.Discretionary_Match__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Proposal.Discretionary_Match__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_thru_Sources.Discretionary_Match__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_Proposal.Discretionary_Match__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_thru_Sources.Discretionary_Match_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_Proposal.Discretionary_Match_Formula__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_3_of_map_Sources_to_Payload</targetReference>
            </connector>
            <label>Discretionary Match</label>
        </rules>
        <rules>
            <name>Profit_Sharing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Proposal.Profit_Sharing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Proposal.Profit_Sharing__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_thru_Sources.Profit_Sharing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_map_Sources_to_Payload</targetReference>
            </connector>
            <label>Profit Sharing</label>
        </rules>
    </decisions>
    <description>Adding Eligibility Age check for sources
Adding effectiveDate logic for Prior Year Profit Sharing Contribution</description>
    <environments>Default</environments>
    <formulas>
        <description>Will be used for effectiveDate where id = 10</description>
        <name>effetiveDateProfitSharing</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISPICKVAL({!get_Proposal.Plan_Type__c}, &quot;New Plan&quot;),
    IF(
        ISPICKVAL({!get_Proposal.Prior_Year_Profit_Sharing_Contribution__c}, &quot;Yes&quot;),
        {!get_Proposal.Profit_Sharing_Plan_Effective_Date__c},
        IF(
            ISPICKVAL({!get_Proposal.Prior_Year_Profit_Sharing_Contribution__c}, &quot;No&quot;),
           {!get_Proposal.Plan_Effective_Date__c},
            IF(
                ISBLANK(TEXT({!get_Proposal.Prior_Year_Profit_Sharing_Contribution__c})),
                {!get_Proposal.Plan_Effective_Date__c},
                NULL
            )
        )
    ),
    IF(
        ISPICKVAL({!get_Proposal.Plan_Type__c}, &quot;Conversion Plan&quot;),
         {!get_Proposal.Original_Effective_Date__c},
        NULL
    )
)</expression>
    </formulas>
    <formulas>
        <name>eligibilityAgeInteger</name>
        <dataType>Number</dataType>
        <expression>
IF( ISPICKVAL({!get_Proposal.Eligibility_Age__c}, &quot;None&quot;), 
0, 
VALUE(TEXT({!get_Proposal.Eligibility_Age__c})))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>eligibilityAgeMonth</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!eligibilityAgeInteger}), NULL, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Value will be determined based on a Plan_Entry_Frequency__c</description>
        <name>entry</name>
        <dataType>String</dataType>
        <expression>
CASE(TEXT({!get_Proposal.Plan_Entry_Frequency__c}),
  &quot;Immediate&quot;, &quot;DAILY&quot;,
  &quot;Monthly&quot;, &quot;MONTHLY&quot;,
  &quot;Quarterly&quot;, &quot;QUARTERLY&quot;,
  &quot;Semi-Annually&quot;, &quot;SEMI_ANNUALLY&quot;,
&quot;OTHER&quot;
)</expression>
    </formulas>
    <formulas>
        <description>This will be effetiveDate for all Sources other than ID=10 (Profit Sharing Source)</description>
        <name>planEffectiveDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISPICKVAL({!get_Proposal.Plan_Type__c}, &quot;New Plan&quot;),
     {!get_Proposal.Plan_Effective_Date__c},
    IF(
        ISPICKVAL({!get_Proposal.Plan_Type__c}, &quot;Conversion Plan&quot;),
         {!get_Proposal.Original_Effective_Date__c},
        NULL
    )
)</expression>
    </formulas>
    <formulas>
        <description>Will be used to populate vestingId for Safe Harbor Source</description>
        <name>safeHarborVestingId</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK(TEXT({!get_Proposal.QACA_Safe_Harbor_Vesting_Schedule__c})), 1, {!Get_QACA_Safe_Harbor_vestingId_Settings.Id__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>This will be calculated based of Plan_Eligibilty__c value</description>
        <name>serviceEligibility</name>
        <dataType>String</dataType>
        <expression>
CASE(TEXT({!get_Proposal.Plan_Eligibility__c}),
  &quot;Immediate&quot;, &quot;IMMEDIATE&quot;,
  &quot;One Month&quot;, &quot;ONE_MONTH&quot;,
  &quot;Two Months&quot;, &quot;TWO_MONTHS&quot;,
  &quot;Three Months&quot;, &quot;THREE_MONTHS&quot;,
 &quot;6 Months&quot;, &quot;SIX_MONTHS&quot;,
 &quot;1 Year (1000 Hours)&quot;, &quot;ONE_YEAR_HOURS&quot;,
 &quot;1 Year&quot;, &quot;TWELVE_MONTHS&quot;,
&quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>PurchaseAPI Helper | Add Sources {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PurchaseAPI Helper | Add Sources</label>
    <loops>
        <name>Loop_thru_Sources</name>
        <label>Loop thru Sources</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <collectionReference>Get_Sources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Source_Identified</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Proposal</name>
        <label>get Proposal</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Profit_Sharing_Match_Vesting_Schedule_c_populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Proposal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get vestingId for QACA Safe Harbor Vesting Schedule</description>
        <name>Get_QACA_Safe_Harbor_vestingId_Settings</name>
        <label>Get QACA Safe Harbor vestingId Settings</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QACA_Safe_Harbor_Vesting_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Proposal.QACA_Safe_Harbor_Vesting_Schedule__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vesting_Id__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sources</name>
        <label>Get Sources</label>
        <locationX>182</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Sources</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AddSources__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get vestingId for Employer Match and Profit Sharing Vesting Schedule</description>
        <name>Get_vestingId_Settings</name>
        <label>Get Matching and PS vestingId Settings</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QACA_Safe_Harbor_Vesting_Schedule_c_populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Profit_Sharing_Match_Vesting_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Proposal.Profit_Sharing_Match_Vesting_Schedule__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vesting_Id__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Proposal</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>A list of sources for purchase Payload</description>
        <name>addSources</name>
        <apexClass>ExternalService__PostParadigmPurchaseLink_Getx20Paradigmx20Purchasex20Link_IN_body_addSources</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>purchasePayload</name>
        <apexClass>ExternalService__PostParadigmPurchaseLink_Getx20Paradigmx20Purchasex20Link_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requiredAge</name>
        <apexClass>ExternalService__PostParadigmPurchaseLink_Getx20Paradigmx20Purchasex20Link_IN_body_requiredAge</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Selected sources based on Proposal Criteria</description>
        <name>resultSourceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AddSources__mdt</objectType>
    </variables>
    <variables>
        <name>singleAddSource</name>
        <apexClass>ExternalService__PostParadigmPurchaseLink_Getx20Paradigmx20Purchasex20Link_IN_body_addSources</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
