force-app/main/default/flows/Purchase_API_Callout_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Email_Exception_to_Dev</name>
        <label>Email Exception to Dev</label>
        <locationX>842</locationX>
        <locationY>924</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>dontrespond@myubiquity.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>MML Proposal - failed to get authentication token</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBodyAuthenticationException</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>0031G00001UG0HZQA1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_Exception_to_Dev</name>
        <label>Email Exception to Dev</label>
        <locationX>314</locationX>
        <locationY>1032</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>dontrespond@myubiquity.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>MML Proposal - failed to get purchase link</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>{!emailBodyPurchaseException}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>0031G00001UG0HZQA1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Error_Log</name>
        <label>Error Log</label>
        <locationX>446</locationX>
        <locationY>816</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Which_Org</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Purchase API - Callout Trigger</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>ErrorLog</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_Log</name>
        <label>Success Log</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Purchase API - Callout Trigger</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SuccessLog</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_link_URL</name>
        <label>Assign link URL</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>$Record.Paradigm_Purchase_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>purchaseLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Plan_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>planId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.isCalloutTriggered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted for Purchase</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggering_Proposal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Purchase_Erros</name>
        <label>Assign Purchase Erros</label>
        <locationX>446</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>$Record.Errors__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>purchaseCalloutResponseException</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.isCalloutTriggered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Triggering_Proposal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Token_Errors</name>
        <label>Assign Token Errors</label>
        <locationX>974</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>$Record.Errors__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tokenCalloutResponseException</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.isCalloutTriggered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Update_Triggering_Proposal</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Purchase API Trigger Callout Flow Executed</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Callout_Result</name>
        <label>Callout Result</label>
        <locationX>710</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Purchase_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>purchaseCalloutResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>purchaseLink</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>planId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_link_URL</targetReference>
            </connector>
            <label>Purchase Success</label>
        </rules>
        <rules>
            <name>Purchase_Failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>purchaseCalloutResponseCode</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>400.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Purchase_Erros</targetReference>
            </connector>
            <label>Purchase Failure</label>
        </rules>
        <rules>
            <name>Access_Token_400</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tokenCalloutResponseCode</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>400.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Token_Errors</targetReference>
            </connector>
            <label>Access Token 400</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Which_Org</name>
        <label>Which Org ?</label>
        <locationX>974</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_PROD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Org_Info.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Email_Exception_to_Dev</targetReference>
            </connector>
            <label>PROD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Org</name>
        <label>Which Org ?</label>
        <locationX>446</locationX>
        <locationY>924</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PROD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Org_Info.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Exception_to_Dev</targetReference>
            </connector>
            <label>PROD</label>
        </rules>
    </decisions>
    <description>Changing sender email to dontrepond@ and adding logging</description>
    <environments>Default</environments>
    <interviewLabel>Purchase API - Trigger Callout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase API - Callout Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Org_Info</name>
        <label>Get Org Info</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Purchase_API_Get_Purchase_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Triggering_Proposal</name>
        <label>Update Triggering Proposal</label>
        <locationX>446</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Error_Log</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Triggering_Proposal</name>
        <label>Update Triggering Proposal</label>
        <locationX>974</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Copy_1_of_Which_Org</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Proposal</name>
        <label>Update Triggering Proposal</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Success_Log</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Lead_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MML</stringValue>
            </value>
        </filters>
        <filters>
            <field>isCalloutTriggered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Proposal__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Org_Info</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Makes Callout to Paradigm to get purchase Link</description>
        <name>Purchase_API_Get_Purchase_Link</name>
        <label>Purchase API | Get Purchase Link</label>
        <locationX>710</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Callout_Result</targetReference>
        </connector>
        <flowName>Purchase_API_Get_Purchase_Link</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>advisorCalloutResponceException</assignToReference>
            <name>advisorCalloutResponceException</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>advisorCalloutResponseCode</assignToReference>
            <name>advisorCalloutResponseCode</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>firmCalloutResponseCode</assignToReference>
            <name>firmCalloutResponseCode</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>firmCalloutResponseException</assignToReference>
            <name>firmCalloutResponseException</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>planId</assignToReference>
            <name>planId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>purchaseCalloutResponseCode</assignToReference>
            <name>purchaseCalloutResponseCode</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>purchaseCalloutResponseException</assignToReference>
            <name>purchaseCalloutResponseException</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>purchaseLink</assignToReference>
            <name>purchaseLink</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>tokenCalloutResponseCode</assignToReference>
            <name>tokenCalloutResponseCode</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>tokenCalloutResponseException</assignToReference>
            <name>tokenCalloutResponseException</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>emailBodyAuthenticationException</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello Moe,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is to inform you that Callout Trigger Flow was executed and exception occurred while retrieving the authentication token.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Response Code : {!tokenCalloutResponseCode}&lt;/p&gt;&lt;p&gt;Errors : {!tokenCalloutResponseException}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailBodyPurchaseException</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello Moe,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is to inform you that Callout Trigger Flow was executed and exception occurred while retrieving the purchase link.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Response Code : {!purchaseCalloutResponseCode}&lt;/p&gt;&lt;p&gt;Errors : {!purchaseCalloutResponseException}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorLog</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Purchase API - Callout Trigger failed for  MML {!$Record.Name} - {!$Record.Client_Company_Name__c}
Purchase Errors: {!purchaseCalloutResponseException}</text>
    </textTemplates>
    <textTemplates>
        <name>SuccessLog</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>MML {!$Record.Name} Proposal was sent successfully to Paradigm!
Purchase Link - {!purchaseLink}
Plan id - {!planId}</text>
    </textTemplates>
    <triggerOrder>1700</triggerOrder>
    <variables>
        <name>advisorCalloutResponceException</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>advisorCalloutResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>firmCalloutResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>firmCalloutResponseException</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>planId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>proposalToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Proposal__c</objectType>
    </variables>
    <variables>
        <name>purchaseCalloutResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>purchaseCalloutResponseException</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>purchaseLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>responseCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tokenCalloutResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>tokenCalloutResponseException</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
