force-app/main/default/flows/Sales_Lead_Assignment_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>myRule_1</name>
        <label>Non-Test Lead Created</label>
        <locationX>413</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Non-Test Lead Created</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>1 AND NOT 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Recommendation_Engine_Results__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@test.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gaconnector_GCLID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Non-Test Lead Created</label>
        </rules>
        <rules>
            <name>Google_PPC_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.gaconnector_GCLID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Lead_Fields</targetReference>
            </connector>
            <label>Google PPC Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>JPM Microsite Lead Created</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>myRule_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_JPM Microsite Lead Created</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.campaign_code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JPM Microsite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@test.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>TRUE_JPM Microsite Lead Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5</name>
        <label>Test Lead Created</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>FALSE_Test Lead Created</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@test.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@mailinator.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@prksqasimply.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>TRUE_Test Lead Created</label>
        </rules>
    </decisions>
    <description>Rolled Google PPC flow into this. Updated the decision element to check the new GCLID field instead of the deprecated field.</description>
    <environments>Default</environments>
    <interviewLabel>Sales | Lead Assignment Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales | Lead Assignment Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Lead_Fields</name>
        <label>Copy 1 of Update Lead Fields</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Paid Ads</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSourceDetail__c</field>
            <value>
                <stringValue>Google Ads</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method_of_First_Contact__c</field>
            <value>
                <stringValue>Recommendation Engine</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G37000000ksAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>$Record.Product_Type_Recommendation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Option__c</field>
            <value>
                <elementReference>$Record.Service_Option_Recommendation__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Update Lead Fields</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Method_of_First_Contact__c</field>
            <value>
                <stringValue>Recommendation Engine</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G37000000ksAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>$Record.Product_Type_Recommendation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Option__c</field>
            <value>
                <elementReference>$Record.Service_Option_Recommendation__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_3_A1</name>
        <label>Update Lead Fields</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G37000000ksAD</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_5_A1</name>
        <label>Update Lead Fields</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00500000006vmbu</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>287</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>GCLID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Recommendation_Engine_Results__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>campaign_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JPM Microsite</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>Contains</operator>
            <value>
                <stringValue>@prksqasimply.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>Contains</operator>
            <value>
                <stringValue>@test.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>Contains</operator>
            <value>
                <stringValue>@mailinator.com</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
