force-app/main/default/flows/Support_Activity_Update_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>myRule_1</name>
        <label>Split Case</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>myRule_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Split Case</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Splited_From__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Split Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4</name>
        <label>Email Sent</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>FALSE_Email Sent</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Email Sent</label>
        </rules>
    </decisions>
    <description>Migrated from the Support | Activity Update Email process using multiple criteria.
Checks &quot;Activity&quot; checkbox on cases when an email is sent.   Used to flag Activity Yes/No.</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_1_myRule_1_A1_6249609756</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Email Message| After Trigger | Activity Update Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Message| After Trigger | Activity Update Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Close 1st Milestone</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>55737000000CafB</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>formula_1_myRule_1_A1_6249609756</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent.CaseMilestones</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>EmailMessage</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>myRule_4_A1</name>
        <label>Complete 1st Milestone</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <flowName>Support_First_Milestone_Completed</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
