force-app/main/default/flows/Transition_Before_Trigger_Auto_Fill_Fields_on_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Custodian_Decision</name>
        <label>Custodian Decision</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Custodian_Id_or_Account_Id</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PlanToCheck.Custodian__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PlanToCheck.Custodian_Account_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Transition_Name_And_Service_Option</targetReference>
            </connector>
            <label>No Custodian Id or Account Id</label>
        </rules>
        <rules>
            <name>Matric_07C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlanToCheck.Custodian__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MG Trust Company, LLC.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PlanToCheck.Matrix_07C_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_with_Matrix_Info</targetReference>
            </connector>
            <label>Matric 07C</label>
        </rules>
        <rules>
            <name>Custodian_Id_or_Account_Id_Found</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>PlanToCheck.Custodian__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PlanToCheck.Custodian_Account_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PlanToCheck.Custodian__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MG Trust Company, LLC.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PlanToCheck.Custodian__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MG Trust Company, LLC.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PlanToCheck.Matrix_07C_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PlanToCheck.Custodian_Account_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SO_TN_Custodian_and_Custodian_Id</targetReference>
            </connector>
            <label>Custodian Id and Account Id Found</label>
        </rules>
    </decisions>
    <description>When Transition is created, check Custodian and Custodian Account Id/Matrix 07C on Plan, and fill in Transition custodian info.</description>
    <environments>Default</environments>
    <interviewLabel>Transition | Before Trigger | Auto-Fill Fields on Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transition | Before Trigger | Auto-Fill Fields on Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetPlanInfo</name>
        <label>GetPlanInfo</label>
        <locationX>446</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Custodian_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Plan__c</elementReference>
            </value>
        </filters>
        <object>Plan__c</object>
        <outputReference>PlanToCheck</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Custodian__c</queriedFields>
        <queriedFields>Custodian_Account_ID__c</queriedFields>
        <queriedFields>Matrix_07C_Account__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Service_Option__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SO_TN_Custodian_and_Custodian_Id</name>
        <label>Update SO, TN, Custodian, and Custodian Id</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Custodian_Account_ID__c</field>
            <value>
                <elementReference>PlanToCheck.Custodian_Account_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custodian__c</field>
            <value>
                <elementReference>PlanToCheck.Custodian__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PlanToCheck.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Option__c</field>
            <value>
                <elementReference>PlanToCheck.Service_Option__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Transition_Name_And_Service_Option</name>
        <label>Update Transition Name And Service Option</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PlanToCheck.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Option__c</field>
            <value>
                <elementReference>PlanToCheck.Service_Option__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_with_Matrix_Info</name>
        <label>Update with Matrix Info</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Custodian_Account_ID__c</field>
            <value>
                <elementReference>PlanToCheck.Matrix_07C_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custodian__c</field>
            <value>
                <elementReference>PlanToCheck.Custodian__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PlanToCheck.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Option__c</field>
            <value>
                <elementReference>PlanToCheck.Service_Option__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPlanInfo</targetReference>
        </connector>
        <object>Transition__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PlanToCheck</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan__c</objectType>
    </variables>
</Flow>
