force-app/main/default/flows/Update_Partner_Client_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Sales</name>
        <label>Email Sales</label>
        <locationX>2127</locationX>
        <locationY>190</locationY>
        <actionName>Contact.Grandfathered_Partner_No_Longer_Active</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Grandfathered_Partner_No_Longer_Active</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Client_Status</name>
        <label>Assign Client Status</label>
        <locationX>1603</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>partnerClientStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_Active_Clients.Partner_Client_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Active_Clients</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Association_Exist</name>
        <label>Does Association Exist?</label>
        <locationX>555</locationX>
        <locationY>49</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Grandfathered_Partner</name>
        <label>Grandfathered Partner?</label>
        <locationX>1964</locationX>
        <locationY>195</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGFP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grandfathered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Sales</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Active_Clients</name>
        <label>Has Active Clients</label>
        <locationX>1413</locationX>
        <locationY>522</locationY>
        <defaultConnector>
            <targetReference>Check_for_Active_Clients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoActiveClients</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Active_Clients.Partner_Client_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Past Client(s)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Client_Status</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_is_Active</name>
        <label>Opportunity is Active</label>
        <locationX>846</locationX>
        <locationY>473</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_ACs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACLoop.Plan_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Account_Past_Clients</name>
        <label>Update Account?</label>
        <locationX>1612</locationX>
        <locationY>195</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>partnerClientStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Past Client(s)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <description>Update Partner Client Status on Contact if all Plans are Inactive</description>
    <interviewLabel>Update Partner Client Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plan | Process | Update Partner Client Status</label>
    <loops>
        <name>Check_for_Active_Clients</name>
        <label>Check for Active Clients</label>
        <locationX>1422</locationX>
        <locationY>196</locationY>
        <collectionReference>Get_All_Associates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_Active_Clients</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_Past_Clients</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_ACs</name>
        <label>Loop Through ACs</label>
        <locationX>855</locationX>
        <locationY>208</locationY>
        <assignNextValueToReference>ACLoop</assignNextValueToReference>
        <collectionReference>Get_All_Associations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opportunity_is_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Advisor</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Associates</name>
        <label>Get All Associates</label>
        <locationX>1256</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Active_Clients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Associations</name>
        <label>Get All Associations</label>
        <locationX>855</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_ACs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Association</name>
        <label>Get Association</label>
        <locationX>390</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Association_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial Advisor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Associated_Contact__c</object>
        <outputAssignments>
            <assignToReference>ACRecord.Contact__c</assignToReference>
            <field>Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ACRecord.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>716</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Associations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ACRecord.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1837</locationX>
        <locationY>193</locationY>
        <connector>
            <targetReference>Grandfathered_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Partner_Client_Status__c</field>
            <value>
                <stringValue>Past Client(s)</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Advisor</name>
        <label>Update Advisor</label>
        <locationX>1098</locationX>
        <locationY>201</locationY>
        <connector>
            <targetReference>Get_All_Associates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Partner_Client_Status__c</field>
            <value>
                <stringValue>Past Client(s)</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Association</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ACLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Associated_Contact__c</objectType>
    </variables>
    <variables>
        <name>ACRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Associated_Contact__c</objectType>
    </variables>
    <variables>
        <name>LeadLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>NewCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>partnerClientStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
